[2018-02-14 07:43] simonbuchan commented on #338
Note that if you are actually using multiple bundles, you need to do some magic to affect the `file` for external files, the simplest is `eval(source + '\n//# sourceURL=' + url)`, but that only works for remote debugging. JavaScriptCore will simply not include eval-sourced frames, which is a pain. I suspect if I expose the native `JSEvaluateScript` in a RN plugin I could get that working, and be m

[2018-02-14 09:53] jukben commented on #338
Good to hear that you have some progress with it! I'm keeping my fingers crossed. 💪

[2018-02-14 11:36] satya164 commented on #362
We say in the configuration docs that you should merge the passed config yourself. https://github.com/callstack/haul/blob/master/docs/Configuration.md

It's not possible for Haul to intelligently merge config automatically. It'll be flaky and also prevent people from overriding stuff when they actually need to.

[2018-02-14 11:36] #362 closed

[2018-02-15 08:58] deepsweet opened #368 "HMR on Android: "TypeError: Attempting to change value of readonly property""
### Current Behavior

I've followed the HMR setup guide and HMR on Android fails with `TypeError: Attempting to change value of readonly property` while trying to apply changes. Works totally fine on iOS.

![screenshot](https://user-images.githubusercontent.com/266822/36248055-114da69e-122e-11e8-897d-e0b609dff71b.png)

### Expected Behavior

Should just work like on iOS :)

### Haul Configuration

[2018-02-15 11:44] zamotany opened #369 "Investigate custom React Native environment target for Webpack"
Webpack allows to pass custom `target`, currently we use `webworker` one, however while working on migration to Webpack 4 we have faced few non-trivial issues, it might be a better idea to create our custom templates for Webpack _bootstrap code_, which would be still based on `webworker` but with few changes.

[2018-02-15 11:51] zamotany commented on #368
We are aware of this issue, but without a reproduction repository with the same dependencies are in your project, we cannot do much, so it would really help if you could create a repo.

[2018-02-15 12:04] zamotany commented on #346
Can you try using `path.join(__dirname, 'node_modules/rn-placeholder')` instead of regex in `include` property?

Btw the regex should be either `/\.js$/` or `/\.jsx?$`

[2018-02-15 12:12] thymikee commented on #369
Let's do this!

[2018-02-15 17:48] deepsweet commented on #368
Unfortunately it's a rather complicated setup and private project. I'll try to extract something reproducible.

Also I can do some debugging on my side and provide results if you can guide me.

[2018-02-15 17:52] zamotany commented on #368
You can try logging `type` and `uniqueLocalName` by placing `console.log` here: https://github.com/callstack/haul/blob/master/src/hot/client/hotPatch.js#L59

There should be only logs of components, any other functions might be the ones breaking it, so please post them if you find any.

[2018-02-15 18:35] ScottPierce commented on #338
@simonbuchan Would this provide both types of source-maps for both production and dev builds? Where would this code end up going? The `app.post('/symbolicate', (req, res) => {` is clearly in the `simbolicateMiddleware.js`. What about the `(compiler.compilers || [compiler]).forEach(compiler => {` code block?

[2018-02-15 18:37] ScottPierce commented on #338
@simonbuchan Also, I don't understand your comment about multiple bundles. Can you explain that better? I'm not sure I have any context for what the "multiple bundles" would be.

[2018-02-15 18:59] simonbuchan commented on #338
This is symbolicate only, but I mention how it interacts with existing source map plugins. I wrote this as part of a standalone haul equivalent, so no places for things to go strictly (which is part of why this isn't a PR yet), the first is a webpack plugin (without the standard class wrapper) that grabs the source maps from assets as they are generated, including updates during watch, the second

[2018-02-15 21:15] TheLarkInn commented on #70
Wait, even if webpack requires the DOM, that is just for the target: web, if you use target: node, webpack will use just require statements! Has anyone played with this yet?

[2018-02-15 21:22] thymikee commented on #70
We use web workers target as closest to what plays nice with RN. While migrating to webpack 4 however, we feel like creating our own custom target to get rid of some nasty hacking

[2018-02-15 21:29] TheLarkInn commented on #70
Besides the importScripts and eval, is there a reason the generic node target wasn't sufficient.

[2018-02-15 21:32] satya164 commented on #70
@TheLarkInn not that I know of. The only reason is the script loading mechanism. You can check the comments here https://github.com/callstack/haul/pull/182#discussion_r125022108

[2018-02-15 22:45] zamotany commented on #70
Here are the considirations I have when it comes to using `node` target:
* RN doesn't have any `require`, `module`, `__filename`, `__dirname` variables defined, so there cannot be even single` require` call (unless we provide a async polyfill for it)
* How would `node` target download `hot-update{.json,.js}`?
* JS engine on Android is ancient and supports only ES5, so no new syntax/APIs in bootstr

[2018-02-15 22:50] zamotany commented on #338
This might be relevant:
#399 not only will remove problems with MultiCompiler mode, but it will use both eval source mas and source maps for respectively debugger and symbolicate middleware. Unfortunatelly it has some performance cost, but we will try to minimize it in follow-up PRs.

[2018-02-16 01:27] simonbuchan commented on #338
I've found inline source maps work fine for remote debugging, so my current setup is (basically) `new SourceMapDevToolPlugin({ filename: bundle && '[file].map' })`, which is equivalent  to `devtool: bundle ? 'module-source-map' : 'inline-module-source-map'`. This is slower for dev, but I haven't gotten `cheap` to work properly yet for me. This will always set the `asset.__SourceMapDevToolData[sour

[2018-02-16 22:34] FLGMwt commented on #325
Hi! I started poking at this on a flight if that's alright :)

Anything we're looking for aside from making the current markdown docs available? And any preference for color scheme?

I don't have a bunch of UX chops, but I can get the skeleton and wireup PR'd in the next week.

[2018-02-17 08:48] thymikee commented on #325
Awesome! Docs are enough for starters :) Pick whatever color you like that matches our logo and we can iterate.
cc @grabbou

[2018-02-17 10:00] zamotany commented on #325
@FLGMwt One thing to keep in mind: docosaurus doesn't support nested directories in `docs` so you need to update markdown files itself to make them flat.

[2018-02-19 09:11] mtimofiiv opened #371 "SVG assets do not seem to load"
### Current Behavior

I have a pretty early stage RN app (testing it in the iOS simulator), so there's not much custom stuff in it, but I am using Haul. I have some SVG images I wanted to use in it, and am attempting to display them using:

[code]

What's happening is that the image is not showing up in place. The packager instance is showing the following:

[code]

The bundle is served and the im

[2018-02-19 10:23] satya164 commented on #371
React Native doesn't support SVG images. That's probably why it doesn't show up.

[2018-02-19 10:23] #371 closed

[2018-02-19 10:28] mtimofiiv commented on #371
Ok, thanks, I guess I was not aware.

[2018-02-22 11:33] #356 closed

[2018-02-22 19:02] PeterKottas opened #373 "index.android.bundle problem"
### Current Behavior
App breaks with red screen of death. The error reads:
"Can't find variable: document (http://10.0.2.2:8081)/index.bundle?platform=android&dev=true&minify=false:3"

Haul server says
GET /index.android.bundle 500 undefined - 3.402 ms
POST /symbolicate 404 151 - 1.223 ms

I verified that I can in fact open http://10.0.2.2:8081)/index.bundle, however the app seems to be asking for

[2018-02-22 19:04] PeterKottas commented on #373
Btw, I've checked some issues that appears to be talking about similar topic but found nothing that would have helped with my problem. All of those were either marked as fixed, or provided workarounds that didn't work for me.

[2018-02-22 20:14] zamotany commented on #373
Logs within Haul will be always pointing to `GET /index.android.bundle` even though `index.bundle` will be served. This for backwards comaptibility reasons.

Please confirm you can get a actual bundle at `http://localhost:8081/index.bundle?platform=android` and make sure it contains JS code not any html tags, which might happen if server cannot find requested file.

[2018-02-22 20:43] PeterKottas commented on #373
Ok good to know that about logs, I though that was the problem.
Yep I can get the file http://localhost:8081/index.bundle?platform=android in the browser and on the emulator. I also tried removing the output.filename (only put it there to try to fix the problem) but nothing changed.

[2018-02-22 20:48] PeterKottas commented on #373
In fact, it actually loads http://10.0.2.2:8081/index.bundle ... just for completeness sake. That's obviously the way to connect to host machine which is just an implementation detail on android I guess. It works via localhost as well though.

[2018-02-22 22:40] zamotany commented on #373
Yeah, `10.0.2.2` is mapped to `localhost` within android emulator/device.
The error _Can't find variable: document_ means that there is some code, which tries to use `document` variable, which is not available in React Native.

So, you should look at the stack trace, probably it will point to `index.bundle`, so then find that line in bundle code and scroll up to see the module path. Then you'll kn

[2018-02-22 22:44] PeterKottas commented on #373
Thanks mate, it was definitely a confusion cause by that log line that mentioned index.android.bundle and the face the I aliased 'react-native': 'react-native-web'. Now it's all good. Thanks again for this cool tool! I'll be in touch if I find something of real value.

[2018-02-22 22:44] #373 closed

[2018-02-23 13:45] thymikee commented on #325
Note: we have a reserved domain `haulcli.org`, would be nice to hook it up!

[2018-02-27 21:20] baygeldin commented on #362
I'm not sure that just closing the issue is the right way. I think that the issue should be addressed somehow, because merging plugins that are already used internally in Haul is extremely unconvinient and it doesn't documented anywhere. This is the only way I could get it working:
[code]
I do agree that merging should be done manually, but not this way (it's an unreliable and unconvinient ad hoc

[2018-02-28 07:57] jukben commented on #362
This would be lots of easier with this PR https://github.com/callstack/haul/pull/372, still in the progress but I hope it will be soon in the master! Stay tuned. 🙏

[2018-02-28 14:42] jukben opened #375 "Properly document all CLI options"
### Current Behavior
e.g There is no sign about `--config` option

### Expected Behavior
`--config` should be documented

[2018-02-28 16:50] FLGMwt opened #376 "`haul init` clobbers existing project.ext.react gradle config"
### Current Behavior
`haul init` adds the following block to my project's `android/app/build.gradle` above the `react.gradle` import, which overwrites my existing `project.ext.react` assignment.

[code]

### Expected Behavior
`haul init` should merge the new `cliPath` property into `project.ext.react` config if it exists, *or* fall back to the current behavior and create a new `project.ext.react`

[2018-03-01 10:11] zamotany commented on #376
Maybe we should change the way we update `android/app/build.gradle` to use some diffing library like `jsdiff` and just apply a patch by only overwriting `cliPath`? @satya164 @Krizzu @jukben @thymikee

[2018-03-01 11:16] thymikee commented on #376
If that helps the case, but we can also search for existing `project.ext.react` and bailout with a proper warning to the user

[2018-03-01 12:19] baygeldin commented on #362
@jukben sounds great. I looked through the PR, but couldn't understand how it could solve the problem for DefinePlugin though. Could you elaborate a bit? Thanks!

[2018-03-01 12:29] zamotany commented on #376
Well I was thinking about having a patch fixture containing:
[code]
then we would diff it against the actual file, if user already has `project.ext.react` the diff would be smaller and only `cliPath` will be overwritten. Or sth along those lines (detailed explanation in progress).

[2018-03-01 12:31] satya164 commented on #376
Whatever works :D

(patiently waiting)

[2018-03-01 15:16] FLGMwt commented on #376
I think we can get away with not doing anything clever string-wise (since we'd have to deal with comments. Since we're doing the replacing right about the `react.gradle` import and I *think* we can be reasonably sure this is the furthest down in the config that the user would assign their own `ext.react` values, how about just swapping out the snippet with a graceful initialization of `ext.react`

[2018-03-01 18:44] tutts opened #378 "JS Exception while creating Release build with Xcode"
### Current Behavior

Hi 👋

Haul works perfectly in xcode while the Build Configuration in the Schema is set to `Debug`, however running as `Release` seems to cause the app to crash after building.

On build the packager loads and bundles successfully:

[code]

Installs onto the simulator (or device) and then throws an exception:

[code]

Had a look as to what might be causing it, and I _think_ it

[2018-03-01 20:38] Krizzu commented on #378
Hey @tutts
We already fixed that https://github.com/callstack/haul/pull/363

Going to release soon, hopefully, cc @grabbou @satya164

[2018-03-01 20:39] #378 closed

[2018-03-01 22:02] tutts commented on #378
oh snap! amazing, thanks so much. I searched through all the open/closed issues but not the MRs. Doh! Thanks for the amazing work guys.

[2018-03-03 15:19] ndillon1 opened #379 "[ Android ] Unable to hot reload whilst debugging JS remotely"
### Current Behaviour
Run the following command
`yarn run haul start --platform android`
The app bundles successfully however when trying to hot reload components , I am receiving the following errors
`http://10.0.2.2:8081/0.508ca35a4baeb9f81480.hot-update.js net::ERR_CONNECTION_TIMED_OUT`

[code]

Please note that in the terminal I see
`GET /508ca35a4baeb9f81480.hot-update.json 200 43 - 0.451 ms`

[2018-03-03 15:43] ndillon1 commented on #379
Update: This issue only occurs when Debugging JS Remotely

[2018-03-04 08:27] Krizzu commented on #379
CC @zamotany

[2018-03-05 07:54] thymikee commented on #379
@czystyl is this similar to what we face on webpack 4 branch?

[2018-03-05 09:26] czystyl commented on #379
Yes, the same problem 😕

[2018-03-05 09:33] thymikee commented on #379
Cool, so it's not a regression then and we're good to merge webpack branch

[2018-03-05 09:36] czystyl commented on #379
But still need to fix it ;)

[2018-03-05 09:36] thymikee commented on #379
Yep, but let's do it as a followup

[2018-03-05 11:45] tutts opened #380 "Xcode sometimes opens Metro instead of Haul on first build."
### Current Behavior
Hello 👋

So sometimes when running a `debug` build in xcode (usually after changing branches or after a `yarn add` (but this might be coincidental), running `build` sometimes opens the Metro packager instead of Haul, after killing it and then building again it opens Haul.

I'm also able to recreate this consistently in my Gitlab Pipeline, the runner attempts to build the IPA a

[2018-03-05 13:10] savelichalex commented on #341
Oh my, looks like I found workaround with this issue. The problem is big bundle size (with sourcemaps etc), in this case node fail with `keepAliveTimeout`, so I set `httpServer.keepAliveTimeout = 30000` (in `src/server/index.js`) and it's working now.

[2018-03-05 20:12] ndillon1 commented on #379
@thymikee @czystyl do you have a timeline on when this will be fixed ? Would like to integrate this into my react-native project as soon as possible

[2018-03-05 20:15] thymikee commented on #379
@ndillon1 no timeline, but that's a high priority fix.

[2018-03-06 11:32] ferrannp opened #382 "Can't make Haul to work with Realm"
### Current Behavior
Compiling fails.

### Expected Behavior
To compile.

### Haul Configuration (webpack.haul.js)
Default.

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  1.0.0-beta.13
| react-native     |  0.50.3
| node             |  8.4.0
| yarn      | 1.5.1
| realm | 2.2.13

Stacktrace:

[code]

[2018-03-06 14:21] jukben commented on #362
You are right. In this case, the effect would be the same. It will be cleaner, but you have to still find the plugin and rewrite it manually.

[2018-03-06 16:03] satya164 commented on #362
@baygeldin with the new config format you can use something like [webpack-merge](https://github.com/survivejs/webpack-merge) to do the merging. I think it's better that we don't try to solve this problem because there are other tools which try to solve it already.

[2018-03-06 16:47] baygeldin commented on #362
That's a good point. Although looking at `webpack-merge` sources I'm not sure if it can merge plugins configuration, but it can swap plugins though. Anyway, `babel-plugin-transform-inline-environment-variables` works perfectly for my usecase, so it's okay. Thanks for your help. Keep it up, Haul is a great tool :)

[2018-03-07 17:12] lavaxun commented on #303
I encountered HMR issue after I pinned RN version to 0.51 in Windows 10.
Also tested across few environments and I found this strange behaviour.

1. ios + hot reload + rn 0.53 + mac = **working**
2. android + hot reload + rn 0.53 + mac = **not working**
3. android + hot reload + rn 0.51 + mac = **working**
4. android + hot reload + rn 0.51 + windows = **not working**

current react native version

[2018-03-08 22:16] ShahOfMEC opened #383 "Fix version numbers"
I was going through the version numbers for haul and it didnt make sense to me. I see v1.0.0 was released in June 15, 2017. But then more beta versions of 1.0.0 is being created after that, eg - 1.0.0-beta.0, 1.0.0-beta.1, etc? I believe you would release the beta versions(pre-release) before you release a final version and hence the version numbers for release after 1.0.0 should have been v1.0.1-

[2018-03-09 00:43] gastonmorixe opened #384 "Cannot read property 'find' of undefined"
[code]

[2018-03-09 08:06] satya164 commented on #384
Can you post a repro? It's not really possible to know what's happening without a repro.

[2018-03-09 08:31] gastonmorixe commented on #384
Sorry :/ don’t have time. Just gave up and went back to metro. It happens when adding the auto way for config HMR. Otherwise it works ok.

Still I couldn’t make  symlinks neither so. Had to rollback.

Thanks

Best,

Gaston
L

Sent from my iPhone

[2018-03-09 23:43] rdy opened #385 "Haul support for other platforms"
I'm looking to use haul to add support for other platforms.

Would there be any objection to looking in the project root for the rn-cli.config.js which metro uses to allow a place to specify the platforms.

For example:
`rn-cli.config.js`
[code]

We could read the file to grab the platforms out as well as add additional modules using haste.
[code]

This would allow haul to be used in a similar way

[2018-03-10 08:18] thymikee commented on #385
Cc @zamotany

[2018-03-10 09:08] Kottidev opened #386 "Module build failed: TypeError: Cannot read property 'afterCompile' of undefined"
### Current Behavior

[code]
### Expected Behavior

it's an error with ts-loader ?
https://github.com/TypeStrong/ts-loader/issues/729

### Haul Configuration (webpack.haul.js)

[code]

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |   1.0.0-beta.13
| react-native     |   0.54.0
| node             | v8.10.0
| yarn      | 1.3.2

[2018-03-10 11:51] Krizzu commented on #386
Hi @Kottidev
Looks like this error occurs if you try to use this loader with webpack version other than 4.

We haven't released Haul with webpack 4 yet, so please try to use ts-loader version 3.5.0.

[2018-03-10 20:31] dbuarque commented on #382
Hey @ferrannp did have found a solution for that?

[2018-03-11 14:44] zamotany commented on #382
The error is caused by dynamic `require` here: https://github.com/realm/realm-js/blob/e53cb3c7b14df7c9d8ca50e03e5c02f95b8f1154/lib/user-methods.js#L26-L28
which from the Webpack point of view cannot be statically analysed hence the error.

[2018-03-11 15:15] zamotany commented on #385
@rdy Can you make a repository demonstrating this idea??

[2018-03-11 16:51] rdy commented on #385
sure thing, happy to do so. i was just checking to see if the approach seemed sound. i'll put something together.

[2018-03-11 17:41] dbuarque commented on #382
Hey @zamotany, thanks for the answer, can I do something about this in webpack config?

[2018-03-12 23:56] rdy commented on #385
I sent a PR #388 to demonstrate the idea, I'm happy to make adjustments to make it work. I based it against on the commit right before webpack 4 just because in my test application I can't migrate it over safely.

There are a couple of interesting changes, I had to suppress the duplicate haste module error, and instead I just took the first one, but other than that it is pretty straightforward.

I

[2018-03-13 17:12] rdy opened #389 "EvalSourceMapDevToolPlugin can break some dev platforms"
In some js environments it isn't safe or allowed to use `EvalSourceMapDevToolPlugin`.  By default this appears to be injected in dev mode. Is there any reason not to look at the `devtool` property in the webpack config and choose `eval` if devtool isn't specified? Otherwise we could choose a different source map plugin based on the devtool settings. We could attempt to honor some of the settings,

[2018-03-14 11:09] #379 closed

[2018-03-14 11:12] zamotany commented on #389
The source map is a tricky problem here: we need `eval-source-map` for debugger and `source-map` for symbolicate middleware to get proper filenames and lines in red screen within the app.

[2018-03-14 16:40] AleksandrZhukov commented on #301
Hi @jurajkrivda
Can you explain the solution for this issue?

[2018-03-14 17:19] rdy commented on #389
I think I'd like to keep the existing behavior, but allow the eval-source-map to be disabled. In the general case I think `EvalSourceMapDevToolPlugin` is fine\, I'm working with a platform for eval isn't allowed so I need a hook to turn it off. Wasn't there a time where `source-map` was used also in `__DEV__` mode. What does the debugger need exactly from the eval-source-map? The `source-map` and

[2018-03-15 22:09] hendrul commented on #350
@canercandan why closing this issue instead of attaching an enhancement tag?

[2018-03-15 22:23] canercandan commented on #350
@hendrul I leave this decision to the project collaborators cc @thymikee thanks

[2018-03-20 22:20] aaronkchsu opened #390 "Using Haul Packager to Build an iOS Release Bundle"
### Current Behavior
I am using Haul packager with RN and for some reason I can build the app in dev mode, but when i change the schema to release and I try to build the app it launches the app and crashes. I am not sure, but I think this occurred after a react upgrade.

### Expected Behavior
Have haul properly bundle an iOS build for release and instructions on how to test that bundle locally on

[2018-03-21 11:15] Krizzu commented on #390
Hey @aaronkchsu , thanks for filling up the issue.

Can you try to bundle your app without `output` specified in `webpack.haul.js` ? My guess is that it overrides default RN naming, so your app in release mode cannot find the file with default name.

Also, if you run your app (in prod mode) from xcode, can you have a look into the logs for potential error message?

Thanks!

[2018-03-21 11:24] thymikee commented on #390
The access to the project would be very helpful. If the crash happens after running the app, it may be connected with uglify producing faulty output.

[2018-03-21 13:31] meznaric opened #391 "App crashes if debugging enabled and error is in the bundle"
**Current Behavior**
Open the app, bundle loads, error flickers for a split second (if lucky) and then app crashes.

**Expected Behavior**
Open the app, bundle loads, error is shown and the app doesn't crash.

**Notes:**
 - Happens only when "Debug in JS" is turned on
 - The error in this specific case is undefined Variable. __SOMETHING_DEFINED__ || 'default-value';
 - Erasing emulator content and

[2018-03-21 14:20] aaronkchsu commented on #390
Thanks so much for the quick responses guys! @thymikee @Krizzu So this is the output from the xcode project!
[code]

 I tried removing the output but it still gives the same error.

@thymikee The project is on gitlab! Do you happen to have a gitlab tag I could invite you to?

And that is interesting! What's the best way to play around with the uglify settings to see if we can get this to work? Tha

[2018-03-21 14:38] aaronkchsu commented on #390
Thanks @thymikee! Just to make sure.. is this correct where would I put "haul": "git://github.com/callstack/haul.git" in package.json to pull from master? I did that.. but when i try to run`haul start` for the ios bundle I get these warnings and it seems like it is stalling at 65%!

[code]

[2018-03-21 14:41] thymikee commented on #390
Can you try this commit specifically?
[code]
We've upgraded to webpack 4 on master but still need some work to get the deprecation warnings fixed.

[2018-03-21 14:56] aaronkchsu commented on #390
IT WORKED! @thymikee you are my hero.

[2018-03-22 07:30] Krizzu commented on #390
Just to clarify - we have fixed the issue, just need a release :)

[2018-03-22 07:46] krystiansliwa opened #392 "Haul is not bundling when use custom build type on Android"
Hi,
yesterday I have encounter problem with bundling Android release version of my app.
It look like haul is not called at all when use custom release build type.

When I call `NODE_ENV=development ./gradlew assembleAppDev` or `NODE_ENV=test ./gradlew assembleAppTest` then haul packager is not bundling at all. When use `NODE_ENV=development ./gradlew assembleRelease` it works.

I am using NODE_ENV

[2018-03-22 09:05] FredyC commented on #392
In a default `android/app/build.gradle` there is this big commented part. Perhaps you might want to try that? I am not sure if Haul is respecting that settings, but it's a worth the try.

[code]

[2018-03-22 09:09] krystiansliwa commented on #392
Ok I spend whole day on it and found problem ;).
For others:
When you are using custom build types or product flavours you need to specify some keys in build.gradle which corresponds to your custom build types.
Here are what you need to add:
[code]

Summarising problem is not with haul and issue can be closed.

[2018-03-22 09:11] krystiansliwa commented on #392
@FredyC Yes now I found that and haul and hauls is respecting that config so it now just works ;)
That's happen when you don't check commented code ;)

[2018-03-22 09:11] #392 closed

[2018-03-24 16:49] Traviskn commented on #126
I was running into this issue where image assets from a library I had symlinked (via npm link) weren't loading, and @itaym2's solution worked perfectly for me, images from the linked library now load as expected!

[2018-03-28 14:27] you-fail-me opened #394 "Two developer menus pop up on ios simulator"
### Current Behavior
When I go to `Hardware -> Shake gesture` on ios simulator I get two menus popping up. Doesn't seem to break anything but is weird.

### Expected Behavior
A single menu should pop up

### Haul Configuration (webpack.haul.js)
[code]

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  1.0.0-beta.13
| react-native     |  0.54.0
|

[2018-03-28 16:45] satya164 commented on #394
Can you post a screenshot please?

[2018-03-29 02:02] tkow commented on #334
I'm sorry to reopen issue. I want to ask you for detox integration.
I cannot disable delta bundles running
[code]
command and an error emitted  show.

![2018-03-29 10 52 11](https://user-images.githubusercontent.com/7004725/38065717-b256629c-333f-11e8-94cf-6bb3cfb3e317.png)

Even if we unchecked using DeltaBundles' check box and restart running test, it doesn't work and the same error shows.

Can

[2018-03-29 10:25] Anu1601CS commented on #386
@Kottidev Thanks You save my life. It works for me :)

[2018-03-29 13:12] Exulansis commented on #382
Did anyone manage to move forward on this?

[2018-03-29 13:24] FredyC commented on #382
As far as I know, the Webpack does not support dynamic require except using `require.context` (non-standard) and with Webpack 4 there should be support for dynamic import. I think you need to open issue in Realm repo to support Webpack, there is nothing Haul can do about this. But hey, I am no expert here :)

[2018-03-29 14:41] goodmind opened #395 "Cannot GET /debugger-ui/"
### Current Behavior

Cannot GET /debugger-ui/
### Expected Behavior

Open React Native debugger
### Haul Configuration (webpack.haul.js)

https://gist.github.com/goodmind/2c5d5a3c83ab8c8f77330ce260e0014e
### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  1.0.0-beta.13
| react-native     |  0.54.3
| node             | 9.6.1
| npm or yarn      | ya

[2018-03-29 15:54] Krizzu commented on #395
Hey @goodmind
Do you mind explain a bit more about what's happening? What error you see?

[2018-03-29 20:36] rdy commented on #382
It looks like the dynamic require it is trying to do isn't really necessary as long as it has fetch ( i think haul already tries to polyfill fetch on its own). Have you tried forking realm and tried:
[code]

[2018-03-30 10:42] Krizzu commented on #382
As @zamotany, Haul cannot do anything about it. However, to make Realm work with Haul, you have to `noop` expression requirements (and my suggestion is to use `patch-package` when you do so, to make this only once).

1. Link realm (`react-native link`)
2. (optional) Install `patch-package`
3. Go to `node_modules/realm/lib/index.js`
	1. Change
	`const require_method = require;`
	to
	`const require_

[2018-03-30 11:02] FredyC commented on #382
Wow, @Krizzu that's super dirty, did not even know that something like `patch-package` exists :D I think it
would be way easier to consult this with maintainers and create a fork in meantime. It looks like that proper build steps are included so it doesn't need to be published to NPM, just `yarn add name/realm-js` to install the fork.

Looking at the Realm code I am failing to understand why this

[2018-03-30 11:11] Krizzu commented on #382
@FredyC `patch-package` is there so you don't have to create forks :) Besides, this will just bypass webpack's complain about expression requirements

[2018-03-30 11:19] zamotany commented on #382
@FredyC

@Krizzu's solution is way cleaner than some production code I have seen 😂

[2018-03-30 12:49] goodmind commented on #338
@simonbuchan Can you explain? I can't get sourcemaps for `index.ios.bundle` while running `haul bundle --dev true --minify false` neither with `module-source-map` nor `inline-module-source-map`

[2018-03-30 20:56] simonbuchan commented on #338
That command generates the source maps *on disk* the same as they are used by `haul start` by default - it's for debugging why it's not working, not for fixing it.
That stack looks correctly source mapped anyway, otherwise the lines would all be on line one of `main.jsbundle`. The fact that it's a useless stack is on the RN runtime - try enabling "break on exceptions" in the debugger (the stop sig

[2018-03-30 21:12] goodmind commented on #338
@simonbuchan it's actually caught exception as explained in ExceptionsManager
[code]
and then there's `console.error` :\

[2018-03-30 21:17] simonbuchan commented on #338
As I said,

[2018-03-30 21:23] goodmind commented on #338
@simonbuchan I mean I can't pause on it because it's caught exception

[2018-03-30 21:25] simonbuchan commented on #338
Well then, it's a good thing I didn't suggest that!

[2018-04-03 12:28] Exulansis commented on #382
Thank you everyone for the suggestions, I tried the approaches mentioned here, and did manage to get over the webpack complaints mentioned in this issue.

The app bundles fine, but fails to run on the device. I get the error:
`SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode.`

I need to get a better understanding of webpack / babel, it looks like Realm

[2018-04-03 18:10] rdy commented on #382
@Exulansis you can configure the `babel-loader` to parse realm, by default I think it skips node modules, just do so in your `webpack.haul.js`. Provided you have the right transforms in your babelrc it should work.

[2018-04-03 18:29] KasparasGud opened #396 "Remove haul"
Sorry if this was answered somewhere else but are there instructions available on how to safely remove haul from your project and switch back to default CLI tools ?

Thank you

[2018-04-04 07:35] z4o4z commented on #395
Hi @Krizzu I had the same issue and after debugging haul server I found the problem:
To send `debugger.html` to the browser uses the following code:

[code]

But sometimes Chrome(maybe not only Chrome) add to the end of the URL `/` and the `req.path` looks like '/debugger-ui/' and the `debugger.html` cannot send to the browser because switch-case can't find the valid path.

To resolve this problem

[2018-04-04 08:10] Krizzu commented on #395
@z4o4z Hey, thanks for that
Feel free to open a PR.

[2018-04-04 10:08] thymikee commented on #396
We don't provide an automatic way to do so. If you use your git wisely, you should be able to just revert the commit. If not, you'll need to revert the init steps by hand (see what changes on a fresh RN project).

[2018-04-04 10:08] #396 closed

[2018-04-04 10:13] thymikee commented on #391
Can you point us to a repro we can check out? You can run the project with Metro and see if it works - if not, that's a RN issue

[2018-04-04 10:29] thymikee commented on #383
v1.0.0 was tagged by mistake, I've taken that down. Thanks for pointing that out!

Also it's not available in registry, see: https://yarnpkg.com/en/package/haul

[2018-04-04 10:29] #383 closed

[2018-04-04 10:30] thymikee commented on #341
Thanks for coming back with the answer @savelichalex!

[2018-04-04 10:30] #341 closed

[2018-04-04 10:30] thymikee commented on #380
Can you provide a repro we can download? We didn't encounter this behavior.

[2018-04-04 10:32] thymikee commented on #346
Closing due to inactivity. Happy to reopen if that's still an issue.

[2018-04-04 10:32] #346 closed

[2018-04-04 10:33] thymikee commented on #367
Anybody interested in taking a look at the provided repro? :)

[2018-04-04 10:35] thymikee commented on #353
Webpack core team has plans on taking actions in this direction. Proposed solutions turned out to be micro-optimisations.

[2018-04-04 10:35] #353 closed

[2018-04-04 20:44] SanyasiraoM commented on #318
@zamotany No.

[2018-04-04 21:28] jrylan commented on #318
@SanyasiraoM I'm still completely stuck. I'll post the solution here if I figure it out.

[2018-04-05 04:24] vzaffalon commented on #396
wow that is horrible

[2018-04-05 06:50] FredyC commented on #396
@vzaffalon Really? How many OS tools provide means for removing it? Look at React Native itself, once you add some native module, it's impossible to remove it automatically, you always have to trace back (unless well versioned with Git).

What about giving try to what @thymikee said and then you can document your finding instead of just complaining ;)

[2018-04-05 11:40] vzaffalon commented on #396
React native is a big mess, doesnt mean you also have to be, it is easier to atack me or put the fault in my git abilities then accepting the true, good luck going foward.

[2018-04-05 12:05] vzaffalon commented on #396
wow thanks for the git class

[2018-04-05 12:07] satya164 commented on #396
@vzaffalon go away dude.

[2018-04-05 12:10] zamotany commented on #318
@SanyasiraoM @jrylan We have made few changes in latest versions of Haul, please update you projects and check if the issue is still happening.

[2018-04-05 13:48] jrylan commented on #318
@SanyasiraoM @zamotany My solution was to use the following in my `webpack.haul.js` file:

[code]

This prevents Webpack from trying to use `self` and instead forces it to always use `this` for referencing globals, which is safer for web workers (Webpack is smart enough to define additional variables such as `_this` to handle scoping issues).

[2018-04-05 13:55] zamotany commented on #318
@jrylan Hmm, interesting. Wondering if HMR still works with this change.

[2018-04-06 03:34] naiyt opened #400 "Unexpected keyword 'const'. Const declarations are not supported in strict mode"
### Current Behavior

When running a new app using haul with Typescript I get `Unexpected keyword 'const'. Const declarations are not supported in strict mode.`. This appears to have happened previously in https://github.com/callstack/haul/issues/159, but according to that ticket it was solved several versions ago by excluding `pretty-format` in 58c17ff. I'm on the latest version of haul and am se

[2018-04-06 12:09] deepsweet commented on #400
Happens to me as well since RN 0.54, and I found the problematic file: `node_modules/metro/src/lib/bundle-modules/MetroClient.js`, so now we have an additional lib to traspile explicitly.

Added `metro` to `node_modules/haul/src/utils/makeReactNativeConfig.js` and it works:

[code]

[2018-04-06 14:31] naiyt commented on #400
Thanks, I can confirm that fixes it for me!

I'll admit my webpack knowledge is lacking so I don't fully understand what's going on there. If `node_modules` is already being excluded from the loader why do we have to explicitly add `metro`?

[2018-04-06 14:36] satya164 commented on #400
@naiyt it's for including metro :)

[2018-04-06 14:39] thymikee commented on #400
@naiyt, this is not specific to Webpack, but to how regular expressions work in general.
Webpack's `exclude` for loaders is a regex whitelist of files to exclude from applying the loader. In regex land, whitelisting is usually done with negative lookahead: `(?!...)`. So, this rule tells:

[2018-04-06 14:42] satya164 commented on #400
do you know if we can use `include` for this purpose instead of the confusing regex?

[2018-04-06 14:56] naiyt commented on #400
Oh I get it now, thanks! Since that source has `const`, we need to exclude it from the exclude so that babel will transpile it. :)

[2018-04-06 15:17] thymikee commented on #400
@satya164 dunno, but probably not :<

[2018-04-06 18:55] #400 closed

[2018-04-11 10:20] adamski opened #402 "Child component HMR: "Ignored an update to unaccepted module""
### Current Behavior
When using HMR, and updating a child component of a registered root component, I get the following warnings

Note that the parent component updates fine via HMR

### Expected Behavior
Updated child components should hot reload

### Haul Configuration (webpack.haul.js)
[code]
### Your Environment
Using React Native Navigation

| software         | version
| ---------------- | -

[2018-04-11 11:14] adamski commented on #402
This issue was resolved when I realised the child component was also used in a different parent which had not been registered for HMR. After registering the other parent component, it works.

I still think this may be a bug, or at least something to mention in the docs.

[2018-04-12 01:50] lavaxun opened #403 "HMR is not working in Android"
### Current Behavior
I encountered HMR issue after I pinned RN version to 0.51 in Windows 10.
Also tested across few environments and I found this strange behaviour.

1. ios + hot reload + rn 0.53 + mac = working
2. android + hot reload + rn 0.53 + mac = **not working**
3. android + hot reload + rn 0.51 + mac = working
4. android + hot reload + rn 0.51 + windows = **not working**

everything is wo

[2018-04-12 02:13] grahamlyus commented on #367
@thymikee If it'd help, I'll try to create a repro repo. I'm pretty slammed this week. I've been using a patch to work around the issue in the meantime.

[2018-04-13 07:55] timwangdev commented on #400
hi @satya164, can you make a release for this?

[2018-04-14 06:26] hedgepigdaniel opened #405 "Remote debugging not working on android"
### Current Behavior

When starting an app with the setting "Debug JS Remotely" enabled, a RSOD appears with a java error which reads "unexpected url: /haul-hmr?platform=android"

I think the bug was introduced here: https://github.com/callstack/haul/pull/387/files

### Expected Behavior

Remote debugging should not stop the code from working

### Haul Configuration (webpack.haul.js)

### Your Env

[2018-04-17 08:27] thymikee commented on #323
Fixed via #372

[2018-04-17 08:27] #323 closed

[2018-04-22 19:59] thymikee opened #411 "Make sure we work with Babel 7"
RN recently merged Babel 7 into master, which means v0.56 will probably get this – @grabbou correct me if I'm wrong.
Would be good to make sure we support that (probably some documentation changes and installing `babel-core@7.0.0-0` will do).

[2018-04-22 20:28] thymikee commented on #325
Closed via #374

[2018-04-22 20:28] #325 closed

[2018-04-22 20:33] Krizzu commented on #411
So that means `react-native` preset is already upgraded? If so, we could try to use B7 now

[2018-04-22 20:36] thymikee commented on #411
https://github.com/facebook/react-native/commit/6de4ff36b0c5065e9fec9dac6998984552a7418e
https://github.com/facebook/react-native/commit/34bd776af2f2529009188fced91083203a48fd40

[2018-04-22 20:51] thymikee commented on #340
Code splitting in RN is done differently than on web. I think this is a matter of Haul supporting RAM bundles. Definitely something we should explore.

[2018-04-22 20:54] thymikee commented on #343
Closing in favor of https://github.com/callstack/haul/issues/326

[2018-04-22 20:54] #343 closed

[2018-04-22 20:57] thymikee commented on #155
See: https://github.com/callstack/haul/issues/326

[2018-04-22 21:00] thymikee commented on #287
Closed via https://github.com/callstack/haul/pull/339

[2018-04-22 21:00] #287 closed

[2018-04-22 21:01] thymikee commented on #10
@jukben @satya164 is this still relevant on `next` branch?

[2018-04-24 17:08] yordis commented on #350
Hey folks, any update on this one?

[2018-04-24 18:58] TheLarkInn commented on #70
So if you all know how to take this output, and stiched together set of bundles, "unbundled", and do whatevers needed for RN to consume it the right way, then we would be golden.

[2018-04-24 19:06] thymikee opened #415 "Haul crashes when trying to (hot) reload 2 clients simultaneously"
### Current Behavior
When I run 2 clients at the same time either with Live Reload or Hot Reload, Haul crashes with this stack trace:
[code]

Which happens, because TaskQueue tries to pop an item that is not found there (likely removed a bit earlier by one of the clients).

### Expected Behavior
Haul should handle 2 clients gracefully

### Your Environment
Discovered while working on https://githu

[2018-04-24 19:29] TheLarkInn commented on #70
These are separate files but just loaded sequentially? According to RN docs it says its bin encoded blobs or something?

[2018-04-24 20:29] thymikee opened #416 "Compile source"
This is obviously better for user experience, and will speed up initial run of Haul with cold cache.

What we need to make it usable for people developing the project:
- [ ] compile on `prepare` hook
- [ ] watch mode for development
- [ ] proper documentation in contributing guide

Since we now use React to render our UI (`next` branch), Haul's internal compilation got a bit slower, so it's about

[2018-04-24 20:31] satya164 commented on #416
compiling on `prepare` hook should do it both before publishing and after install

[2018-04-24 20:33] zamotany commented on #416
I'm not sure adding babel dependencies for users just to compile after installing is a good idea

[2018-04-24 20:38] satya164 commented on #416
@zamotany by after install I mean when you install from local folder with `file:` or install from github. `prepare` won't trigger when installing from registry.

[2018-04-26 19:12] TheLarkInn commented on #70
@zamotany they basically wrote a webpack require runtime and a custom chunk wrapper why I'm not sure still but it looks just like webpack had generated about x small common chunks that are sync loaded.

[2018-04-27 09:28] thymikee commented on #334
@Strate have you tried `beta.14` or `rc.0` (with Webpack 4 so breaking)?

[2018-04-27 09:35] Strate commented on #334
@thymikee I am on 1.0.0-beta.14.

Fixed with modifying `onCreate` method in `MainApplication.java`:

[code]

[2018-04-27 10:00] zamotany commented on #70
@Krizzu no, it was there for months but undocumented. Delta bundles are another thing, which we should investigate because the concept is pretty neat.

@TheLarkInn Ok, so the bundles are requested from JS side. Curious how they load it, since `XMLHttpRequest` is async in RN.

[2018-04-29 00:44] jaredru opened #417 "Entry `fs.existsSync` check breaks with custom extensions"
### Current Behavior
With the new config style, Haul now [tries to verify](https://github.com/callstack/haul/blob/f8fc9e7a74fda0703cec711d6a21c36da1879bea/src/utils/makeReactNativeConfig.js#L335-L339) that the provided entrypoints exist via node path resolution. This breaks support for custom extensions. In our config, we add support for TypeScript, and now our TypeScript-based entrypoints are fai

[2018-04-30 06:17] hedgepigdaniel commented on #411
Not sure exactly where I've ended up, but I tried to upgrade a project to babel 7 and ended up with this error:
[code]

[2018-04-30 20:16] matthargett opened #418 "allow out-of-tree platforms to be dynamically added"
### Current Behavior
External platforms, such as Windows, cannot use haul without forking it. This is due the platforms array ['android','ios'] being hardcoded in makeReactNativeConfig.

### Expected Behavior
Out-of-tree platforms like Windows, Linux, and MacOS, should be able to use haul without forking haul.
In our initial rn-cli.config PR, we were told the new configuration would allow for out-

[2018-05-02 20:42] msluther opened #420 "Haul crashes trying to make a TTY adapter when run via child_process.spawn"
### Current Behavior
If haul is spawned with `require('child_process').spawn` it attempts to create a TTY session, which throws and fails out causing packaging not to run.

### Expected Behavior
It should be able to either:
1. Fallback to previous behavior (prior to RC0) where no TTY session was used, or
2. Provide a CLI option to opt out of the TTY session

I can work around the issue by forcing

[2018-05-02 23:17] thymikee commented on #420
We plan to release a node API so you don't need to spawn the process manually. Thanks for posting a workaround though!

[2018-05-03 00:19] simonbuchan opened #421 "Ctrl-C throws EINVAL on unlink in Fork.terminate()."
### Current Behavior

`> yarn haul` then reload app - haul gives a compile error ("Can't resolve './src', since I haven't configured anything yet). Ctrl-C then I get the error output:

[code]

### Expected Behavior
Exits cleanly/silently (well as cleanly as yarn run does on windows, at least - it always asks `Terminate batch job (Y/N)`)

### Haul Configuration (webpack.haul.js)
No config file (yet

[2018-05-03 05:56] simonbuchan commented on #334
I'm not sure what `getReactGateway()` is, but for the `MainApplication.java` we have, `getReactNativeHost()` instead works fine.

[2018-05-03 11:43] FredyC opened #423 "dep.getResourceIdentifier is not a function (bundle android release)"
### Current Behavior
The following command is being executed during `:app:bundleReleaseJsAndAssets` and fails with cryptic error `dep.getResourceIdentifier is not a function`. No stacktrace whatsoever. _I've stripped long paths for brevity._
[code]

### Expected Behavior
Would be lovely to get the bundle :) I do suspect something wrong with entry file seeing command above that there is `index.andr

[2018-05-03 12:18] FredyC commented on #423
Strange. I've updated to 1.0.0-rc.0 just because previously used `1.0.0-beta.13` seemed to be stuck when running `gradlew assembleRelease`. However, I have tried that again now and build is finished successfully and app is working 🎉

Looks like that error above is some sort of regression, most likely coming from Webpack 4.

[2018-05-03 12:35] FredyC commented on #423
It bundles successfully with beta.13, so yea, it's still an issue if I would like to update later. I cannot imagine what other loaders/plugins might be faulty. There is only the `ts-loader` which I updated to latest and `dotenv-webpack` which is just a tiny wrapper around `DefinePlugin` and coming from Webpack itself.

I will try searching through my dependencies for that `getResourceIdentifier` t

[2018-05-03 12:36] thymikee commented on #423
Just to be sure try to remove node_modules too ;)

[2018-05-03 12:50] meznaric opened #425 "Environment variables not passed to config"
### Current Behavior
When I run `API_ENV=stage yarn haul start`
Then `process.env.API_ENV` is `undefined`.
Note: I am accessing API_ENV inside haul.config.js

### Expected Behavior
When I run `API_ENV=stage yarn haul start`
Then `process.env.API_ENV` is `stage`.
Note: I am accessing API_ENV inside haul.config.js

### Haul Configuration (haul.config.js)
I think it's irrelevant as the problem happen

[2018-05-03 12:58] zamotany commented on #420
As @thymikee said, Haul node API will be a way to go. However before that once the new version of `react-slate` comes out, Haul won't crash.

[2018-05-03 13:00] zamotany commented on #421
Have you tried running it in [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10)??

[2018-05-03 13:05] zamotany commented on #423
This is definitely webpack related problem. From quick search it looks like it might be failing here: 			https://github.com/webpack/webpack/blob/master/lib/Compilation.js#L403

[2018-05-03 13:08] zamotany commented on #425
For whoever will be doing this, the problem is that we don't pass env variables from parent process to forks here: https://github.com/callstack/haul/blob/f8fc9e7a74fda0703cec711d6a21c36da1879bea/src/compiler/createForkProcess.js#L33-L42

[2018-05-03 23:45] simonbuchan commented on #421
Seems to work fine there. If I simply add `process.platform !== 'win32' &&` to [the check](https://github.com/callstack/haul/blob/849494b0e579866aef39a686f36a71cb71068592/src/compiler/Fork.js#L115) , it seems to fix it, but I'd like to give it a bit more testing before doing a PR (also, it's a pain to manage separate open PRs and still use the fixes locally 😉)

[2018-05-04 06:31] Strate commented on #334
Updated my reciepe, to support prod mode

[2018-05-04 12:50] krystiansliwa opened #428 "Haul overrides process enviroments variables"
Hi,
I found an issue for me in the newest haul.
I cannot access any process environment variables. I have only haul specific envs like: HAUL_PLATFORM, HAUL_DIRECTORY, HAUL_OPTIONS, HAUL_SOCKET_ADDRESS.

### Current Behavior
When I run haul from _package.json_ script using yarn like below
`yarn run server:android:dev`

script in _package.json_
`"server:android:dev": "NODE_ENV=development haul"`

Th

[2018-05-04 13:01] FredyC commented on #428
The fix was merged just yesterday. I think it's not released yet. https://github.com/callstack/haul/pull/426

[2018-05-04 13:23] Strate opened #429 "Haul crashes after upgrading from beta to 1.0-rc (zlib related)"
After compilation success, haul server crashes with:

[code]

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  haul@1.0.0-rc.0
| react-native     |  react-native@0.55.3
| node             | v8.11.1
| npm or yarn      | 5.8.0

[2018-05-04 14:24] zamotany commented on #428
Duplicate of #425 fixed in #426. Will be released soon 😉

[2018-05-04 14:24] #428 closed

[2018-05-04 18:25] krystiansliwa commented on #428
Ok thanks for the info ;)

[2018-05-04 22:03] matthargett opened #430 "revert back to webpack 3 for 1.0"
### Current Behavior
For our plugins, presets, and their respective configurations, the webpack 4 upgrade causes a lot of problems. Some plugins refer to things outside of the @webpack, error messages are generally less readable/actionable, etc.

### Expected Behavior
Our existing presets, plugin, and configuration should only require minor tweaks and the impact on bundle size should not be negati

[2018-05-04 22:26] thymikee commented on #429
Try to remove `node_modules/.cache` and run it again

[2018-05-07 06:29] Strate commented on #429
@thymikee just tried, and this doesn't help.
I've completely reinstalled `node_modules`, and removed `~/.npm` cache.

[2018-05-09 10:09] zamotany commented on #420
@msluther Can you install haul from `next` branch and check if the issue still occurs?? It should be fixed with https://github.com/callstack/haul/pull/427

[2018-05-09 10:26] #430 closed

[2018-05-09 10:27] thymikee commented on #430
Closing, but let's keep the discussion going

[2018-05-09 11:42] jukben commented on #429
Could you please measure your bundle size? I've encountered this as well in dev mode I was working on the project with 50 Mb bundle size.

I'm planing to investigate more, next step I'd like to take is to disable Webpack's uglify plugin, because it could be some regression (between Webpack 3 and Webpack 4).

[2018-05-09 11:44] jukben commented on #417
I agree @jaredru we can remove whole check there https://github.com/callstack/haul/blob/next/src/utils/makeReactNativeConfig.js#L322

I will approve your PR if you make a time for it. 💪

[2018-05-09 11:58] FredyC commented on #430
Personally, I would like to keep Webpack 3 around for some time also, but it's mainly coming from laziness of not wanting to update config files. There is also issue #423 which is clearly caused by some change with W4, but I do not have a capacity to dive into that right now. I will be sticking to beta version for now and hoping there won't be some other issue that will get fixed post 1.0.0.

[2018-05-09 12:00] thymikee commented on #430
@FredyC if there's a critical fix we can always cherry-pick to beta channel

[2018-05-10 10:32] jukben commented on #423
Hey! I had the same problem in our client's codebase.

But it's weird that you have got such a cryptic message https://github.com/callstack/haul/commit/0f713231023fb06cb1cf18b395894d436df461ca should clearly show that it's Webpack issue.

In my case the `dotenv-webpack` was the issue, could you please try to remove it and try it again? I hope that something is wrong with it.

[2018-05-10 10:36] jukben commented on #417
Fixed, thanks @jaredru 🚀

[2018-05-10 10:36] #417 closed

[2018-05-11 06:41] FredyC commented on #423
Sorry, I am on a different project for another week, so I don't have a capacity to fiddle with this.

Looks like it's bug in Webpack itself ... https://github.com/webpack/webpack/issues/6675

[2018-05-11 06:43] thymikee commented on #423
Thank you @FredyC! Let's keep it to track progress

[2018-05-14 20:27] acoates-ms commented on #385
This PR should provide all that you need to support other platforms.
#419

[2018-05-14 20:45] tachtevrenidis opened #432 "haul fails when installed via pnpm"
Has anybody tried haul via pnpm instead of yarn or npm? I am having a hard time getting it to work...

pnpm: https://pnpm.js.org/en/

STEPS TO REPRO

* mkdir test-dir
* pnpm install haul --save-dev
* node node_modules/haul/bin/cli.js

### Current Behavior

Error:
[code]

### Expected Behavior
haul bundler starts running

### Haul Configuration (webpack.haul.js)
irrelevant for this issue

### Your

[2018-05-14 22:10] rdy commented on #385
Yes, now that it is merged I'll give it a try. Thanks!

[2018-05-14 22:10] #385 closed

[2018-05-16 11:05] thymikee commented on #429
Just a note from our internal discussion: we're still not sure why this issue happens, but it may be connected with big bundle size in development, which is due to inline source-maps we add for Chrome remote debugging. We'll work on making external source-maps work with Chrome, so that we can drop inlining.

[2018-05-16 20:49] ThomasMichon commented on #432
I've done some investigations and made local workarounds in my product's codebase, which can hopefully translate here:

1. I updated `package.json` to include `babel-polyfill` in `dependencies`. Since `cli.js` is doing
[code]
directly, I think it is reasonable to declare it as a direct dependency.

2. I had to modify the regular expressions used for `babel-register` and `makeReactNativeConfig` to

[2018-05-16 21:47] thymikee commented on #432
These changes actually makes sense, mind putting up a PR wirh these? :)

[2018-05-17 10:25] riteekachhabra commented on #219
Is this feature still in progress?

[2018-05-18 14:40] jukben commented on #429
As bundle (with dev config) works fine. So I thought there is an issue with sending this over WS. I have to test it more.

[2018-05-21 16:31] acoates-ms commented on #104
#418 should allow you to use RN for windows.

[2018-05-23 13:53] jukben commented on #429
Fixed in https://github.com/callstack/haul/pull/434

[2018-05-23 13:53] #429 closed

[2018-05-29 13:29] sky-franciscogoncalves opened #439 "Error: invalid stored block lengths"
### Current Behavior
Haul crashes, when I import or require a specific npm private library on a Lerna package that is a dependency of a react-native project.

```error Command failed with exit code 1.```

stderr.log shows the following info:
[code]

### Expected Behavior
The private library would be loaded as it is happening with other private libraries I'm using.

### Haul Configuration (webpack.

[2018-05-29 13:57] thymikee commented on #439
This should be fixed on `next` branch. PR for reference: https://github.com/callstack/haul/pull/434
I'll try to schedule a release today with the fix :)

[2018-05-29 13:57] #439 closed

[2018-05-29 13:58] sky-franciscogoncalves commented on #439
Thanks!

[2018-06-04 08:00] thymikee commented on #367
Closed via #436

[2018-06-04 08:00] #367 closed

[2018-06-04 08:16] jukben opened #441 "Update `init` commad to create new format of configuration"
`yarn haul init` should create `haul.config.js` according to https://github.com/callstack/haul/blob/v1.0.0-rc.1/docs/Configuration.md

[2018-06-08 16:36] 91ranjan commented on #380
@thymikee How does "react-native run-ios" command know that it has to trigger Haul webpack and not Metro? I have a similar problem.

[2018-06-08 16:49] tutts commented on #380
@91ranjan its been a while since I opened this issue (2 months which is like 2 human years 😛) but from memory:

In iOS theres an xcode "Run script phase" entry pointing to Haul

In android Gradle switches the entry:

Ah found the doco... [here you go](More info [here]|(https://github.com/callstack/haul/blob/master/docs/Configuring_Your_Project.md)
).

[2018-06-08 17:09] 91ranjan commented on #380
@tutts Thanks a lot. Was looking for the same document. It would be better if the link is in the README.

[2018-06-12 14:52] josheleonard commented on #403
Having this same issue.

[2018-06-12 16:05] josheleonard commented on #403
I resolved this error by importing 'haul/hot.patch' AFTER importing Provider from redux in my index.js

[2018-06-13 17:45] jshearer commented on #411
RN 0.56 RC is out. Does Haul support Babel 7 yet?

[2018-06-14 15:05] meznaric commented on #380
Using RC.1 I can reproduce the bug in my project consistently by removing node_modules and running `yarn ios`.

[2018-06-15 12:00] jeroentradecast opened #442 "HMR issue: createProxy is not a function"
I ~~have~~ had an issue with HMR.

### Current Behavior
I've tried setting up HMR with the Automatic setup, Manual setup and even the pre-0.49.0 setup. An error is thrown `TypeError: createProxy is not a function`, in `node_modules/react-hot-loader/lib/patch.dev.js`, which is fatal.

While writing this issue I've fixed it, I'm not sure if it's because of my setup but I think the stuff below is wha

[2018-06-15 14:49] jukben commented on #418
This could be closed, am I right, @acoates-ms? 💪

[2018-06-15 14:49] #418 closed

[2018-06-16 16:40] jshearer commented on #411
I had to switch away from using Haul because of this. Any news?

[2018-06-16 16:57] FredyC commented on #411
@jshearer You know, bumping often won't make things magically happen ;) Also considering it's still just an RC version, you should be prepared that another tech hasn't really caught up to it yet. Bleeding edge is dangerous :)

Out of curiosity, you have switched back to metro? So why are you using Haul in a first place if you don't need any features of Webpack really?

[2018-06-20 11:18] aaronschubert0 commented on #326
@zamotany Now that #287 (#339) is done. Is something like this possible? There doesn't seem to be the necessary exports in order to achieve the above

[2018-07-02 11:47] yvasiuk-sphere opened #446 "Deprecated style of the configuration"
After running 'yarn haul' I see configuration deprecation warning

### Current Behavior
1. run 'yarn haul'
2. see output "WARN You using a deprecated style of the configuration. Please follow the docs for the upgrade. See https://github.com/callstack/haul/blob/master/docs/Configuration.md"

### Expected Behavior
1. run 'yarn haul'
2. see no deprecation warnings in the console output

### Haul Conf

[2018-07-02 11:49] thymikee commented on #446
Looks like we link to `master` instead of `next`. See: https://github.com/callstack/haul/blob/next/docs/Configuration.md
cc @jukben

[2018-07-02 13:56] #446 closed

[2018-07-05 12:10] deepsweet commented on #411
[RN 0.56 release with Babel 7](https://github.com/facebook/react-native/releases/tag/v0.56.0) has just landed.

I've tried to fork Haul to use Babel 7, changed all the dependencies, tweaked everything in `src/babelRegister.js` and `src/cli.js` but failed into a rabbit hole of red screens, step by step. It's hard to do that without knowing all the internals and workarounds.

Dear collaborators, sor

[2018-07-05 13:00] thymikee commented on #411
@deepsweet thanks for your help! Plugins used in Webpack config also need to be updated and we probably need to add a peerDependency on babel-core ^6.0.0 || 7.0.0-0. Can you try that?

[2018-07-05 23:15] #432 closed

[2018-07-06 06:00] tkow commented on #411
@thymikee I have same issue and tried add a peerDependency  babel-core ^6.0.0 || 7.0.0-0
 to package.json at node_modules/haul and npm install --no-dev at node_modules/haul, then react-native run-ios with starting haul but it doesn't work and error says:
[code]
and may be related to bridge older version [release note ](https://github.com/facebook/react-native/releases) says.

In addition, haul's s

[2018-07-06 08:44] #441 closed

[2018-07-09 13:37] ErrorPro commented on #411
Just `“babel-preset-react-native”: “4.0.0",` made it work for me. Do it inside your project.

[2018-07-09 14:05] tkow commented on #411
About https://github.com/facebook/react-native/releases/tag/v0.56.0,

Does “babel-preset-react-native”: “4.0.0" work with RN 0.56?

I tried version 5.0.1 before but it didn't. I'll try again with 4.0.0.

[2018-07-09 20:15] jukben commented on #326
@aaronschubert0 It's possible to start implementing this API because we've rebuilt the internals as part #287.

[2018-07-09 20:46] jukben commented on #380
Could someone do some magic with this? https://github.com/callstack/haul/issues/234

[2018-07-10 08:13] ErrorPro commented on #411
@tkow I created a new RN project using `react-native init` and then just downgraded babel-preset-react-native plugin and it worked for me. Please notice: I use haul only to build release bundle, for development I still use metro.

[2018-07-10 15:45] jukben commented on #380
I've been digging more into this. If we are talking about `build/production` this PR https://github.com/callstack/haul/pull/448 should polish things a bit.

Actually the behavior about luncher popup is deep in React Native (here https://github.com/facebook/react-native/blob/master/React/React.xcodeproj/project.pbxproj#L4049) as you can see there is conditional logic, where an another instance is c

[2018-07-10 15:58] #234 closed

[2018-07-10 16:12] #380 closed

[2018-07-10 16:29] #104 closed

[2018-07-11 01:41] tkow commented on #411
@ErrorPro We understood the point about capacity of the version compatibility old babel preset
 because babel 7 core has backward compatibility, but I wonder if downgrade babel-preset may have risk about lack of RN bridge or other core codes. Anyway, Thank you for comments.

[2018-07-11 14:59] jukben commented on #423
I think I've found the issue!

In my case it was because the `node_modules/webpack` was version 3.x – required by `storybook`, however, Haul is using version 4. Thus once the `Dotenv` plugin tried to add `webpack.DefinePlugin` it looked up for version 3.x, not 4.x thus the issue raised.

Easiest fix is to add `"webpack": "^4.16.0"` into dependencies, problem is gone.

Finally.

[2018-07-11 15:00] #423 closed

[2018-07-11 17:14] FredyC commented on #423
Nice finding @jukben. I would just add it might be better to use [Yarn resolutions](https://yarnpkg.com/en/docs/selective-version-resolutions) instead of installing dependency you are not using directly.

[2018-07-14 05:49] crixusshen opened #456 "Old project upgrade to new project problem"
Hi，It was good for me to use the old version before, but now I updated the latest version, execute command:react-native run-ios，After this error was reported, I tried to re-execute command:npx haul init，But the configuration of xcodeproj without changing，please see the screenshot below：
<img width="1071" alt="wx20180714-134254 2x" src="https://user-images.githubusercontent.com/11752878/42721378-9f

[2018-07-14 21:03] ahfarmer opened #457 "haul got lazy"
### Current Behavior
Haul doesn't begin bundling when started with `--platform ios`.
<img width="298" alt="haul-lazy" src="https://user-images.githubusercontent.com/597825/42728395-3c2ff352-876e-11e8-9b09-23e17100df6f.png">

### Expected Behavior
Haul should begin bundling when started with `--platform ios`.

I think a feature was added to make it so that Haul doesn't begin bundling until a bundle

[2018-07-15 18:52] grahamlyus opened #458 "No minification in 1.0.0-rc.5 when bundling"
### Current Behavior

no minification in 1.0.0-rc.5 when bundling:

[code]

### Expected Behavior

bundle should be minified in production mode
### package.json ###
[code]

### Haul Configuration (webpack.haul.js)

[code]
### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  1.0.0-rc.5
| react-native     |  0.53.0
| node             | 8.11.3
| npm or

[2018-07-18 09:33] zamotany commented on #457
In RC versions, there is no `--platform` option. Current behaviour is closes to how metro bundler works. However if you feel the need to support this, we strongly encourage you or anyone to contribute  by implementing this feature 😉

[2018-07-18 21:52] ahfarmer commented on #457
Cool - I'm also curious why haul doesn't just bundle everything when launched? Is there a concern about wasting CPU resources?

Would you accept a PR that changes haul to automatically bundle all platforms when launched?

[2018-07-18 22:02] appden commented on #457
I personally really like the laziness, since I'm mostly developing on iOS and rarely on Android, but I think it could be a command line option to disable that behavior (such as `--lazy false`). I don't think that would be a big code change.

[2018-07-18 23:18] appden commented on #458
Opened PR #459 to fix this

[2018-07-19 16:43] sebleclerc opened #460 "Cannot find module error in workspaces setting"
I upgraded Haul from 1.0.0-beta.14 to 1.0.0-RC.5 and get an error since then. If I revert back to beta version and the error is gone.

### Current Behavior
Wether it's with iOS or Android, debug or release, I get this error:
`Cannot find module '{projectRoot}/packages/mobile/node_modules/react-native/Libraries/Core/InitializeCore.js'`

### Expected Behavior
Haul should create a JS bundle
Haul shou

[2018-07-20 03:00] 91ranjan commented on #110
If you are upgrading to 1.0.0-rc5 then this file has been removed.
Please look at the release 1.0.0-rc5 tag
https://github.com/callstack/haul/releases
and
https://github.com/callstack/haul/blob/next/docs/Configuring_Your_Project.md

[2018-07-23 09:10] jeroentradecast commented on #442
Closing this myself.

[2018-07-23 09:10] #442 closed

[2018-07-26 13:42] tuncaulubilge commented on #457
A command line option to disable laziness would be great, but this will require platform to be defined, as the current structure bundles based on the platform that does the bundle request.

[2018-07-26 13:59] tuncaulubilge commented on #457
In the meanwhile, you can manually trigger bundling by requesting it via
`curl localhost:8081/index.android.bundle > /dev/null`

[2018-07-29 09:45] hedgepigdaniel commented on #405
Bump, this is still the case with 1.0.0-rc.5

[2018-07-29 15:18] #458 closed

[2018-07-29 15:24] #415 closed, assigned to zamotany

[2018-07-30 12:48] stevefan1999 opened #463 "Compatibility with Expo/CRNA"
### Current Behavior
#### Description
Using a series of tricks, I was hoping for a better dev experience with Haul and Expo together, but at the end of the day, their chemicals didn't work out...

#### Error details:
[code]
[code]
Those two exceptions are consecutive, and the first exception is caused by the second, and although it sounds crazy, I'd prove you how: By installing a `console.log` (br

[2018-07-30 15:18] stevefan1999 commented on #405
https://github.com/callstack/haul/pull/464

[2018-07-30 16:19] stevefan1999 commented on #463
Well, after a few hours I found that updating Expo SDK to version 29 (not too long ago) solved all the problems!

Here's how I managed to get Expo to run along with Haul. Please merge the following files to your CRNA/Expo setup:
package.json:
[code]
app.json:
[code]

Create a `index.js` in root directory with the following content:
[code]
After all this, run Haul first then `exp start`, and that's

[2018-07-30 16:19] #463 closed

[2018-08-06 16:07] sebleclerc commented on #460
This seems like what I was searching for, thanks!

[2018-08-06 16:07] #460 closed

[2018-08-09 12:36] hedgepigdaniel commented on #405
Fixed by #462

[2018-08-09 12:36] #405 closed

[2018-08-10 00:38] bradennapier opened #468 "This doesnt work with npm modules?"
### Current Behavior

It should work with modules

### Expected Behavior

I tried to use a module, and it fails until I dont use it

Specifically `styled-components`

[code]
^ blank white screen

[code]

^ works

(Note that both work in native react-native land)

### Haul Configuration (webpack.haul.js)
default

### Your Environment
osx  - all latest - just installed

[2018-08-10 00:46] #468 closed

[2018-08-10 00:46] bradennapier commented on #468
**Note:** I for some reason neeed to disable hot reloading then re-enable it then manual refresh.

[2018-08-12 11:40] #457 closed

[2018-08-16 11:27] mortdatherobot opened #469 "StyleSheet spread object : in this environment the sources assign must be an object error"
when running the project using metro everything is okay.
when using haul i got error: in this enviroment the sources for assign must be an object

`const itemIcon={
position:'absoulte'}
const styles = StyleSheet.create({
leftIcon:{
...itemIcon}
})
`
webpack.config.js

`var path = require('path');
module.exports = ({ platform }, defaults) => ({
  entry: `./index.js`,
  module: {
    ...defaults.mod

[2018-08-17 05:27] tkow commented on #411
I found that this problem derived from babel-preset-react-native version, now renamed metro-react-native-babel-preset. I rewrote babel-preset react-native to module:metro-react-native-babel-preset@latest in my .babelrc and use babel-loader for babel 7, then it failed resolving NativeModules though any other modules looks no error. There may be problem of metro-react-native-babel-preset.

[2018-08-17 18:49] chaseholland opened #470 "1.0.0-rc.7 dev server returns 404 with `platform=ios` param"
### Current Behavior

When using Haul 1.0.0-rc.7 dev server with the iOS simulator, the bundle request returns a 404.

### Expected Behavior

The bundle should load as it did in previous rcs (this worked in rc.6). Specifically, here are the list of commits leading up to the failure:

[code]

### Haul Configuration (webpack.haul.js)

[code]

### Your Environment

When removing the `platform=ios` pa

[2018-08-20 07:59] grabbou commented on #411
We are about to update to that preset in default React Native app anyway as
of 0.57.0-rc.0. This is something to keep track of once it gets released.

On Fri, 17 Aug 2018 at 07:27 tkow <notifications@github.com> wrote:

[2018-08-23 08:28] zamotany commented on #470
I suppose there's something wrong here: https://github.com/callstack/haul/blob/2e3dcc1d27a9b456bb37923620d4c898bc8b38d1/src/server/util/getRequestBundleData.js
If anyone is interested in contributing, please feel free to do so and don't hesitate to ask questions or chat at our [Callstack discord server](https://discord.gg/zwR2Cdh) 😉

[2018-09-05 15:33] matotim opened #471 "App crashes when trying to debug JS remotely"
### Current Behavior
On iOS, when I open the Developer menu and I click on "Debug JS Remotely", the app reloads but then crashes with those 2 errors :
`Module RCTLog is not a registered callable module (calling logIfNoNativeHook)`
`Module RCTDeviceEventEmitter is not a registered callable module (calling emit)`

I noticed that the app tries to load an `index.delta`, which may explain why it crashe

[2018-09-06 04:42] tkow commented on #411
I ran
[code]
and can use babel-preset-react-native@4.0.0 with haul1.0.0-rc.7.
so we can use old babel-preset with babel-core7 bridge anyway though it seens obvious, anyway I wait
 future new.

[2018-09-12 09:26] savelichalex commented on #341
@SuhairZain I'm using 1.0-rc in new project and it seems that problem is disappeared

[2018-09-12 13:03] OleksandrKucherenko opened #472 "MP4 files in assets resolved to wrong android folders structure"
### Current Behavior
one of reactive-native modules introduce MP4 assets, during bundle operation MP4 file place into `drawable-*` folder.

### Expected Behavior
MP4 files are not allowed in `res/drawable-*` folders, it should be placed into `res/raw` folder.

### Haul Configuration (webpack.haul.js)
default

### Your Environment

Mac OS

| software         | version
| ---------------- | -------
|

[2018-09-13 14:26] OleksandrKucherenko opened #474 "HAUL does not include 'assets' of other react-native modules"
### Current Behavior
React Native app, where used library/module/package with own assets. (In my case OTF fonts)
At the current moment font files simply ignored by webpack and untouched.

folder structure of the module:
[code]

### Expected Behavior
font files should be a part of the final bundle/resources.

### Haul Configuration (webpack.haul.js)
default

### Your Environment

Mac Os

| software

[2018-09-13 21:03] rstims opened #475 "resolve JSON imports"
### Current Behavior
JSON import not resolving correctly

### Expected Behavior
Im looking for JSON files to import properly
I was able to get haul to recognize them by explicitly adding the `.json` extension but it still wouldn't load correctly.  This maybe a fix by adding a configuration to webpack but I couldn't find any issues in this repo describing that.

[2018-09-17 21:14] hedgepigdaniel commented on #411
I've managed to get a project working with Haul + React Native 0.57 + Babel 7 stable. Here's the current progress: https://github.com/callstack/haul/pull/477

[2018-09-19 17:04] dtmp commented on #266
Add uglifyOptions like this:

[code]

[2018-09-20 07:53] thymikee commented on #472
Happy to accept PR fixing that :)

[2018-09-20 14:34] OleksandrKucherenko commented on #472
https://github.com/callstack/haul/pull/476

[2018-09-20 22:17] TCourtneyOwen opened #478 "Is there a way to configure haul to skip bundling"
I would like to use haul as a server but don't want it to bundle my files, largely because I am running into some very cryptic errors (_Module not found: Error: Can't resolve 'AccessibilityInfo' in 'D:\Excel-Custom-Functions\node_modules\react-native\Libraries\react-native'_) during the bundling process.  Rather than try to endlessly figure out what's causing these errors, I can just build the bun

[2018-09-24 14:13] SuhairZain opened #479 "Build times are too slow"
We have our source code written in TS and we use `haul@1.0.0-rc.7` along with `awesome-typescript-loader` and `babel-loader` for our RN app. The build is too slow for both the first build and when changes are made to a single component. The initial build time is okay, but the incremental changes are too slow for normal use.

[code]

### Current Behavior
The initial build and incremental changes ta

[2018-09-24 14:59] thymikee commented on #479
How many components are there in your project? Maybe you're compiling you're files twice, once with babel, second time with TS, can you check that?

[2018-09-24 15:05] SuhairZain commented on #479
I'd say about 150 components. About 50 of these are large (>200 lines).

I don't think it's possible that the files are being compiled twice. The config is to compile the TS files with `awesome-typescript-loader` and JS files with `babel-loader`. Also, `babel-loader` is set to compile only the files inside `node_modules`.

How would I check if it is actually being compiled twice? Also, I saw how w

[2018-09-24 15:18] thymikee commented on #479
We don't have a profiler. Maybe you're trying to compile all files in `node_modules`? 150 components is not much, so that's definitely weird.
@jukben do you have some clever thoughts on that?

[2018-09-25 15:09] meznaric commented on #479
We are using typescript with similar number of files (I believe even more, can't check now, sorry) and it takes about 1 minute to compile on first build and the subsequent changes take 3-4 seconds. For me that's fast enough, but it would be nice if it was faster.

Also, we are using `ts-loader` not `awesome-typescript-loader`.

[2018-09-25 15:18] SuhairZain commented on #479
@meznaric 3-4 seconds for incremental updates sounds good. Would it be possible for you to share your haul config file?

[2018-09-25 16:56] meznaric commented on #479
Can't really share it in it's entirety, but here are relevant bits I believe:

[code]

Nothing about typescript in .babelrc.

[2018-10-03 07:20] illiteratewriter opened #480 "yarn haul init fails"
### Current Behavior
After creating a `react-native` app with `react-native init awesomeProject` running `yarn haul init` does not work, and instead of throwing an error it shows `Done in x.xxs`. But if you run `npx haul init` it will throw an error `Cannot find module 'babel-preset-react-native'`. Installing `babel-preset-react-native` does solve the problem.

### Expected Behavior
It should have

[2018-10-03 07:40] illiteratewriter commented on #480
I think the issue is

https://nodejs.org/en/blog/npm/peer-dependencies/

[2018-10-05 18:02] #475 closed

[2018-10-10 08:39] thymikee commented on #411
closed via https://github.com/callstack/haul/pull/477

[2018-10-10 08:39] #411 closed

[2018-10-10 08:40] thymikee commented on #470
@acoates-ms this should be fixed with https://github.com/callstack/haul/pull/477 right?

[2018-10-10 16:21] acoates-ms commented on #470
Yes this should be fixed in rc8.

[2018-10-10 16:21] #470 closed

[2018-10-13 23:54] niftylettuce opened #484 "missing react-hot-loader in devDependencies?"

[2018-10-13 23:56] #484 closed

[2018-10-14 00:40] niftylettuce opened #485 "add .cache-loader to .gitignore (in addition to existing added via haul init)?"

[2018-10-16 14:06] meznaric commented on #479
Note: We had it a bit misconfigured and once I reconfigured it and babel was doing everything as expected our build times increased by a bit. From 4 seconds for incremental builds to ~10 if not more.

Anyways; we've upgraded to rc.8 and upgraded to babel 7 and now we are back at previous speeds if not even faster.

[2018-10-18 10:09] befront opened #487 "Can't release application with latest haul"
### Current Behavior
Unhandled JS Exception: undefined is not an object (evaluating 'r("./node_modules/react-hot-loader/patch.js").default.disableProxyCreation=!0')

### Expected Behavior
No errors

### Haul Configuration (webpack.haul.js)

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  1.0.0-rc.8
| react-native     |  0.57.2
| node

[2018-10-18 10:19] zamotany commented on #487
We are aware of this issue. The reason it is happening is that out `hot/patch.js` file is included in production build here:
https://github.com/callstack/haul/blob/next/src/utils/makeReactNativeConfig.js#L388

If anyone is interested in contributing, this file should be applied conditionally based on `dev` flag from here: https://github.com/callstack/haul/blob/next/src/utils/makeReactNativeConfig.

[2018-10-19 10:00] zamotany commented on #487
Should be fixed in #488

[2018-10-19 10:00] #487 closed

[2018-10-19 10:01] thymikee commented on #403
Can you check this in latest version?

[2018-10-19 10:01] thymikee commented on #402
Does it happen in latest Haul?

[2018-10-22 10:24] lavaxun opened #489 "release build is not working"
### Current Behavior

I'm currently facing some issue with the latest haul & react native in RELEASE BUILD.
Please find the attached to understand the issue better.

I followed through the documentation and I managed to run the application in DEBUG BUILD.
You can reproduce the issue here: https://github.com/lavaxun/haul-issue.

HOWEVER it's not working well in the release build.
Screenshot below s

[2018-10-23 09:12] bradennapier opened #490 "`makeHot` needs to return same value with same params"
### Current Behavior

`makeHot`'s call result will ALWAYS return a different value.  This is a problem because it means that every little change will re-render the whole app when you want to enable hot reloading.

In the case of `react-navigation` I was confused as-to why every time i toggled the drawer my entire screen was refreshing.  After many hours I finally realized it was due to `makeHot`.

[2018-10-24 05:39] Summys commented on #489
+ 1

[2018-10-24 05:39] Summys commented on #489
+1

[2018-10-29 01:48] jeffreycgy commented on #489
Hi, I'm facing the same issue as well with the latest React Native version and Haul on Android. I'm able to run release build but I get this `unsupported BodyInit type` error while debug mode is working properly.

<img width="339" alt="screenshot 2018-10-29 at 9 40 00 am" src="https://user-images.githubusercontent.com/24579490/47625258-fd6d2f00-db5e-11e8-97c8-2e7a67c46951.png">

[2018-10-29 08:45] louiskhenghao commented on #489
+1

[2018-10-29 08:51] thymikee commented on #489
Would be great if somebody created a repo with a repro and investigate.

[2018-10-31 06:45] lavaxun commented on #489
@thymikee
I have made a repo here https://github.com/lavaxun/haul-issue.
would be great if someone can help to investigate it.

[2018-11-06 16:59] dphaener opened #493 "Haul packager updates are very slow to load"
### Current Behavior
When making a change to my source code and reloading, the app takes 5-10 seconds to actually download the changes and restart the app (this is after a 10 second webpack rebuild).

### Expected Behavior
The reloading should be just as fast as it is when using the metro bundler (nearly instantaneous)

### Haul Configuration (webpack.haul.js)
[code]

### Your Environment

| softw

[2018-11-13 14:52] lavaxun commented on #489
Did some quick hacks and managed to fix the issue here!
https://github.com/lavaxun/haul/commit/f112dc0b832242856d2d65d20beb30b231fd971b

Hope someone can send a proper PR to fix this issue.

Context:
I suspect this has got to do with polyfill and hence started to zoom down to the `src/utils/polyfillEnvironment.js`.

Then I figured out there was a previous issue on the global fetch at https://githu

[2018-11-13 15:16] lavaxun commented on #489
I have made a PR https://github.com/callstack/haul/pull/494 to fix the issue using webpack banner.

[2018-11-14 17:00] #480 closed

[2018-11-20 16:13] Frexuz opened #496 "Support for import by named package.json in folders (RN)"
### Suggestion
React Native's Metro builder supports imports like `import Button from '@components'`
by using a `package.json` file in the `/components` folder like
[code]

I'm trying to use https://github.com/IjzerenHein/react-native-bundle-visualizer which uses Haul, but it fails the build on those import statements :)

Not sure how easy or hard this would be. Thanks.

[2018-11-20 16:17] thymikee commented on #496
The feature you mention comes from Haste modules used by Facebook (and RN). Feel free to update https://github.com/callstack/haul/blob/next/src/resolvers/HasteResolver.js to support this scenario :)

[2018-11-20 16:54] msluther commented on #420
@zamotany Sorry for the delay, I was finally able to get this tested out with `^1.0.0-rc.10` and everything seems to be working when run from a child_process spawn now.  Thanks all!

[2018-11-21 12:44] ellereeeee opened #497 "Feature Haul on Docusaurus?"
Hello,

May I feature Haul on Docusaurus's [user page](https://docusaurus.io/en/users)? This will give Haul recognition as well as show others creative ways to use Docusaurus.

If you give me your permission, could you also please provide me a file of Haul's logo (preferrably SVG)? It should not exceed 512x512.

I the saw logo on Haul's Github's page, but I would need a logo with just the cardboar

[2018-11-21 12:49] thymikee commented on #497
Sounds awesome!
@satya164 @grabbou do you have the source of the icon?

[2018-11-22 09:19] bweggersen opened #498 "Calls to `logger.info` in assets loader causes the webpack logger to restart"
### Current Behavior
When I run `haul bundle` I see over 100 lines with the text `Webpack: Starting ...`. The interruption of the webpack logger is caused by calls to `logger.info` inside `loaders/assetLoader.js#L153`.

Sample log:

[code]

### Expected Behavior
When I run `haul bundle` the logger should not restart multiple times.

Sample log:

[code]

### Haul Configuration (webpack.haul.js)

##

[2018-11-22 12:43] sweggersen opened #499 "AssetResolution not picking up .android assets"
We've recently moved to haul and are noticing that iOS/default icons are being bundled with Android. Below is a gist containing a test I added for AssetResolution, which is the scenario that is failing for us.

https://gist.github.com/sweggersen/e1cd86575c537a91eea7c28533ecc948
(Updated to include test results)

### Haul Configuration (webpack.haul.js)

### Your Environment

| software         | v

[2018-11-22 13:46] sweggersen commented on #499
I found something interesting. If the files are read in a different order, like this, the tests will pass:

    [
      'mail.png',
      'mail.android.png',
      'mail@2x.png',
      'mail@2x.android.png',
      'mail@3x.png',
      'mail@3x.android.png',
    ]

[2018-11-22 14:46] sweggersen commented on #499
Updated PR! Please have a look.

[2018-11-24 12:19] oreporan opened #501 "ios build fails on missing aws-sdk"
### Current Behavior
Packaging typescript react-native project with haul

running `yarn start --platform ios ` fails with:

[code]
### Expected Behavior
Expect ios to start

### Haul Configuration (webpack.haul.js)
[code]
### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  ^1.0.0-rc.10
| react-native     |  ^0.57.5
| node             |  v8.9.4
| np

[2018-11-27 15:04] ellereeeee commented on #497
My pull request to add Haul was merged. You can check it out [here](https://docusaurus.io/en/users).

Thanks again!

[2018-11-27 17:47] #497 closed

[2018-11-30 04:32] yongching opened #502 "Compile issue when using react navigation v3 with haul v1.0.0-rc.9"
### Current Behavior

I'm trying to use `react-navigation v3.0.2` together with `haul v1.0.0-rc.9` and bumped into the following issues:

It happens whenever I `import { createStackNavigator } from 'react-navigation`
And this is not happening in version 2 back then.

<img width="559" alt="screenshot 2018-11-30 at 11 49 07 am" src="https://user-images.githubusercontent.com/10132189/49268387-2a806a8

[2018-11-30 08:36] thymikee commented on #502
We don't transform all node_modules by default. Here's the regex responsible for that:
https://github.com/callstack/haul/blob/71492164c8cca9f4bbe7e4ffdf2d9f2218d1ca65/src/utils/makeReactNativeConfig.js#L100
Since react-navigation moved to scoped packages, they don't match our regex now. What you can do is send us PR with `@react-navigation` added to the list, or adjust your babel-loader config fol

[2018-11-30 08:37] thymikee commented on #502
Closing, as this is not an issue with Haul. But could be better documented, so PRs welcome :)

[2018-11-30 08:37] #502 closed

[2018-11-30 08:52] yongching commented on #502
ok thanks @thymikee !

[2018-12-05 15:22] Kireeti-K opened #504 "You may need an appropriate loader to handle this file type"
### Current Behavior
I am a noob, please help me with patience.
I ran npx haul start --platform android  in one tab and ran react-native run-android in another tab in terminal. I expect things work well and my emulator will work instead i see following error

Webpack: Finished after 43.863 seconds.

<====---------> 35% EXECUTING [1m 3s]

 ERROR  Failed to compile.

./node_modules/native-base-shout

[2018-12-12 09:11] liujb opened #505 "Unexpected keyword 'const'. Const declarations are not supported in strict mode."
### Current Behavior

![](http://manhattan.didistatic.com/static/manhattan/do1_X5zkGJxiIk59kwkPLHzL)

### Expected Behavior

Expected not error.

### Haul Configuration (webpack.haul.js)

[code]

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  v1.0.0-rc.10
| react-native     |  0.57.5
| node             |  v11.0.0
| npm or yarn      | 1.10.1

[2018-12-13 04:05] yongching commented on #505
I’m having this issue too, same environment.

[2018-12-13 04:37] hslavax commented on #505
I’m having this issue too, same environment. + 1

[2018-12-13 07:06] thymikee commented on #505
Can somebody provide a repro?

[2018-12-13 07:30] liujb commented on #505
@thymikee Sorry, could't provide repo now. When not use haul to start bundle server for android. App working correctly.

I have setting haul.config.js like this, The problem is still.

[code]

[2018-12-13 07:31] liujb commented on #505
react-navigation@3.x have the problem by using haul.

[2018-12-13 07:37] thymikee commented on #505
Ah, it's this issue again. Duplicate of https://github.com/callstack/haul/issues/502.

[2018-12-13 07:37] #505 closed

[2018-12-13 07:40] thymikee commented on #505
@liujb afaik there's no `@react-navigation` package, but `@react-navigation/core` and `@react-navigation/whatever-and-this-is-what-should-be-transpiled`. Again, as stated here https://github.com/callstack/haul/issues/502#issuecomment-443130900 feel free to send a PR adding this to Haul, because `react-navigation` is quite popular in RN ecosystem. I'm happy to merge it :)

[2018-12-13 08:47] liujb commented on #505
@thymikee thanks for your help.

[2018-12-15 14:59] CrazzzyDev opened #507 "How to use hot reloading with redux and react-router-native"
How to use HRM when working with Redux and react-router-native library for React Native Projects.

[2018-12-19 19:47] matheusmoreira-hotmart commented on #469
Same thing just happened to me with the default app scaffolded by react-native cli.

[2018-12-19 23:22] rodineijf opened #508 "Cannot find module react-dom"
### Current Behavior

Steps to reproduce:

react-native init MyProject
yarn add --dev haul
yarn haul init
yarn haul start --platform ios

  ERROR
./node_modules/haul/node_modules/react-hot-loader/dist/react-hot-loader.development.js
Module not found: Error: Can't resolve 'react-dom' in '/Users/rfagundes/Workspace/rn/haulApp/node_modules/haul/node_modules/react-hot-loader/dist'

### Haul Configurat

[2018-12-20 00:47] luigiplr commented on #508
Looks like [react-hot-loader](https://github.com/gaearon/react-hot-loader) has imported `"react-dom"` since [4.5.0](https://github.com/gaearon/react-hot-loader/releases/tag/4.5.0) I fixed this locally by installing version `4.4.0`.

[code]

[2018-12-20 10:52] rodineijf commented on #508
Thanks @luigiplr

I fixed installing react-hot-loader and react-dom as dependencies.

[2018-12-20 10:52] #508 closed

[2018-12-28 20:00] CrazzzyDev commented on #508
@rodineijf Thanks. Your solution works.
Can you please explain, why react-hot-loader depends on "react-dom" for React Native projects? Would it works when we release a build with it?

[2019-01-09 05:09] chevonc opened #509 "iOS Bundle Isn't Output to Product.app Folder"
When building for release in iOS, XCode seems to runt he haul `cli` command with the right args, but there's no output file. If I run this command myself from the terminal, it works as expected.
 
Example of command

[code]
### Current Behavior
The bug here is that by `main.jsbundle` file is not output to to the `ios/build/Build/Products/Release-iphonesimulator/myApp.app/` folder

### Expected Beh

[2019-01-09 05:12] chevonc commented on #509
Here's an example of the xcode shell script output -
![image](https://user-images.githubusercontent.com/684657/50878113-ee3e0500-1389-11e9-9f34-93baa0882017.png)

I can workaround this by manually adding a `main.jsbundle` file to`ios/myApp` but it wouldn't get updated each build.

Any thoughts of what's causing this?

[2019-01-16 12:04] Jekiwijaya commented on #369
This would be useful for creating split bundles

[2019-01-17 01:14] TNorth22 opened #511 "Haul becomes unresponsive while building - is there a way to enable logging?"
### Current Behavior
While building for iOS i.e. `yarn haul start --platform ios`  Haul gets stuck at 98% and becomes unresponsive.  `yarn haul bundle --platform ios` on the other hand runs successfully to completion
![Stuck](https://user-images.githubusercontent.com/5614334/51288482-4b9d0c00-19b1-11e9-8a68-f159c9a1d6ea.png)

I can isolate the offending line of code which causes haul to hang but I

[2019-01-17 13:56] tido64 commented on #493
I had a look at this today since we're having the same issues. For our app, it takes between 6-12 seconds to reload, even when you manually trigger one.

As it turns out, what takes the most time is:
- A `stringify` call on the entire bundle here: [compiler/worker/initWorker.js:30](https://github.com/callstack/haul/blob/next/src/compiler/worker/initWorker.js#L30)
- Which gets sent over a WebSocket

[2019-01-17 14:05] thymikee commented on #493
Storing the bundle in tmp dir should definitely be better than passing it between workers. cc @zamotany

[2019-01-17 14:37] tido64 commented on #493
I can try taking a stab at it over the weekend if nobody has picked it up by then.

[2019-01-17 19:44] dphaener commented on #493
FWIW, this is no longer relevant for me, as I abandoned Haul in favor of metro with a custom configuration to suit my needs.

[2019-01-22 09:49] maxammann commented on #156
Currently having problems with using rn-fetch-blob. There is no easy solution to transpile specific modules currently.

[2019-01-23 11:28] zaguiini opened #513 "A lot ot "hot-update" files being generated"
### Current Behavior
Whenever I run the app, a lot of `hot-update.(json|js)` files are generated and they remain there after closing the app/bundler. **I am not even using hot reload. It's turned off on Dev Settings**

I can add them to `.gitignore` via `*.hot-update.*` and it's a "solution", but not ideal...

![image](https://user-images.githubusercontent.com/26530524/51603367-c35ac180-1ef0-11e9-

[2019-01-23 12:08] zaguiini commented on #314
What do you mean with "reset the cache"? I can't do this...

[2019-01-24 09:22] #499 closed

[2019-01-25 14:09] nbennink opened #514 "Xcode shell script errors after update to Babel 7 / RN 0.57"
### Current Behavior
I'm upgrading from React Native 0.56 to React Native 0.57. I have to update babel 7 to make this work. So I followed [these](https://github.com/react-native-community/react-native-releases/blob/master/CHANGELOG.md#updating-to-this-version) steps from the React Native changelog. And some of the tips in #411. But I get a lot of errors from the haul shell script when I build in x

[2019-01-27 12:20] bebensiganteng commented on #511
Having the same issue, is there a solution for this?

[2019-01-28 19:33] thymikee commented on #513
This is due to this change: https://github.com/callstack/haul/pull/512

We could move the updates to some temp directory (see: https://github.com/callstack/haul/pull/512/files#diff-99e77f1c262ae763f3d7d593b2c0b417R85), and provide a way to clean it up.
Anybody willing to work on a solution?

[2019-01-28 22:21] tido64 opened #515 "Android crash with bundle deltas enabled"
### Current Behavior

Our Android app crashes on startup if dev support is enabled:

[code]

### Expected Behavior

It shouldn't crash 😄

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  1.0.0-rc.10 (62a1a76e74) |
| react-native     |  0.57.0 |
| node             | 8.15.0 |
| yarn      | 1.13.0 |

### Workaround

We're able to workaround this is

[2019-01-30 21:47] jwaldrip commented on #515
@tido64 where did you put that workaround? can you provide a more complete example?

[2019-01-30 21:56] tido64 commented on #515
@jwaldrip In your app, before you create a `ReactNativeHost`. I don't think you can disable it in Haul.

[2019-01-30 22:05] jwaldrip commented on #515
@tido64 my java is rusty. Can you show me what the MainApplication.java looks like?

[2019-01-31 21:16] tido64 commented on #515
@jwaldrip Here's a [demo app](https://github.com/petterh/react-europe-demo) a colleague of mine wrote. I would put the two lines [before line 50](https://github.com/petterh/react-europe-demo/blob/master/DemoApp/app/src/main/java/com/contoso/demoapp/ReactDemoActivity.java#L50). Line 50 will eventually [call `ReactInstanceManager.builder()`](https://github.com/petterh/react-europe-demo/blob/master/D

[2019-02-01 13:21] nbennink commented on #514
Thanks for your response. That doesn't work unfortunately. The error seems to be called from this script: Bundle React Native code and images
[code]

And not from the haul session that is running at that moment.

[2019-02-01 15:52] tido64 commented on #514
Can you try adding `export EXTRA_PACKAGER_ARGS="--progress verbose"` somewhere before you call `react-native-xcode.sh`?

[2019-02-01 16:33] nbennink commented on #514
Nice that works. I'm still have an issue with release builds but that's most likely caused by something else. Thanks.

[2019-02-06 07:38] #514 closed

[2019-02-11 19:29] apexskier commented on #513
Here's a proposed fix for this - https://github.com/callstack/haul/pull/516

[2019-02-12 09:37] #513 closed

[2019-02-12 15:30] apexskier commented on #493
#512 has definitely fixed this for me, in my opinion this can definitely be closed (now or when the next release is made)

[2019-02-12 15:30] #493 closed

[2019-02-12 15:31] thymikee commented on #493
The latest release is up for grabs with your last PR merged @apexskier 	:)

[2019-02-12 15:33] apexskier commented on #215
Is this closable? Our project uses Typescript and we've had debugging working on the last several versions.

[2019-02-12 16:30] #215 closed

[2019-02-12 23:25] grahamlyus commented on #493
I don't see any activity on this, I'm happy to have a go so to avoid filling my root directory with bundles and hot updates, even though I've put them in my .gitignore

Any pointers on how to get the output into a build folder or TMPDIR?

[2019-02-12 23:35] thymikee commented on #493
Update to the latest RC.12

[2019-02-15 11:44] vladpalkanov opened #518 "Could not find a declaration file for module 'haul/hot'"
### Current Behavior
I try to add haul HMR  in `index.android.tsx` this way:
[code]
but i got Typescript error: `TS7016: Could not find a declaration file for module 'haul/hot'.`

### Expected Behavior
I know that the [haul's hotApi](https://github.com/callstack/haul/blob/v1.0.0-rc.13/src/hot/client/hotApi.js) is flow-typed as the  `react-hot-loader`.
But should I declare my own `.d.ts` for this m

[2019-02-17 16:16] sirajulm commented on #368
### Current Behaviour
![image](https://user-images.githubusercontent.com/2260996/52915726-73a7c400-32fd-11e9-88f9-d943c61f70d1.png)

The same issue happens on both Android and iOS. Its seems like there is some issue with webpack, mixing of `export default` and `module.exports`
Below is more explainatory error when `Debug JS` is enabled

![image](https://user-images.githubusercontent.com/2260996/52

[2019-02-17 17:26] sirajulm opened #519 "Haul creating random folders in each run in project root"
### Current Behavior

Haul is pacakging the bundle and is being successfully loaded in both iOS and Android. There is no issue with the build, but haul is creating random folders in project `root`, prefixed as `haul-start-` while running Haul via `yarn haul start` command.

Please refer the screenshot:
![image](https://user-images.githubusercontent.com/2260996/52916391-d2247080-3304-11e9-87bb-63e4

[2019-02-17 18:02] sirajulm commented on #513
@apexskier  Thanks. This have fixed random folders being created. But the `documentation` for the `start` command is not updated with the new `--assetDest` option.

[2019-02-17 18:04] sirajulm commented on #519
After a lot of digging found the solution, needed to add `--assetDest` option to specify a destination. This is found missing the the documentation.

Related to Issue #513 which is fixed in PR #516

Closing the issue.

[2019-02-17 19:01] thymikee commented on #513
Mind sending a PR? :)

[2019-02-17 19:01] thymikee commented on #519
Btw by default the asset destination is set to os tmp directory

[2019-02-17 19:48] sirajulm commented on #519
Yeah, have checked the code, and it points to tmp directory. But in Mac I'm getting the folders being created in the project root. Not sure why this happens. :-(

[2019-02-17 20:00] sirajulm commented on #519
@thymikee isn't the temp directory be created like
`assetsDest = fs.mkdtempSync(path.join(os.tmpdir(), "haul-start-"))`  instead of
`assetsDest = path.join(os.tmpdir(), fs.mkdtempSync('haul-start-'))`

[2019-02-17 20:05] thymikee commented on #519
Oh, yea. Is it like that really? I'd gladly appreciate a fix

[2019-02-17 20:09] sirajulm commented on #519
Yes, otherwise, I'm getting the folder being created in `cwd`, but assetDest gives the path of `tmp` which is non-existent. Will create a PR in a while

[2019-02-22 10:04] Summys commented on #515
I'm using react-native-navigation and I couldn't manage to add those two lines anywhere in my code, so I found a more trivial approach.
1. Run `react-native run-android` with metro bundler. The app opens with an error.
2. Open DevSettings > Dev Settings > Disable Use JS Deltas
3. `npm run haul start --platform android`
4. `cd android && ./gradlew app:assembleDebug && ./gradlew installDebug

[2019-02-22 13:25] chelovekdrakon commented on #425
@zamotany so, How can I pass env variables through haul now? :)
Can not find a solution

[2019-02-22 13:33] chelovekdrakon commented on #425
And how can I access them in code afterward?)

[2019-02-22 18:32] meznaric commented on #425
@chelovekdrakon you simply set your environment as you normally would using `export ENV_VAR=value` or you prefix the command `ENV_VAR=value yarn haul start`.

Then in your code, you can read them with `process.env.ENV_VAR`.

Note: When I opened this issue I just wanted to read ENV_VAR inside `haul.config` and not in the made codebase, you may need to use webpack's DefinePlugin.

[2019-02-22 21:40] slavikdenis commented on #504
@Kireeti-K any chance you fixed it somehow? Run into the same problem... Thanks

[2019-02-22 23:01] slavikdenis commented on #504
@Kireeti-K try to check out this. https://github.com/callstack/haul/issues/314

[2019-02-28 04:38] stylehuan commented on #70
Hola, any update on this?

[2019-02-28 11:15] stackdumper commented on #368
Experiencing the same issue with a freshly initialized react-native project.

[2019-02-28 15:38] sirajulm commented on #368
@stackdumper This is the config file I got it working after few days of debugging

[code]
Main part in the config was the loaders, adding babel loader for js files, and ts-loader and babel-loader for tsx files fixed it for me.

[2019-03-05 17:53] stackdumper commented on #368
@sirajulm it doesn't help 😞

[2019-03-05 17:54] stackdumper commented on #368
Here's the reproduction:
https://github.com/stackdumper/haul-assign-readonly-repro.git

It is a clean `react-native init` -> `yarn haul init` setup, no typescript.

[2019-03-06 01:51] chiubaka commented on #156
Any new information on this? The above discussion about internals that make it difficult to not exclude specific `node_modules` is concerning.

Currently having trouble with what I think is a transpilation issue with `aws-amplify-react-native`.

[2019-03-06 01:57] chiubaka commented on #156
Mostly I'm wondering if the above is still relevant, given that much has probably happened since Nov 10, 2017.

[2019-03-06 04:18] sirajulm commented on #368
@stackdumper
This `haul.config.js` should fix your issue
[code]

I assume the `babel-loader` was not properly applied.

[2019-03-06 06:41] chiubaka commented on #156
Cool, I figured this out by poking around the configs returned in `haul.config.js`. @Traviskn's comment is still relevant, so the approach should likely be to modify the default `js` processing rule. I modified it in two ways:
1. Change the `test` from `/\.js$/` to `/\.jsx$/`, since I think many cases where one might want to transpile a `node_module` will involve React components shipped by that m

[2019-03-06 08:26] thymikee commented on #156
Happy to accept any improvements to this in a PR! :) jsx should be resolved by default

[2019-03-08 09:30] stackdumper commented on #368
@sirajulm thanks, this fixed the issue.

I guess the config you proposed should be a default, because currently `haul init` results in a broken project out-of-box.

[2019-03-11 12:03] sirajulm commented on #342
Adding `symlinks` `false` to the `haul.config.js` should fix the issue
[code]
This is issue with `webpack`, but I'd suggest adding docs to `haul` on adding symlinks could be a good help.

[2019-03-18 03:35] lgy87 commented on #511
Same here.

@TNorth22
set `node --max-old-space-size=8192` doesn't work for me. 😭

[2019-03-18 14:47] deepsweet commented on #368
Managed to narrow it down to not re-transpile entire `node_modules/` with Babel:

[code]

[2019-03-19 07:48] sirajulm commented on #368
@deepsweet Thanks. but once quick doubt, why do we need to add `babelrc: false ` and add `          presets: ['module:metro-react-native-babel-preset']` to the webpack config? Is there any advantage or just a personal choice ?

[2019-03-20 00:57] sayzenberg opened #523 "Is there a way to enable logging to file?"
I'm currently working on integrating Haul into a project, and it's working great so far. However, one issue I'm running into is that I need to be able to measure performance data, such as live reload times, in order to track and process them elsewhere. This is something that I see came up in #343 , but as far as I can tell the changes discussed have not yet been made. I'd settle for manually parsi

[2019-03-20 08:58] thymikee commented on #523
Cc @zamotany

[2019-03-21 09:23] tkow commented on #514
@tido64 I really really appreciate to your answer.
I use fastlane and I found its build process fails because of this error .
But,  this error is very difficult to find  except xcode console because fastlane always stop process their last of build with confusing error message looks throughly unrelated to this.

https://github.com/fastlane/fastlane/issues/8638

I looked for solution for 6hours and

[2019-03-21 11:46] tido64 commented on #514
Let's fix this once and for all :)

[2019-03-22 04:54] harleenarora opened #526 "RN ^0.58.6 Android crashes simply after reloading the app page"
**Description::**

I'm working on react-native application. If my API data size is more than 500 kb and can be extended to mb value. My Android/IOS app crashes on loading a page for a second time.

I can not add a pagination to the API, because I want all the data on the page load. I am having only 5 records, but each record having huge data. Pagination not resolved this issue for me. Each record

[2019-03-22 20:37] hjhart commented on #514
We stumbled across this error as well, and it appears to be due to the output from `simple-progress-webpack-plugin`. When configured to use one of the CI specific formatters, everything is fine.

See this link for documentation as to which ones are CI specific: https://github.com/dominique-mueller/simple-progress-webpack-plugin

I propose haul defaults to using either `--progress verbose` or `--pr

[2019-03-27 23:50] daryl commented on #519
Not sure why this has been closed this happens to me currently.

[2019-03-28 04:09] sirajulm commented on #519
@daryl This has been closed because we did fix the issue and have released the changes.
We could reopen it if you could provide us the version of haul and steps to reproduce. Thanks.

[2019-03-28 04:44] daryl commented on #519
Wouldn't say it's fixed? I've tried both `@latest` and `@next`. Always get a folder.

[2019-03-28 05:31] sirajulm commented on #519
Hey daryl, will look into it and get back to you :)

[2019-03-28 05:53] sirajulm commented on #519
@daryl  Unfortunately, I think the changes are not pushed to npm repository, which still points to version `1.0.0-rc.13`.

This have been fixed from `1.0.0-rc.14` and `next`. I've verified it now.
You could instead try installing
`yarn add -D https://github.com/callstack/haul#v1.0.0-rc.14`
 or
`yarn add -D https://github.com/callstack/haul#next`

Will reopen the ticket until it will be released to

[2019-03-28 06:04] sirajulm commented on #526
@harleenarora Could you provide a sample project to replicate the same? Or could you confirm if the issue is related with haul, by cross checking it with the metro bundler provided by react-native.

The above error log from android doesn't provide any information.

[2019-03-28 08:09] thymikee commented on #519
As confirmed with @sirajulm this is published under `next` tag (it points to `1.0.0-rc.15` now).

[2019-03-28 08:09] #519 closed

[2019-04-03 00:19] jwaldrip commented on #474
Same is happening to us. We were requiring images in one of our other packages, then haul wasn['t including them so I had to manually require the images somewhere within the app code itself.

[2019-04-03 02:46] hjhart opened #529 "CircleCI Crashes on Ubuntu instances due to Memory Usage"
## Ask your Question

The CircleCI boxes that are used for ubuntu testing (specifically our android build) have 36 cores. When we are running our `yarn bundle --platform=android` build, we are running out of memory with this error:

[code]

We don't see this problem on our other workstations, that have 8 cores.

When we modified the `thread-loader` options to only have 1 `worker`, we no longer see

[2019-04-03 04:39] hjhart commented on #523
I'd love to extend haul's logging abilities. Currently it all goes through the `https://github.com/callstack/haul/blob/next/src/server/ui.js` file, which subscribes to an EventEmitter.

It would be pretty straightforward to write another logger that subscribes to the EventEmitter as well.

My interests lie in that I'd love to have a more CI friendly (or `foreman start` friendly) logging available

[2019-04-03 06:08] thymikee commented on #523
PRs welcome :)

[2019-04-03 06:22] hjhart commented on #529
Another solution that is still not ideal is this one:

[code]

I'm thinking a better solution would be to just cap the number of workers to 15 (16 cores - 1)? I'm not sure what the tipping point is for number of spawned threads and out of memory errors, but we have only seen issues on these beefy 36 core machines. Otherwise we are using 8 cores + hyperthreading on our MacBook Pros. So maybe 7 is t

[2019-04-03 11:11] tido64 commented on #529
I seem to recall reading something about Webpack having memory leaks. Which version are you using? Could you try upgrading and see if that helps?

[2019-04-04 04:58] hjhart commented on #529
Hi @tido64, thanks for your response!

We are using webpack 4.29.5, so just a patch version behind. Seems unlikely to be a version issue.

[2019-04-04 05:36] tido64 commented on #529
I think I found the thread where we were discussing the issue at work. Seems upgrading to latest Node, or latest LTS version, solved that particular case. Something worth looking into?

[2019-04-04 07:45] savelichalex commented on #341
Seems like I need to use this patch with `keepAliveTimeout` again on `1.0.0-rc.14` version

[2019-04-05 13:09] tido64 commented on #518
Hi @vladpalkanov, looking at [DefinitelyTyped](/DefinitelyTyped/DefinitelyTyped), it's definitely not there. I'd suggest you write your own and submit a PR there.

[2019-04-06 21:10] hjhart commented on #529
@tido64 Thanks again. We were already using node LTS 10.15.3.

When you spin up 35 threads each that consume ~500mb of memory, you're bound to hit some limits, as that's nearly 18GB of memory.

Can we think of adding a maximum thread count to the thread-loader, or perhaps make it easily configurable?

[2019-04-06 23:28] tido64 commented on #529
Ah, I completely missed the number of cores. Sorry about that. The thread count is set in [`src/utils/makeReactNativeConfig.js`](https://github.com/callstack/haul/blob/90292542ac2d67609ef15b5218fd0c97d824742d/src/utils/makeReactNativeConfig.js#L100):
[code]
It looks like we're counting logical cores and subtract one. Should be simple to make configurable. What do you think, @thymikee? @hjhart, wou

[2019-04-06 23:51] hjhart commented on #529
Yeah, I can submit a pull request. Much friendlier than manipulating nested JavaScript objects...

[2019-04-08 04:36] cjhanrahan opened #531 "npm audit issue with ws dependency"
## Environment

node version: 11.9
os: Mac OS X 10.14
Haul version: I've tried 1.0.0-rc13 and 1.0.0-rc15

## Description

During installation of haul there is the following warning:
[code]
Running npm audit produces the following output:
[code]

I realize that haul is most likely using websockets for local development purposes, so perhaps a denial of service might not really be as big of a concern

[2019-04-08 21:59] alexanderkjeldaas commented on #335
When loading built javascript dynamically in Chrome, this bug ensures that the scripts are blocked by the CORB system in Chrome.
https://chromium.googlesource.com/chromium/src/+/master/services/network/cross_origin_read_blocking_explainer.md

[2019-04-12 15:56] tido64 commented on #531
Thanks, @cjhanrahan. There's a PR out, #453, but it seems that it's gone a little cold simply due to lack of time. As you've mentioned, it's not really an issue because it's used for local development only but it would be really nice to fix it. If you're willing to take a shot at it, I know the folks in the PR have expressed their willingness to assist.

[2019-04-12 18:37] SEAPUNK commented on #511
FYI, the out of memory issue happens because Haul starts up worker processes that don't have a max heap size configured. You can fork Haul and configure this value yourself, which is what we did: https://github.com/discordapp/haul/commit/ab256106d46e1f3505ddb1a169f98b2f50c1f0b2#diff-332bac151e40e6cd74cea97441a4144bR115

If there's an environment variable that we can configure that has the same eff

[2019-04-12 18:46] SEAPUNK commented on #511
Oh, looks like you can do this with `NODE_OPTIONS`: https://nodejs.org/api/cli.html#cli_node_options_options

[code]

Running haul with this envvar seems to work.

[2019-04-14 18:14] uber5001 opened #532 "How do I set up Haul for android?"
Every time I've tried setting up haul, using various versions of Haul and React Native, I always get an "Unknown" error, or some other error on the android emulator, but everything works fine with the metro bundler.

software | version
-- | --
Haul | 1.0.0-rc.13
react-native | 0.57.0
node | v11.14.0
npm or yarn | npm 6.9.0
windows | 10 education version 1803

Here's a typical setup experience for

[2019-04-14 21:33] cjhanrahan commented on #531
Ok I don't know too much about websockets, but I'll dig into it a little and see what I can do

[2019-04-15 13:05] mschipperheyn opened #534 "Problems with mono repo"
I have a mono repo with the following structure
[code]

I have the following webpack config structure
[code]
I get the following error
[code]
when I `import App from 'App';` from `packages/social/src/modules/messenger/actions/messengerActions`

It tries to get the `App` file from  `/Users/me/projects/project/packages/mobile/App` instead of from `/Users/me/projects/project/packages/mobile/src/App`

[2019-04-17 00:01] grahamlyus opened #535 "New Project won't run since 1.0.0-rc.13"
## Environment

macOS Mojave 10.14.4
node v8.15.0
yarn v1.13.0

## Description

New project fails with this in the iOS Simulator:
[code]

If Remote JS Debugging is on this is the error shown in the Simulator:
[code]

Seeing as 1.0.0-rc.12 works, the issue must be related to this commit as it's the only change from 1.0.0-rc.12 to 1.0.0-rc.13: https://github.com/callstack/haul/commit/87ad54a1ba3d897

[2019-04-17 09:49] zamotany commented on #535
AFAIK the issue is with `@babel/runtime` and it's transform which is adding ES imports instead of `requrie` which causes the error due to Webpack not allowing to mix CommonJS and ESM together. One of the solution is to pass `enableBabelRuntime: false` to `metro-react-native-babel-preset`. Here's a `haul.config.js` for that:
[code]

[2019-04-18 20:44] TheLarkInn commented on #70
@zamotany Hey, sorry for taking so long to get back on this.

Okay, from what I understand, this is the equivalent of adding 8 scripts to your head and they all load. (With the unbundled one first). Basically each file executes sequentially and adds their modules on `self` (as seen above). Building it in the webworker target allows for this to happen.

[2019-04-23 12:34] respectTheCode commented on #535
This didn't work for me. I still get the same error.

[2019-04-25 15:05] zamotany commented on #529
How about we just remove `thread-loader`? There's almost not gain, from my measurements on 4 cores/8 threads machine it's around ~10% difference only. IMO it should be a opt-in instead of opt-out (current implementation).

[2019-04-26 10:12] zamotany opened #537 "Roadmap & future"
# Haul - Roadmap & future

## Problems and issues

It's no secret that Haul, as well as other software solutions has many issues and problems. Some of them, can be fixed in Haul, some of them cannot. With Haul the primary objective was to leverage Webpack ecosystem, which also has it's own limitations and problems. Some of the open issues on our repository, are partially or even fully connected wi

[2019-04-26 10:14] zamotany commented on #537
cc: @thymikee @Krizzu @acoates-ms

[2019-05-01 09:56] swdenglian commented on #535
This did work for me in haul^1.0.0-rc.15.

[2019-05-01 16:18] swdenglian commented on #532
you can see #535

[2019-05-06 02:20] code-brewer opened #539 "what's wrong? Simply a newly init RN project meet problem"
## Ask your Question
 I have just create a fresh RN project with version specify to 0.57.0.
Then do  `npx haul init`  give out message :

[code]
But i remember that haven't install haul local ( don't understand why ahead `npx haul init` not complain haul not found)

so, install 'haul' locally:
[code]

finally, install 'metro-react-native-babel-preset'
[code]
As you see, each step give many warning

[2019-05-09 15:56] kelset commented on #535
two quick feedbacks:
1) I also had to `yarn add -D react-hot-loader react-dom` to make Haul work (bug in way dependencies are set for Haul? not sure 🤔)
2) Had to modify the haul config as wrote by @zamotany (thanks for sharing that btw!) - side question to that, can't we modify the `metro.config.js` file instead? 🤔 I tried but couldn't actually make it work tbh

[2019-05-11 02:46] adgarcia opened #553 "RAM bundles"
## What flag do I need to flip to get to RN to properly parse the ram bundle generated by haul?

So, I yanked your ram bundle plugin out of the `next` branch and just optimistically passed it as a webpack plugin to my haul build script (which uses 'old' haul @ r.c.14) ... and it works! Sort of! I sanity checked the bundle using Facebook's `RamBundleParser`, and that went swimmingly (`parser.getSta

[2019-05-11 10:10] zamotany commented on #553
Normally, to enable RAM bundles, you have to modify build configs in XCode/Gradle: https://facebook.github.io/react-native/docs/performance#ram-bundles-inline-requires

However, do check whether bundle is a RAM bundle, React Native internally check if the bundle starts with `MAGIC_NUMBER`. So if you build Index RAM bundle for iOS it should work just fine. For Android, we are working on File RAM bu

[2019-05-15 12:25] tido64 commented on #535
@zamotany: What are the implications of disabling the Babel runtime? Can we add it to the default Babel config?

[2019-05-15 18:47] zamotany commented on #535
It turns out that the problem is not Babel runtime, but `disableImportExportTransform: true` which will not transform ES import/export. This is bad, since some files in RN JS source code have mixed both ES import/export and CommonJS in a single file, which is unsupported by Webpack - with Webpack you cannot mix ES import/export and CommonJS.

So we should revert that change. Also if you're running

[2019-05-16 01:31] uber5001 commented on #532
Closing this. It looks like this is a duplicate of #535

[2019-05-16 01:31] #532 closed

[2019-05-16 05:44] tido64 commented on #535
That means we'll lose tree-shaking again. 😞

What is the implications of disabling the Babel runtime? In my testing, it seems to work just fine. If we disable `disableImportExportTransform` in Haul, we could just explicitly enable it with the Babel runtime disabled in our systems.

cc @acoates-ms

[2019-05-16 09:47] zamotany commented on #535
@tido64 yeah, but you loose tree shaking inly in your code and maybe other non-RN dependencies. Because of CommonJS in RN, it won't tree shake it. You can also submit PRs to RN to rewrite CJS to ESM.

[2019-05-16 09:50] zamotany commented on #535
Or you could `disableImportExportTransform` but you would need to apply commonjs transform for all files from RN

[2019-05-20 16:19] chiubaka commented on #535
I also encountered this. Had some trouble patching configs for `1.0.0-rc.15`, and it sounds like this hasn't been resolved yet...

So I downgraded to `1.0.0-rc.12`, and can confirm this resolved my issue.

[2019-05-30 11:00] cani1see opened #566 "release build don't work right after remove haul"
I installed package "haul" and remove it.
at that time the error already came up,

[code]

I did the sequence
[code]

and the problem is gone.

today I try to build a release package, and the problem is back.

only this time it happens in :app:bundleReleaseJsAndAssets stage only.

I tried a lot of things: remove yarn cache, switch to npm to manage node_modules, switch node version..

this time it

[2019-05-30 17:55] tido64 commented on #566
Did you remove Haul completely from `package.json`? Does your `build.gradle` files reference Haul in any way? How do you otherwise build your bundle?

[2019-05-30 21:11] adgarcia commented on #553
Thanks, that was helpful. Does haul provide a way to preload modules? This is possible using metro:

[code]

Does haul have an equivalent?

[2019-05-31 02:24] cani1see commented on #566
@tido64
found it
[code]
 is still in `build.gradle`, don't know why text find didn't spot it.

[2019-05-31 02:24] #566 closed

[2019-05-31 08:50] tido64 commented on #566
Glad you found it 😄

[2019-06-09 12:18] EhsanJahoon commented on #149
Check this doc
https://webpack.js.org/guides/typescript/

[2019-06-10 17:28] zamotany commented on #553
@adgarcia No, we don't support that. However, there is ongoing work to add support for DLL bundles to both Haul and React Native, so it is possible that in the future, you would be able preload some code.

[2019-06-10 17:28] #553 closed

[2019-06-10 17:30] zamotany opened #569 "Configuration revamp"
# Why?

We need to predictable and scaleable approach to configuring Webpack and Haul. We reached the point where allowing the user to configure Webpack config in user-space is too risky and we need to hide it behind our small abstraction. Common use-cases should still be supported as well as transforming raw Webpack configs for advanced users.

## Notes on `EnvOptions`, `makeConfig` and `withPoly

[2019-06-11 12:43] zaguiini commented on #535
@zamotany solution works for me!

[2019-06-13 18:13] natew opened #572 "react-spring cannot resolve 'react-native'"
## Environment

Using rc.13 and react-spring/native

## Description

When importing `` I get this error on startup:

[code]

## Reproducible Demo

[code]

and then in App.js:

[code]

As you'll see it has a `react-native` entrypoint in package.json:

`"react-native":"native.js"`

And this file expects react-native, which for some reason isn't being found. I've actually been trying to modify my hau

[2019-06-19 06:02] Mayzie opened #577 "[@haul-bundler/0.5.0] glamorous-native module parse error"
## Environment

- "react-native": "0.59.2",
- "@haul-bundler/babel-preset-react-native": "^0.5.0-alpha.1",
- "@haul-bundler/cli": "^0.5.0-alpha.1",
- "@haul-bundler/preset-0.59": "^0.5.0-alpha.1",

## Description

Haul is unable to compile a bundle due to me using the [glamorous-native](https://github.com/robinpowered/glamorous-native) package. It produces the following error:

[code]
(note: I als

[2019-06-19 06:09] thymikee commented on #577
I think Haul still doesn't transpile the source code of node_modules by default (only some common ones are included, like starting with `react-native-` etc). You'll need to adjust `babel-loader` configuration to include `glamorous-native`, which recently got revamped, more details here: https://github.com/callstack/haul/pull/570 and in related issue

[2019-06-19 09:25] zamotany commented on #577
This line https://github.com/callstack/haul/blob/next/packages/haul-preset-0.59/src/defaultConfig.ts#L49 is only allowing certain modules to be transpiled from `node_modules`. Ideally we would have an option in the `haul.config.js` to include paths/libaries to transpile manually, but for now you need to use `transform` and overwrite that regex to add `glamorous-native`. The reason we don't transpi

[2019-06-24 21:10] Swaagie commented on #535
What combinations of versions actually worked for people? I've tried different permutations of RN@0.58 and RN@0.57 and all haul versions from `rc.12` to `rc.15` with a newly initialized RN project. Didn't get it to function, kept failing on the orginal post's error.

Also note: some configuration changes are rather specific to the structure of the underlying babel and webpack configs. There

[2019-06-27 00:57] Mayzie commented on #577
Terrific. Just modified that line and it now transpiles. Thanks guys! 🙂

[2019-06-27 00:57] #577 closed

[2019-06-29 15:39] gaearon opened #583 "Support Fast Refresh"
## Describe the feature

We've landed [Fast Refresh](https://mobile.twitter.com/reactnative/status/1144629612921720833) on React Native master. You can try it if you build all Metro packages from master and replace them in `node_modules` of RNTester.

## Motivation

It would be nice if Haul could replace `react-hot-loader` or other techniques with Fast Refresh because:

- Fast Refresh doesn't crea

[2019-06-29 15:59] thymikee commented on #583
We develop the next version of haul on next branch and disabled hot loader because it was just too hacky. We're happy to give Fast Refresh a try. Cc @zamotany who's developing Haul at the moment

[2019-07-02 14:43] zamotany commented on #583
@gaearon Yeah, I'm happy to chat (with pretty much whatever means of communication you prefer). Alternatively you can write me a quick overview and point me to the source code in Metro if needed.

[2019-07-07 16:42] farid-ouachrar commented on #535
I also have experienced this issue!

[2019-07-09 17:16] marchaos commented on #487
Still seeing this error on the latest version.

[2019-07-09 17:59] grrrlikestaquitos commented on #474
Same issue happened to me.

[2019-07-09 18:18] jkirkpatrick24 commented on #535
Hey there! I'm also running in to a similar issue.

I'm starting a new project using react-native `0.60.0` and trying to set it up with haul. When installing I ran in to the same problems in this thread.

After installing `react-dom` and `react-hot-loader` along with updating the [haul config](https://github.com/callstack/haul/issues/535#issuecomment-484016561) provided by @zamotany I am able to r

[2019-07-10 20:21] sarink commented on #535
Hey @jkirkpatrick24 , I just ran into the same issue. I worked around it by installing and using the [console.assert polyfill](https://www.npmjs.com/package/console-assert) at the top of my entry point.

[2019-07-11 21:25] ARusani opened #589 "Haul can't resolve 'fs'"
## Ask your Question
In my react-native project, a third-party module generates the error:

../node_modules/@universal-login/commons/dist/utils/save.js
Module not found: Error: Can't resolve 'fs' in '/home/alex/my-project/node_modules/@universal-login/commons/dist/utils'

With web version, adding
[code]
in the `webpack.config.js` resolve the problem, but with Haul doesn't work.

Any adv?

[2019-07-12 18:42] aaronkchsu opened #590 "Field 'browser' doesn't contain a valid alias configuration | node_modules/react-hot-loader.ts doesn't exist"
### Current Behavior
I am trying to upgrade to the newest haul version but I keep getting this build error! Just trying to find an idea on how to get unstuck, I have been on this problem for a couple weeks! Super appreciative to have any help! Thanks!

[code]
### Expected Behavior

### Haul Configuration (haul.webpack.js)

We use the metro preset for babel
[code]
I followed the typescript recipe.m

[2019-07-12 21:31] ARusani commented on #590
Try

[2019-07-12 22:03] aaronkchsu commented on #590
Thank you @ARusani! Do you mean putting it right after setting the current rules? If that is the right place, I get this now!

[code]

[2019-07-12 22:26] ARusani commented on #590
My conf is:
[code]

and in package.json I have in   "devDependencies" section:

[code]

[2019-07-14 00:30] aaronkchsu commented on #590
@ARusani interesting, thank you this really helps! I wonder why its giving me this.. what does your typescript config look like?

[2019-07-14 07:04] ARusani commented on #590
Hi Aaron,
this is my tsconfig.json file:

[code]

[2019-07-14 07:09] ARusani commented on #589
I figured out how to set it up:

    `config.node = { fs: 'empty' };`

found in a response on stackoverflow.

[2019-07-14 07:09] #589 closed

[2019-07-15 15:44] #569 closed

[2019-07-15 22:08] FullstackJack commented on #535
I'm stuck on this as well. React Native development has actually become more brittle lately. Flutter is so much easier and just works.

[2019-07-16 10:44] zamotany commented on #590
@aaronkchsu you can also try using our new revamped version of Haul on [`next`](https://github.com/callstack/haul/tree/next) branch. It's much more stable and supports RN 0.59 and 0.60.

If you want to give it a go:
1. Back up your `haul.config.js` and `babel.config.js`
1. Remove `haul` package
1. Install `@haul-bundler/cli` and `@haul-bundler/preset-0.59` for RN 0.59 or  `@haul-bundler/preset-0.6

[2019-07-16 10:48] lalit-atrish commented on #189
did you find any solution?

[2019-07-16 10:50] zamotany commented on #572
@natew

This code:
[code]
looks fine to me as well as:
[code]

Can you run `yarn list --pattern react-native` and paste the output?

[2019-07-16 10:59] zamotany commented on #535
For anyone running RN 0.59 or 0.60, please check the revamped version of Haul on [`next`](https://github.com/callstack/haul/tree/next/) branch - it's much more stable. The `haul` package will become deprecated soon.

Here's what you have to do in order to migrate:
1. Back up your `haul.config.js` and `babel.config.js`
1. Remove `haul` package
1. Install `@haul-bundler/cli` and `@haul-bundler/prese

[2019-07-16 11:03] zamotany commented on #539
@code-brewer
Yes, it's fine. Please note that we are doing a revamp of Haul on [`next`](https://github.com/callstack/haul/tree/next) branch (RN 0.59 and above only) and `haul` package will become deprecated in the near future.

[2019-07-16 11:10] zamotany commented on #529
For anyone having this problem: the issue has been fixed on a [`next`](https://github.com/callstack/haul/tree/next) branch, when we do a Haul revamp. If you're running RN 0.59 or 0.60, please check it out - it's much more stable.

[2019-07-16 11:12] zamotany commented on #526
I'm closing the issue due to inactivity. Feel free to reopen if necessary.

[2019-07-16 11:12] #526 closed

[2019-07-16 11:17] zamotany commented on #518
I'm closing this issue, since the `haul/hot` files are no longer present on revamped Haul version on [`next`](https://github.com/callstack/haul/tree/next) branch and `haul` package will become deprecated in near future. Also you can provide typings for it locally using `declare module`.

[2019-07-16 11:17] #518 closed

[2019-07-16 11:19] zamotany commented on #515
This is no longer an issue on the [`next`](https://github.com/callstack/haul/tree/next) branch where we're doing a revamp of Haul. If you're using RN 0.59 or 0.60 go check it out - it's much more stable.

[2019-07-16 11:20] zamotany commented on #511
This shouldn't be an issue on the [`next`](https://github.com/callstack/haul/tree/next) branch where we're doing a revamp of Haul. If you're using RN 0.59 or 0.60 go check it out - it's much more stable.

[2019-07-16 11:25] zamotany commented on #189
@lalit-atrish We stopped using `happypack` a long time ago, please if you can use latest version or even better our soon-to-be-official revamped version on [`next`](https://github.com/callstack/haul/tree/next) branch.

[2019-07-16 14:13] aaronkchsu opened #593 "Images are not loading with @haul-bundler"
## Ask your Question
I followed the migration instructions and copied my old config into the transform of the new haul config.

Everything is working pretty well except in places where I require images using the relative path haul doesn't go to the right location to fetch them. Is there a way for me to fix this?

[code]
[code]

[code]

[2019-07-16 14:30] aaronkchsu commented on #590
Thank you this helped a lot! I only had one small problem but a posted it
in a new question

On Tue, Jul 16, 2019 at 4:44 AM Paweł Trysła <notifications@github.com>
wrote:

--
_________________________________________

Founder of
https://blerp.com

[2019-07-16 14:34] #590 closed

[2019-07-16 15:15] zamotany commented on #593
@aaronkchsu
Can you describe file structure in your project? More specifically: where the images are located, from where they are required and what the import/require path used. No need to post all of those, just some examples.

[2019-07-16 16:08] zamotany commented on #593
I have check it and it's a bug. I'm working on a fix.

[2019-07-17 12:23] zamotany commented on #593
@aaronkchsu the issue is now fixed and will be released in `0.7.1` today.

[2019-07-17 12:23] #593 closed

[2019-07-17 12:44] #472 closed

[2019-07-17 12:45] #420 closed

[2019-07-17 12:45] #416 closed

[2019-07-17 12:47] zamotany commented on #389
Revamped version of Haul on `next` branch doesn't have that issue, since by default it uses `SourceMapDevToolPlugin` and `EvalSourceMapDevToolPlugin` is an opt-in.

[2019-07-17 12:47] #389 closed

[2019-07-17 12:48] #376 closed

[2019-07-17 12:48] zamotany commented on #369
Something similar is already done on `next` branch.

[2019-07-17 12:48] #369 closed

[2019-07-17 12:50] zamotany commented on #469
Not longer an issue on `next` branch with revamped version of Haul

[2019-07-17 12:50] #469 closed

[2019-07-17 12:53] zamotany commented on #338
No longer an issue with revamped version of Haul on `next` branch.

[2019-07-17 12:53] #338 closed

[2019-07-17 12:54] zamotany commented on #471
No longer an issue with revamped version of Haul on `next` branch.

[2019-07-17 12:54] #471 closed

[2019-07-17 12:55] #10 closed

[2019-07-17 12:55] zamotany commented on #10
No longer relevant.

[2019-07-17 12:59] zamotany commented on #70
Due to the nature of React Native, code splitting can be achieved using:
- either dynamic imports `import('something')` with RAM bundles (`ram-bundle` command, https://facebook.github.io/react-native/docs/performance#enable-the-ram-format)
- or with multi-bundle feature aka Apennine Architecture (multiple bundles + DLLs) once it's merged into the React Native

[2019-07-17 12:59] #70 closed

[2019-07-17 13:24] aaronkchsu commented on #593
@zamotany thank you so much!

[2019-07-17 16:37] #498 closed

[2019-07-17 16:38] zamotany commented on #593
@aaronkchsu `0.8.0` is live on npm with some improvements

[2019-07-17 17:33] koke opened #600 "Remote debugging not working on VSCode (next branch)"
## Environment

[code]

## Description

Using the [vscode-react-native](https://marketplace.visualstudio.com/items?itemName=vsmobile.vscode-react-native) extension for debugging instead of Chrome doesn't work in the `next` branch.

The first issue is that the extension can't find the debugger code in the standard path:

[code]

Luckily, there's a configuration option for that which fixes this one:

[2019-07-17 20:01] aaronkchsu opened #601 "iOS development build works fine but React bundling failing during release build? (next branch)"
Is my configuration right for using the new Haul packager on the next branch?
I removed the old CLI_PATH that linked to the old package and added the new one to the new haul-bundler package!
[code]

I am trying to create a release build but i keep getting this error

[code]

[2019-07-17 23:29] zamotany commented on #600
I think I can get away with checking the platform, since it's needed for multi-bundle, but the multi-bundle is not yet part of the RN.

[2019-07-17 23:35] zamotany commented on #601
Either there was a failure when crating a bundle or there was some issue with `--bundle-ouput`.

Can you:
1. Install `@haul-bundler/inspector`
2. Run `yarn haul-inspector` or with npx
3. Add `export HAUL_INSPECTOR=wait` to build phase in xcode project (below `CLI_PATH`)
4. Try to build again
The haul process should log some information to haul inspector, could you paste them here?

[2019-07-18 00:00] aaronkchsu commented on #601
Thanks for the quick response @zamotany !! Here is the log ```18149) ▶︎ {"type":"RuntimeCommandStartEvent","command":"bundle","argv":["/Users/aaronkchsu/.nvm/versions/node/v8.4.0/bin/node","/Users/aaronkchsu/code/blerp/mobile/node_modules/@haul-bundler/cli/bin/haul.js","bundle","--entry-file","index.js","--platform","ios","--dev","false","--reset-cache","--bundle-output","/Users/aaronkchsu/code/bl

[2019-07-18 05:23] aaronkchsu commented on #601
Alright this was my fault, the old haul config that i copied over to the transform didnt need the output js file changed! Thanks for guiding me through the inspector tool!

[2019-07-18 05:23] #601 closed

[2019-07-18 09:01] tkow opened #602 "@haul-bundler runtime.logger.debug is not function"
## Environment

### npm dependencies
[code]

### Error Log
[code]

## Description

haul with typescript cause error runtime doesn't have logger.debug with transform option. Does anyone have an idea why this occur.

## Reproducible Demo

reproduce by https://github.com/tkow/haul-test
this repository configuration works  at previous version of react-native and haul@1.0.0-rc.15

[2019-07-18 11:01] zamotany commented on #602
@tkow It should be fixed now and will be released today EOD.

[2019-07-18 11:01] #602 closed

[2019-07-18 11:27] tkow commented on #602
Thank you for very quick fix!
I survey this and this doesn't occur when I avoid to use smartMerge and keep modules refs by no modifications.

[code]

So I think this problem could be caused by reference lost though I'm not certain. I'll be glad to hear If this is cared next release.

[2019-07-18 12:08] zamotany commented on #602
`smartMerge` probably was loosing a reference since the `logger` there was a `Proxy`. I switched it to built-in proxy support in logger so the `smartMerge` is handling it properly.

[2019-07-18 12:12] #600 closed

[2019-07-19 06:03] aaronkchsu commented on #601
Actually one extra question related to this ```==== JS stack trace =========================================

    0: ExitFrame [pc: 0x27c043dbe3d]
Security context: 0x292d12d1e6e9 <JSObject>
    1: parsersCb [0x292d64fdbff9] [_http_common.js:~151] [pc=0x27c049d5639](this=0x292d306bcbe9 <FreeList map = 0x292d7464a711>)
    2: alloc [0x292d64fdc039] [internal/freelist.js:~13] [pc=0x27c04b51a3b](this

[2019-07-19 07:19] koke commented on #600
Thanks. Unrelated to viscose, but is there any reason not to use `source-map-loader` in the default config?

[2019-07-19 11:44] zamotany commented on #600
@koke I wasn't 100% sure what `source-map-loader` does and if we need it, but after reading more about it, I think we can add it. Would you mind creating a PR to add it to `preset-0.59` and `preset-0.60` in `defaultConfig.ts`??

[2019-07-19 11:46] zamotany commented on #601
Hmm, it's hard to tell. Does out of memory error happens when running the `bundle` command without xcode?
[code]

[2019-07-19 18:28] aaronkchsu commented on #601
@zamotany Interesting it does work without xcode! I wonder if I just need to figure out how to push this out without using it

[2019-07-19 18:39] zamotany commented on #601
@aaronkchsu was the issue with out of memory happening with `HAUL_INSPERCTOR` env var exported in build phase? or without?

[2019-07-19 19:21] hesyifei opened #607 "`haul start --port` not being used"
## Environment

[code]

## Description

Command: `yarn haul start --port 3030` (https://github.com/callstack/haul/blob/64802a6174b4949c999397673af58ed1ad59ebe1/docs/CLI%20Commands.md#haul-start)

Expected behavior: `haul` should start on port 3030 and we should be able to open http://localhost:3030/.

Actual behavior: `haul` started on the default port 8081.

<img width="585" alt="Screen Shot 2019

[2019-07-19 21:32] aaronkchsu commented on #601
@zamotany thanks so much that worked lol, i owe you

[2019-07-20 07:32] struct78 opened #608 "Module AppRegistry is not a registered callable module"
## Environment

System:

[code]

## Description

I receive this error on both my application, and a brand new app created with `react-native init`. When I swap to the normal Metro packager the applications run fine. Error occurs with both haul, and newer @haul-loader/cli.

<img width="374" alt="Screen Shot 2019-07-19 at 8 49 41 am" src="https://user-images.githubusercontent.com/742653/61575825-27f

[2019-07-22 09:11] zamotany commented on #608
I've checked out the repro project and here are few things:
1. I had to comment out everything related to `amplify`, since `amplify/aws-exports` does not exists (mostly irrelevant)
2. After I inspected the created bundle I've noticed the `AppRegistry` is not being imported from `react-native`, but from `react-native-web`:

[code]
   as opposed to:
[code]
3. Once I've removed `babel-preset-expo` fr

[2019-07-22 11:05] zamotany commented on #607
The bug is fixed and will be released soon.

[2019-07-22 11:05] #607 closed

[2019-07-22 13:29] hesyifei commented on #607
@zamotany, thanks! `yarn haul start --no-interactive true` seems to be ignored too. It might be the same problem.

[2019-07-22 15:50] zamotany commented on #607
For now use `--no-interactive=true`. For some reason yargs is not properly handling this option. I'll look into it.

[2019-07-23 11:18] zamotany commented on #607
@hesyifei you might want to check #611

[2019-07-23 17:33] arundilipan opened #612 "Issue with Typescript React Native setup"
## Environment

Running this on macOS 10.14.5.

- `npm`: `6.9.0`
- `node`: `12.6.0`
- `react-native`: `0.60.4`
- `react-native-cli`: `2.0.1`

## Description

Package is not building on `yarn start haul`, getting an error that looks like in the terminal:
[code]

## Reproducible Demo

- Created new project using `react-native init Project --template typescript`
- Added `haul` using `yarn add --dev @

[2019-07-23 19:31] zamotany commented on #612
@arundilipan Can you copy & paste content of `haul.config.js`?

[2019-07-25 09:10] isuhar commented on #612
Similar problem with TypeScript

export default makeConfig({
    bundles: {
        index: {
            entry: "./src/mobile/index",
            transform({ bundleName, env, runtime, config }) {
                runtime.logger.info(`Altering Webpack config for bundle ${bundleName}`)

                const options = makeOptions(Object.assign({}, argv.env, argv, {mobile: true}, env, {prod: !env.dev}

[2019-07-25 11:08] zamotany commented on #612
@isuhar
Try adding this to `transform`:
[code]
If that's the cause, I think I'll add it to a default config.

[2019-07-25 17:00] arundilipan commented on #612
tried this:
[code]

then I basically did this
[code]

[2019-07-26 12:31] isuhar commented on #612
@zamotany
`
{ mode: 'development',
  context: '/home/igor/www/megaplan/front',
  devtool: false,
  entry: [ './src/mobile/index' ],
  output:
   { path: '/tmp/haul-start-4GyFWM',
     publicPath: 'http://localhost:8081/',
     globalObject: 'this',
     filename: 'index..bundle' },
  module:
   { rules: [ [Object], [Object], [Object], [Object], [Object] ],
     noParse:
      [ /google-libphonenum

[2019-07-29 08:55] isuhar commented on #612
This was a problem

`config = merge.strategy({
                "module.rules": "replace",
                "stats": "replace"
            })(
                config,
                resolver(options)
            )`

Must be

`
Object.assign(config, merge.strategy({
                "module.rules": "replace",
                "stats": "replace"
            })(
                config,
                r

[2019-07-29 09:34] zamotany commented on #612
@isuhar Ah, yes, in `transform` you can either mutate the `config` like `config.plugins.push(...)` or create a new instance of modified config and return it, so in you case it would be:
[code]

[2019-07-29 12:08] #612 closed

[2019-07-30 09:14] koke commented on #600
In my latest attempt, I wasn't able to make `source-map-loader` work as expected for debugging dependencies, or maybe our dependencies had source maps built the wrong way. I can do the PR once I have a bit more clarity on what's going on there.

[2019-07-30 17:06] isuhar opened #616 "Error setTimeout after updating RN 0.60.4"
## Environment

 "react-native": "0.60.4",
"@haul-bundler/babel-preset-react-native": "0.9.0",
 "@haul-bundler/cli": "0.9.1",
"@haul-bundler/core": "0.9.1",
"@haul-bundler/preset-0.60": "0.9.0",
"jsc-android": "241213.1.0",
"@babel/core": "7.5.5",
"@babel/polyfill": "7.4.4",

**babel config:**

    module.exports = function(api) {
        api.cache.using(() => process.env.BABEL_ENV)

        retur

[2019-07-31 16:35] zamotany commented on #616
Can you tell me more when the issue is happening? Only when debugging in Chrome? Does development build w/o debugger and release build work?

[2019-08-01 09:47] isuhar commented on #616
The issue is happening in development build. The problem is in the setTimeout function.

**webpack config**

    {
        mode: 'development',
        context: '/home/igor/www/megaplan/front',
        devtool: false,
        entry:
       [ '/home/igor/www/megaplan/front/node_modules/react-native/Libraries/polyfills/console.js',
         '/home/igor/www/megaplan/front/node_modules/react-native/Li

[2019-08-01 12:27] zamotany commented on #616
@isuhar I've tried to reproduce the issue without any luck. Usually in those cases the problem is caused by something specific to the project, so it's hard for me to figure out the root cause. However, here are the things that you can do:
1. Create a repository with repro project
2. Get the generated bundle (for example when running development server: `curl http://localhost:8081/index.bundle?plat

[2019-08-01 12:28] zamotany commented on #608
Closing due to inactivity.

[2019-08-01 12:28] #608 closed

[2019-08-01 12:29] zamotany commented on #572
If anyone is having this issue please use `@haul-bundler/cli` (if not already using) and feel free to open a new issue.

[2019-08-01 12:29] #572 closed

[2019-08-01 12:30] zamotany commented on #539
If anyone is having this issue please use `@haul-bundler/cli` (if not already using) and feel free to open a new issue or reopen this one.

[2019-08-01 12:30] #539 closed

[2019-08-01 12:30] zamotany commented on #535
If anyone is having this issue please use `@haul-bundler/cli` (if not already using) and feel free to open a new issue or reopen this one.

[2019-08-01 12:30] #535 closed

[2019-08-01 12:31] zamotany commented on #529
If anyone is having this issue please use `@haul-bundler/cli` (if not already using) - where this issue is no longer occurring - and feel free to open a new issue or reopen this one.

[2019-08-01 12:31] #529 closed

[2019-08-01 12:32] zamotany commented on #515
If anyone is having this issue please use `@haul-bundler/cli` (if not already using) and feel free to open a new issue or reopen this one.

[2019-08-01 12:32] #515 closed

[2019-08-01 12:32] zamotany commented on #511
If anyone is having this issue please use `@haul-bundler/cli` (if not already using) and feel free to open a new issue or reopen this one.

[2019-08-01 12:32] #511 closed

[2019-08-01 12:39] salomaosnff opened #618 "What does the multi-bundle command do?"
## Ask your Question
When you run the haul --help command, a multi-bundle command is listed. Your description is a bit vague, what would be multi-bundle mode? How is the conventional bundle different?
Reading the CLI documentation I found nothing about.

[2019-08-01 12:39] isuhar commented on #616
undefined is not an object (evaluating 'Timing.createTimer')
@zamotany
My bundle does not have a native module Timing =((

     /node_modules/react-native/Libraries/Core/Timers/JSTimers.js

     const {Timing} = require('../../BatchedBridge/NativeModules');
     Timing.createTimer(id, duration || 0, Date.now(), /* recurring */ false);

[2019-08-01 12:53] isuhar commented on #616
but in exported variable it is
![image](https://user-images.githubusercontent.com/5614087/62294757-5febb680-b474-11e9-822e-912a21ccc056.png)

[2019-08-01 13:17] zamotany commented on #618
This command uses Webpack's DLL feature to build offload shared/common dependencies to DLL bundle. Additionally there are app bundles which use this DLL bundle(s).

This is a not-yet-usable feature in Haul connected with this proposal: https://github.com/react-native-community/discussions-and-proposals/issues/127

As of right now, there's no point in using it unless, you're running special forked

[2019-08-01 13:20] #618 closed

[2019-08-01 13:22] zamotany commented on #616
@isuhar
Can you copy & paste the code __from the bundle__ (the raw code, without any source maps etc) of those modules (including the wrapping function - the one with `__webpack_require__` argument):
- `node_modules/react-native/Libraries/Core/Timers/JSTimers.js`
- `node_modules/react-native/Libraries/BatchedBridge/NativeModules.js`

[2019-08-02 09:21] isuhar commented on #616
@zamotany
The raw code from http://localhost:8081/index.android.bundle

[JSTimers.txt](https://github.com/callstack/haul/files/3460514/JSTimers.txt)
[NativeModules.txt](https://github.com/callstack/haul/files/3460515/NativeModules.txt)

[2019-08-02 11:55] zamotany commented on #616
@isuhar Does the issue happen if you use `metro-react-native-babel-preset` in `babel.config.js`??

[2019-08-02 12:44] isuhar commented on #616
@zamotany yes, with "module:@haul-bundler/babel-preset-react-native" was some error

    module.exports = function(api) {
        api.cache.using(() => process.env.BABEL_ENV)

        return {
            presets: [
                "module:metro-react-native-babel-preset",
            ],
            plugins: [
                "react-require",
                "lodash",
                "./babel-plug

[2019-08-02 14:49] zamotany commented on #616
@isuhar Is it possible for you to prepare a repro project? I'm running out of ideas what might be causing that and without a project where we can reproduce the issue I'm unable to help.

[2019-08-05 09:53] tkow opened #620 "How @haul-bundler/babel-preset-react-native and metro-react-native-babel-preset are different?"
## Ask your Question

I try to update @haul-bundler version to v10 (preset-0.60, cli v10) my application because I want to try Hermes. Then we change  metro-react-native-babel-preset  to  @haul-bundler/babel-preset-react-native@10.1 learned by new ReadMe in my haul.config.js and babel.config.js. After that, our build failed because it seems that react-native-vector-icons doesn't read fonts automat

[2019-08-05 10:13] zamotany commented on #620
@tkow Yes you can use `metro-react-native-babel-preset` - it should work the same (though this may vary from project to project). If it works for you, go ahead and use it.

The main difference between `metro-react-native-babel-preset` and `@haul-bundler/babel-preset-react-native` is that we don't include all transforms that metro does, since some syntaxes are supported by the newer JSC, which was

[2019-08-05 10:25] tkow commented on #620
@zamotany
Thanks a lot to inform that. If I find why new preset doesn't work in my poject I''ll create new issue.

[2019-08-05 10:25] #620 closed

[2019-08-06 19:19] michael-stern opened #621 "makeConfig Does not use the port supplied in server"
## Environment

"react-native": "0.60.4",
"@haul-bundler/babel-preset-react-native": "0.10.1",
"@haul-bundler/cli": "0.10.0",
"@haul-bundler/preset-0.60": "0.10.0",

## Description

In my `haul.config.js` file I am calling `makeConfig` with a server object:
[code]
But when the haul server starts running it says `Packager server running on http://localhost:8081`
Changing the `host` in the `server`

[2019-08-07 13:28] isuhar commented on #616
@zamotany thank you, here is a repro project https://github.com/isuhar/haul-test-0.60.4

[2019-08-07 14:07] #621 closed

[2019-08-07 15:14] zamotany commented on #616
@isuhar awesome! I'll take a look

[2019-08-08 12:59] zamotany commented on #616
@isuhar I did some investigation and this is not an issue with Haul itself, but the config this project is using - more specifically:
[code]
in `.build/envs/module.js` is causing some modification/altering in the bundle, which make global variables set on `global` invalid. For example `global.nativeModuleProxy` which is needed for exposing `NativeModules` to JS (including `Timing` native module) w

[2019-08-12 13:54] zamotany commented on #504
Closing due to inactivity

[2019-08-12 13:54] #504 closed

[2019-08-12 13:54] zamotany commented on #496
Closing due to inactivity

[2019-08-12 13:54] #496 closed

[2019-08-12 13:55] zamotany commented on #490
With `@haul-bundler/cli` we no longer support HMR due to various problems and issues, which we don't have a capacity to handle.

[2019-08-12 13:55] #490 closed

[2019-08-12 13:56] zamotany commented on #421
Closing due to inactivity. If anyone have an similar problem, please open a separate issue and make sure you're using `@haul-bundler/cli`

[2019-08-12 13:56] #421 closed

[2019-08-12 13:57] zamotany commented on #403
Closing due to inactivity and the fact that in `@haul-bundler/cli` we dropped support for HMR.

[2019-08-12 13:57] #403 closed

[2019-08-12 13:58] zamotany commented on #402
Closing due to inactivity and the fact that in `@haul-bundler/cli` we dropped support for HMR.

[2019-08-12 13:58] #402 closed

[2019-08-12 13:58] zamotany commented on #391
Closing due to inactivity.

[2019-08-12 13:58] #391 closed

[2019-08-12 13:59] zamotany commented on #368
Closing since in `@haul-bundler/cli` we dropped support for HMR and `haul` package in no longer supported

[2019-08-12 13:59] #368 closed

[2019-08-12 13:59] zamotany commented on #330
Closing due to inactivity and the fact that in `@haul-bundler/cli` we dropped support for HMR.

[2019-08-12 13:59] #330 closed

[2019-08-12 14:00] zamotany commented on #531
Closing due to inactivity and the fact that in `@haul-bundler/cli` the `ws` package was already updated.

[2019-08-12 14:00] #531 closed

[2019-08-12 14:02] zamotany commented on #335
Closing due to inactivity. If you're having any similar problems, feel free to open a new issue and make sure you're using `@haul-bundler/cli`.

[2019-08-12 14:02] #335 closed

[2019-08-12 14:03] zamotany commented on #318
This should not be an issue in `@haul-bundler/cli`.

[2019-08-12 14:03] #318 closed

[2019-08-13 10:31] zamotany commented on #352
This should be fixed & working in `@haul-bundler/cli`.

[2019-08-13 10:31] #352 closed

[2019-08-13 14:08] zamotany commented on #523
If anyone is interested:
Yes, there's a option to enable logging to file with `--output-file <filename>` and `--json`, which will write logs in JSON format. #628 will also improve the logging to file.

The recommended way to log to file on CI:
* `haul bundle --output-file ./bundle.log --json <...rest>`
* `haul start --output-file ./start.log --json --no-interactive <...rest>`

[2019-08-13 14:08] #523 closed

[2019-08-13 18:04] akrger opened #629 "Typescript: Using const enum"
Is it possible to use const enums with this packager? I tried the [recipe](https://github.com/callstack/haul/blob/ece95b5e3c89750a2e48876293517e26c97b54ad/docs/Recipes.md) but couldn't get it to work. It seems that babel is always used for transpiling instead of tsc.

[2019-08-19 09:36] EricPolman opened #630 "WebSocket connection error when trying to load bundle"
Hi, when I am running the packager and try to load via either a simulator or a physical device, I get the error below. This started happening after I upgraded to @haul-bundler/cli instead of "haul" package. I am running windows with an android emulator. The error also occurs when the debugger is attached, and also when I try to bundle with `--eager android`.

How can I get this to work or figure o

[2019-08-19 12:02] zamotany commented on #629
@akrger Can you try this:
[code]

[2019-08-19 13:41] akrger commented on #629
Thanks, it's working with a splice on the array, then using the spread between the tsx and jsx loader.

[code]

[2019-08-19 13:52] zamotany commented on #629
@akrger Would you mind creating a PR to the docs with the correct config, but instead of using hardcoded values for `splice` using something like this:
[code]
or something else which will find the index of the rule to remove??

[2019-08-19 13:56] isuhar commented on #616
@zamotany thank you!

[2019-08-19 13:56] #616 closed

[2019-08-19 15:12] akrger commented on #629
I created a [pull request](https://github.com/callstack/haul/pull/631)

[2019-08-20 11:44] zamotany commented on #630
@EricPolman I'm not sure why the error is happening since the code related to it wasn't changed. That being said, I do plan to refactor some of the logic related to that and try to make it more robust.

[2019-08-20 11:45] #629 closed

[2019-08-20 14:03] JofBigHealth commented on #535
@zamotany That link fails now. I'm guessing you mean `https://github.com/callstack/haul/blob/master/docs/Configuration.md#customize-webpack-config`?

[2019-08-20 15:26] tachtevrenidis opened #632 "haul-bundler won't install with pnpm strictPeerDependencies turned on"
## Environment

node: 10.15.3
pnpm: 2.25.6
react-native: 0.60.5
@haul-bundler/cli: 0.12.0

## Description

While the old haul package used to install just fine with the same pnpm settings, while upgrading to the @haul-bundler/cli package (tried 0.10.0, 0.11.0 and 0.12.0), I get this error while installing...

I don't understand where the 0.11.0 dependency comes from since all the versions I am try

[2019-08-20 16:13] tachtevrenidis commented on #632
@zamotany, do you know why the package.json of core-legacy in the repo shows a peer dep to core 0.12.0 but then when I install the npm package the peer dep to core is for version 0.11.0? (I think this is what is causing my issue above).

<img width="1266" alt="Screen Shot 2019-08-20 at 9 09 58 AM" src="https://user-images.githubusercontent.com/11168727/63364503-90fc3000-c32a-11e9-824d-4c3cd564ed53

[2019-08-23 15:19] tachtevrenidis commented on #632
bump!

[2019-08-29 20:56] tkow opened #634 "haul bundle process lives forever even if RunTimeCompleteEvent with fastlane"
## Ask your Question

haul bundle process lives forever even if RunTimeCompleteEvent with fastlane' gym.

I don't know why it  is caused and whichever haul or fastlane or xcode build phase does.

Actually, I examined by inserting non-zero exit code before and after this command and haul-inspector log.

https://github.com/facebook/react-native/blob/master/scripts/react-native-xcode.sh#L117

When in

[2019-08-30 01:22] tkow commented on #634
Sorry. It seems not haul bug. I found  whatever I execute node.js process from cli, it couldn't detach it even if it is simple  node program like  console.log('sample') only in a file. I still don't know why it cause, but close this issue because it seem not related to haul.

[2019-08-30 01:22] #634 closed

[2019-09-10 02:00] flybayer opened #636 "Haul not working on brand new app"
## Environment

@haul-bundler/babel-preset-react-native: 0.13.0
@haul-bundler/cli: 0.13.0
@haul-bundler/preset-0.60: 0.13.0
react-native: 0.60.5
macOS: 10.14.6

## Description

Haul build is failing on a fresh react-native init app

![image](https://user-images.githubusercontent.com/8813276/64578286-f43b1a00-d34c-11e9-914f-29d6303a98fe.png)

## Reproducible Demo

1. `react-native init myapp`
2. `c

[2019-09-17 10:31] zamotany commented on #636
Cannot reproduce the issue. I've used the steps mentioned above with `react-native@0.60.5` and `@hau-bundler/cli@0.13.0`.

[2019-09-17 12:46] zamotany commented on #632
@tachtevrenidis When I publish the packages with `lerna` it bumps the versions, but it does not update `peerDependencies` so I have to update them manually and sometimes, the packages are published without this manual bump to `peerDependencies`.

I'm looking into properly handling that.

[2019-09-18 11:47] Karpengold commented on #630
Hi @zamotany. Is here any updates for this issue? I got same on windows after react-native run-android command:

[code]
[code]

[2019-09-19 09:57] isuhar opened #643 "Rebuild does not work correctly"
## Environment

    "react-native": "0.60.5",
    "@haul-bundler/babel-preset-react-native": "0.13.0",
    "@haul-bundler/cli": "0.13.0",
    "@haul-bundler/core": "0.13.0",
    "@haul-bundler/preset-0.60": "0.13.0",

node --stack_size=5000 --max-old-space-size=8192 "./node_modules/@haul-bundler/cli/bin/haul" "start"

## Description

After making changes to the code, the assembly is restarted, but

[2019-09-19 10:00] zamotany commented on #643
@isuhar Do you use Indexed RAM bundle or a regular bundle? Also how many modules in a project do you have (approximately)??

[2019-09-19 10:03] zamotany commented on #630
@Karpengold Well the issue is only reproducible on Windows, so if someone with Windows machine can take a shot at fixing it and sending a PR, that would be awesome (I can help and provide some context if needed). Otherwise, I'll fix it myself, but no ETA.

[2019-09-19 10:06] isuhar commented on #643
@zamotany regular bundle, more than 250 modules, 100 screens

[2019-09-19 10:17] zamotany commented on #643
@isuhar
What version of Node are you using?
Are you use --stack_size is correct? From the docs it should be --stack-trace-limit.

[2019-09-19 10:49] isuhar commented on #643
Loaders:

                {
                    test: /\.js$/,
                    exclude: /node_modules(?!.*[\/\\](react|@react-navigation|@react-native-community|@expo|pretty-format|@haul-bundler|metro))/,
                    use: filterEmpty([
                        cacheLoader(options),
                        threadLoader(options),
                        babelLoader(options)

[2019-09-19 14:56] isuhar commented on #643
@zamotany with --stack-trace-limit some error =(

[2019-09-23 11:58] #630 closed

[2019-09-26 09:14] zamotany commented on #636
Closing due to inactivity. Feel free to reopen.

[2019-09-26 09:14] #636 closed

[2019-09-26 09:17] zamotany commented on #534
Sorry for the delay. Are you sure this alias is correct?
[code]

It's pointing `App` to `social`, but you expect it to point to `mobile`?

[2019-09-26 09:19] zamotany commented on #507
HRM with Haul is no longer supported.

[2019-09-26 09:19] #507 closed

[2019-09-26 14:08] mschipperheyn commented on #534
@zamotany Hi, that reference is for the Mobile app that is shared between mobile and web. For mobile it's the starting point, but not the index.js. That's in our mobile package.

[2019-09-27 10:07] zamotany commented on #534
@mschipperheyn can you create repro repository with this structure and the configs you're using? I do not entirely understand how things connect by just looking at the tree of directories and a single config.

[2019-09-27 16:12] mschipperheyn commented on #534
Sorry @zamotany It's a long time ago. We moved away from haul (also had problems with the standard approach) and I'm focused on other things. Perhaps we'll get back to it again when we move to the mobile app.

[2019-10-03 14:28] zamotany opened #650 "Update react-native-windows recepie"

[2019-10-03 14:30] zamotany opened #651 "Add flag to Babel preset for ChakraCore to include required transforms"

[2019-10-03 17:52] TNorth22 opened #652 "After haul upgrade can't compile with TypeError: compilation.getAsset is not a function"
## Environment

[code]

Config:

[code]

## Description

After upgrading to the new haul bundle from a working legacy instance and starting with a fresh config I seemingly can't exclude things from Typescript checks and compilation terminates.  Not sure what I'm missing or am I looking at an outdated config?

[code]

## Reproducible Demo

[2019-10-03 18:43] zamotany commented on #652
@TNorth22 I'll take a lot at this tomorrow. In the meantime, if it's possible for you, could you create a repro repository, which I could use for testing?

[2019-10-04 07:51] chelovekdrakon commented on #278
@jukben what is the solution for this? I've just upgraded haul from 1.0.0-rc15 to 0.13.1 and run into this error.
@satya164 could you help me with this?

[2019-10-04 07:52] chelovekdrakon commented on #278
In `NativeSafeComponent.js` on componnet `LottieAnimationView` code try to set `runCommand` property

[2019-10-04 12:18] jounii opened #653 "webpack configuration aliasFields is missing 'react-native'"
## Environment

macOS, yarn and haul

[code]

## Description

We're working on react native project using typescript, tsconfig paths and other features. The ts-loader is not working propertly (chokes on some injected code I think), so using through babel-loader and tsconfig-paths-webpack-plugin.

However this issue is that ie. apollo-client does not work properly as it's "browser" version is being

[2019-10-07 13:08] #653 closed

[2019-10-07 13:33] zamotany commented on #652
@TNorth22 I cannot reproduce your issue. The config looks file apart from duplicated `...config.module.rules`. The stack trace is pointing to a Webpack plugin for creating source maps, so you can try adding `sourceMap: false` to bundle config just to check if that helps. Other than that, without a reproduction repo I cannot do much.

[2019-10-07 13:35] #650 closed

[2019-10-08 00:14] TNorth22 commented on #652
Hey @zamotany thanks for the response.  Just getting back from vacation today.  Unfortunately I couldn't repro on a fresh rn project :-/.

`sourceMap: false` results in a slew of typescript errors so i don't think that's going to help.

I'll see if I can dig a little deeper and get some more info in the meantime.

[2019-10-08 10:56] zamotany commented on #652
@TNorth22 setting `sourceMap` to `false` should not have any effect on loaders (and typescript compilation), which makes me think that maybe the underlying problem is with `ts-loader`/`typescript`.

1. Can you post those errors from typescript?
2. Did you tried `haul bundle` instead of `start`? Same results?

[2019-10-08 14:31] satya164 commented on #121
@chelovekdrakon please check the discord link in README

[2019-10-08 14:54] satya164 commented on #121
https://discord.gg/zwR2Cdh

[2019-10-09 13:56] zamotany commented on #535
@JofBigHealth yes https://github.com/callstack/haul/blob/master/docs/Configuration.md#customize-webpack-config

[2019-10-10 08:21] chelovekdrakon commented on #278
@zamotany Aloha!
Here is a sample project with a repro of the issue: https://github.com/chelovekdrakon/lottie-issue

[2019-10-10 10:44] zamotany opened #657 "Refactor Compiler/Forks to use jest-worker"
https://www.npmjs.com/package/jest-worker

[2019-10-10 11:45] jounii opened #658 "jest (babel) fails if using ES6 imports"
## Environment

devDependencies:

    "@haul-bundler/babel-preset-react-native": "^0.13.2",
    "@haul-bundler/cli": "^0.13.1",
    "@haul-bundler/preset-0.60": "^0.13.0",
    "jest": "^24.9.0",

Node v12.4.0

## Description

After changing `babel.config.js` preset `@haul-bundler/babel-preset-react-native` jest tests don't support import syntax anymore. If switching back to `metro-react-native-bab

[2019-10-10 12:08] zamotany commented on #658
@jounii
Add this to your Babel config:
[code]

[2019-10-10 14:27] zamotany commented on #278
Temporary workaround:
1. Install `remove-strict-webpack-plugin`
2. Add this plugin to the Webpack config like so:
[code]
(Don't worry about the errors, it works fine).

Use this workaround until the proper fix lands.

[2019-10-10 23:27] rdy commented on #474
[code]

[2019-10-11 00:20] matthargett commented on #474
I think metro's behavior is correct in this instance, and haul should be fixed to match. Having to break the encapsulation boundary of a transitively-imported packages, by importing resource files directly, would make for much more brittle code and higher maintenance burden. Ryan's example above has a first-order transitive import whose `.resource` assets are discovered but not copied, but I would

[2019-10-11 09:16] zamotany opened #660 "Export list of plugins for easier Haul's Babel preset extendability"

[2019-10-11 09:17] zamotany commented on #652
@rebirthtobi Can you post your `haul.config.js`?

[2019-10-11 09:48] jounii commented on #658
Thanks.  Your example pointed to right direction, however it was not enough because the jest is running and parsing all sort of files. Only common here was that it is running inside node.

So not sure if it is correct way, but this seems to work for now at least:

[code]

[code]

[2019-10-11 12:28] zamotany commented on #658
@jounii Looks a bit hacky, you can alternatively try this:
[code]

[2019-10-11 12:31] #651 closed

[2019-10-11 12:46] jounii commented on #658
Thanks, that looks better solution and works too. Not familiar with babel config that well, but makes sense now how it works.

[2019-10-11 13:12] zamotany commented on #474
@rdy @matthargett
I've created a test case for first- and second-order transitive dependencies with assets and I cannot reproduce the issue. The tests are passing and the assets are copied to bundle output directory: https://github.com/callstack/haul/pull/661/files#diff-f820790c2f4cd4c8e0d4d500a3a8c8d0R23-R60

The structure in the fixture I'm using looks like this:
[code]
All those 3 assets are pr

[2019-10-11 15:30] zamotany opened #663 "Install preset with previous version if latest one is not available"

[2019-10-11 16:27] rebirthtobi commented on #652
@zamotany this is it below
[code]

[2019-10-14 15:33] zamotany commented on #652
@TNorth22 @rebirthtobi  Can you add `"resolution": { "webpack": "4.39.1" }`, do `yarn install` and check if the error is still happening? Can you also try with `"resolution": { "webpack": "4.41.1" }`?

[2019-10-14 17:47] rebirthtobi commented on #652
@zamotany i believe that fixes it but i'm faced with a new error
`.babelrcRoots is not allowed in .babelrc or "extends"ed files, only in root programmatic options, or babel.config.js/config`

pointing to `@haul-bundler/preset-0.60/node_mudules/babel-loader/lib/index.js`

[2019-10-14 17:54] zamotany commented on #652
@rebirthtobi Can you post your Babel config file??

[2019-10-14 18:03] rebirthtobi commented on #652
[code]

[2019-10-14 22:37] hjhart commented on #652
Just as a note – taking the note from @zamotany above worked for us. There was a small typo, however, and it is:

[code]

Noting that the key recommended above was `resolution` but should be `resolutions`.

Thanks!

[2019-10-15 08:28] zamotany commented on #652
Ok, so this issue looks like it's caused by duplicated `webpack` depednency. I need a volunteer to:
1. Remove `resolutions` from `package.json`
2. `yarn install`
3. `yarn list --pattern webpack`
4. Paste the outout

@hjhart @TNorth22 @rebirthtobi

[2019-10-15 08:29] zamotany commented on #652
@rebirthtobi I believe the issue with `.babelrcRoots` is connected with your Babel config. In haul we don't use/specify `babelrcRoots`.

[2019-10-15 08:32] #537 closed

[2019-10-15 08:33] #534 closed

[2019-10-15 08:34] zamotany commented on #509
This should not be happening with the new `@haul-bundler/cli`. If anyone is having problems please open a new issue.

[2019-10-15 08:34] #509 closed

[2019-10-16 23:36] joeblynch commented on #474
@zamotany I think I have a reproduction case, which might help with debugging. I can see the issue when I produce an iOS bundle, but it appears to work when I produce an Android bundle. I can only reproduce when using a monorepo, where the dependency containing the asset is hoisted.

Repro steps:
1. Download and extract the [test project](https://github.com/callstack/haul/files/3736765/HaulTestApp

[2019-10-17 09:37] #663 closed

[2019-10-17 11:08] zamotany commented on #474
I have refined the test and noticed that in both cases (haul e2e test and repro project) the assets __were__ extracted but to an incorrect path, so I thing that the Asset Resolver is calculating paths incorrectly.

[2019-10-17 13:47] billygl commented on #504
The same issue with
package.json
    "@haul-bundler/cli": "^0.13.1",
    "@haul-bundler/preset-0.60": "^0.13.0",

babel.config.js
module.exports = {
  presets: ['module:@haul-bundler/babel-preset-react-native'],
};

[2019-10-17 15:39] zamotany commented on #504
@billygl Can you post the error message?

[2019-10-18 09:17] zamotany commented on #643
@isuhar Honestly I'm still not sure why the issue is happening or even if it's connected with Haul at all. But I've noticed you're transpiling all of the `node_modules` here:
[code]
Maybe you should transpile only the modules that need transpiling instead of every module and let me know if that solves your issue?

[2019-10-18 18:45] billygl commented on #504
It is the same as posted in the issue. Problems with ./node_modules/native-base-shoutem-theme/src/connectStyle.js
I couldn't solve it.
So, for now, I'm using separeted bundlers for a more complex project with react native and react web (metro and creat-react-app default bundler)

[2019-10-18 22:48] hjhart commented on #652
@zamotany
[code]

[2019-10-22 20:28] GitHubTracey commented on #268
@Krizzu thanks for having replied... I didn't actually see the notification for your reply otherwise I would have definitely tried again. Sorry for a very very very late reply 😆

[2019-10-23 05:30] Krizzu commented on #268
@GitHubTracey Welcome to the future 🤖

You're welcome!

[2019-10-24 09:04] zamotany commented on #474
Fixed in #661

[2019-10-24 09:04] #474 closed

[2019-10-25 13:22] jounii opened #666 "haul CLI passthrough support for "react-native config""
## Describe the feature

Right now Haul CLI does not support all commands of react-native CLI. Especially the "config" command which outputs some configuration json data.

Feature would that haul.js would support config argument by just running `react-native config` for compatibility.

## Motivation

We are using Azure DevOps AppCenter to build our applications. AppCenter does not support Haul out

[2019-10-25 13:30] zamotany commented on #666
I think this is a feature request for https://github.com/react-native-community/cli to add an option to specify bundler, so that you `react-native` command would spawn Haul instead of Metro. Haul itself is just a bundling tool, not an alternative to `react-native` CLI. Adding `config` command to Haul doesn't make a lot of sense IMO.

cc: @thymikee

[2019-10-25 13:44] jounii commented on #666
Sounds one option too, maybe a bit similar as the option 2 "higher order cli script" to pass bundle command to haul. Should be then possible to change through package.json and/or environment variable as in our case those would be only ways to affect the configuration.

[2019-10-25 13:52] jounii commented on #666
I tried to do this through `react-native.config.js` by overriding `bundle` command. But it seems it's not possible to override existing commands. Have to see if I can change the bundle command at AppCenter.

https://github.com/react-native-community/cli/blob/master/docs/plugins.md

Anyway, if going this way, then this is not haul feature anymore.

[2019-10-25 15:02] jounii commented on #666
I was able to override the CLI_PATH setting at AppCenter. It needs manual configuration in the build setup UI and seems it's not possible to configure it within the project inside repository through hooks. Solution for now is setting environment variables to:

`CLI_PATH` to `./node_modules/@haul-bundler/cli/bin/haul.js`

Would be nice to have this as project setting and not as build setting, but h

[2019-10-25 15:02] #666 closed

[2019-10-26 00:37] matthargett opened #667 "eliminate need for react-native symlink in monorepo"
## Environment

monorepo using yarn workspaces

## Description

We currently need to make a react-native symlink in a monorepo's sub-package  to the hoisted version in the monorepo root. This is one of the issues for the reproduction example we gave with #474.

## Reproducible Demo

See example we provided for #474.

[2019-10-28 08:50] zamotany commented on #667
Temporary workaround is to specify `root` option in `withPolyfills`:
[code]

[2019-10-31 03:10] daihieptn97 commented on #395
Try **turning off the virtual server** and then running **react-native run ios** with ios or react-native run android with android
**It worked for me**

[2019-10-31 18:32] rdy opened #671 "Node polyfills incorrectly included due to aliasFields"
## Environment

Using haul bundler 0.14.x.

## Description

It appears by adding `aliasFields` for react-native for #653 it causes other packages to include node dependencies.

## Reproducible Demo

The fix is to add additional fallbacks for `aliasFields` in the defaultConfig for @haul-bundler/preset-0.59:
[code]

[2019-10-31 20:48] #671 closed

[2019-10-31 20:53] zamotany commented on #671
Please upgrade the preset (`@haul-bundler/preset-0.59` or `@haul-bundler/preset-0.60`) to `0.14.2`

[2019-11-04 15:36] zamotany commented on #667
Fixed in:
- @haul-bundler/cli@0.14.2
- @haul-bundler/core@0.14.2

[2019-11-04 15:36] #667 closed

[2019-11-04 16:08] zamotany commented on #194
Implemented in `@haul-bundler/babel-preset-react-native`

[2019-11-04 16:08] #194 closed

[2019-11-04 16:11] zamotany commented on #174
There's an ongoing effort to bring multi-bundle support to RN and Haul already allows to generate multiple bunndles, so this issue is irrelevant. Once we get to more usable state, the docs will have more info on the topic.

[2019-11-04 16:11] #174 closed

[2019-11-04 16:13] zamotany commented on #126
Closing due to inactivity. Feel free to create new issue if there's still a problem with linked assets.

[2019-11-04 16:13] #126 closed

[2019-11-04 16:16] #249 closed

[2019-11-07 00:17] matthewgonzalez opened #675 "Haul bundler does not obey `--sourcemap-output` parameter"
## Environment

 "@haul-bundler/babel-preset-react-native": "0.14.2",
 "@haul-bundler/cli": "0.14.2",
"@haul-bundler/preset-0.60": "0.14.2"

## Description
When setting the parameter `--sourcemap-output` on `npx haul bundle`, the sourcemap continues to be created alongside the bundle file and not in the specified location (as it should, [per the documentation](https://github.com/callstack/haul/blo

[2019-11-09 18:06] joshuakelly commented on #583
any updates on this?

[2019-11-09 18:43] gaearon commented on #583
I wrote an overview of how Fast Refresh works here: https://github.com/facebook/react/issues/16604#issuecomment-528663101

There's a few implementations linked from that thread.

[2019-11-09 18:44] gaearon commented on #583
Since Haul uses webpack, it might make sense to join efforts with https://github.com/pmmmwh/react-refresh-webpack-plugin.

[2019-11-14 22:37] grahamlyus opened #677 "babel-loader cache should be platform specific"
## Environment
node v.12.11.0
yarn v1.19.1

dependencies
[code]
## Description

When running `yarn haul` it seems that the `babel-loader` cache is shared between platforms. This can cause errors, specifically when using `Platform.select` as an optimization is made even in development.

## Reproducible Demo

`App.js`

[code]

`yarn haul`

`wget http://localhost:8081/index.ios.bundle`

(scroll to `A

[2019-11-15 07:28] hedgepigdaniel opened #678 "App fails to start when used with vscode react native debugger: "NodeError: Invalid URL""
## Environment

Haul: 0.14.2
vscode-react-native-debugger: 0.13.1

## Description

`debuggerWorker.js` crashes if the bundle URL is a local filepath instead of an HTTP URL (in the [VSCode react native debugger](https://github.com/microsoft/vscode-react-native), the URL is a local file path).

See https://github.com/microsoft/vscode-react-native/issues/1164 for more detailed description

I think th

[2019-11-15 12:11] zamotany commented on #678
The path from `vscode-react-native` is missing a protocol `file://` and thus it's invalid. I'd suggest to fix that in upsteam (`vscode-react-native`), instead of hacking it in `debuggerWorker.js`

[2019-11-20 18:19] #677 closed

[2019-11-20 18:20] #675 closed

[2019-11-20 19:35] #278 closed

[2019-11-21 07:30] chelovekdrakon commented on #278
@zamotany thank you for fixing it!
How should we use it now instead of `config.plugins.push(new RemoveStrict());` ?

[2019-11-21 11:32] zamotany commented on #278
@chelovekdrakon
There's a `looseMode` property in configuration now: https://github.com/callstack/haul/blob/master/docs/Configuration.md
Here's a recipe:
https://github.com/callstack/haul/blob/master/docs/Recipes.md#using-with-lottie-or-loose-mode-only-compatible-libraries

[2019-11-21 15:42] zamotany commented on #678
@hedgepigdaniel This should be fixed now.

[2019-11-21 15:42] #678 closed

[2019-11-25 23:47] ptgamr opened #682 "App does not reload, can't see "Live Reloading" option"
## Environment

react-native@0.61.4
@haul-bundler/cli@0.15.0

App run via `npx react-native run-android` in an Android emulator.

## Description

Brand new react native project, app does not reload as I change the source file  and I can't see **Live Reloading** option.

I saw **Enable/Disable Fast Refresh**  instead, and toggling this on/off doesn't make any difference.

![2019-11-26_12:46:48](htt

[2019-11-26 08:39] zamotany commented on #682
Live Reload was removed in favour of Fast Refresh, which we doesn't support yet. There's no Live Reload option anymore.

[2019-11-26 08:39] #682 closed

[2019-11-26 10:39] ptgamr commented on #682
@zamotany thanks for the info. I think this should be included in the docs as I think others might have the same question... I tried out Haul today and really glad that symlink did work... but Live Reload is kind of an essentials feature for me while developing. Do you have an idea when Fast Refresh will be supported?

[2019-11-26 10:41] zamotany commented on #682
Hard to tell, it really depends on how difficult will be to integrate https://github.com/pmmmwh/react-refresh-webpack-plugin with Haul - more specifically with React Native environment. I already know, that some code will need to be rewritten in `react-refresh-webpack-plugin`, since it assumes there's a global `window` variable.

[2019-11-26 10:44] zamotany commented on #682
If you want, you can try integrating that into your project. For a quick workaround for `window` you can use `BannerPlugin` with something like this, to expose `window` variable:
[code]

[2019-11-29 07:59] szhuangx opened #683 "Haul is not working with native-base!"
## Environment

    "@haul-bundler/cli": "^0.15.0",
    "native-base": "^2.13.8",
    "react": "16.9.0",
    "react-native": "0.61.5"
  },
  "devDependencies": {
    "@babel/core": "^7.7.4",
    "@babel/plugin-transform-runtime": "^7.7.4",
    "@babel/runtime": "^7.7.4",
    "@haul-bundler/babel-preset-react-native": "^0.15.0",
    "@haul-bundler/preset-0.60": "^0.15.0",
    "@react-native-communi

[2019-11-29 08:05] zamotany commented on #683
The config file you posted is from legacy versions of Haul and it's not supported/not used at all. The correct one is `haul.config.js`. It should have been created when running `yarn haul init` (after installing `@haul-bundler/cli`).

[2019-11-29 08:36] szhuangx commented on #683
Hi @zamotany Thanks for your quit response

Yes, I've already run the `yarn hual init` command and got `haul.config.js` configuration before I added the .babelrc config file manually, it's the same error pop up in my simulator whatever I delete or add the `.babelrc` file

**haul.config.js**

export default makeConfig({
  bundles: {
    index: {
      entry: withPolyfills('./index'),
    },
  },
})

[2019-11-29 08:44] zamotany commented on #683
By default `node_modules` are excluded, so you should add another rule in webpack config with `babel-loader` to transpile `native-base`. Use `transform` function to get Webapck `config`.

[2019-11-29 08:47] zamotany commented on #683
Similar to: https://github.com/callstack/haul/blob/master/docs/Recipes.md#debugging-with-react-native-tools-vscode-react-native
but:
- instead of `source-map-loader` use `babel-loader`
- remove `enforce: 'pre'`
- add `include: ['path-to-native-base']`

[2019-11-29 09:09] szhuangx commented on #683
@zamotany I'm not sure does my path is wrong or something else?
here is my package name in node_modules:
![image](https://user-images.githubusercontent.com/13358491/69857466-0339c480-12cb-11ea-9e1e-619dff1af564.png)

![image](https://user-images.githubusercontent.com/13358491/69857349-ccfc4500-12ca-11ea-8f72-59fed5e33ee1.png)

[2019-11-29 10:25] zamotany commented on #683
`'/node_modules/native-base-shoutem-theme/'` is a string, so according to [webpack docs](https://webpack.js.org/configuration/module/#condition):

The key here is __must start__ - the absolute path to resource when webpack will check the rule does not starts with `'/node_modules/native-base-shoutem-theme/'`.

You probably want to replace it with a regex `/node_modules[\/\\]native-base-shoutem-them

[2019-11-29 16:36] EugenePisotsky commented on #652
any updates? I have the same issue

[2019-11-29 18:05] theminerymike opened #684 "Realm crashes on create when using Haul"
I've also reported this issue on Realm's github page as I'm not positive if the issue is more related to Realm or to Haul. You can follow it here https://github.com/realm/realm-js/issues/2627

##  Goals

I am trying to get Realm working with Haul. It was working fine when I was using the react native packager but I'm not able to use the react native packager as it always crashes on load in Release

[2019-12-02 01:41] szhuangx commented on #683
it's worked! Thank you very much, you did me a big favor!

[2019-12-02 01:42] szhuangx commented on #683
![image](https://user-images.githubusercontent.com/13358491/69924762-0067eb00-14e8-11ea-8e6c-d5f0ec0ced44.png)

[2019-12-02 01:42] #683 closed

[2019-12-02 08:26] zamotany commented on #684
Are you using `@haul-bundler/babel-preset-react-native`?? If so, the `class`es are not compiled to `functions` so Realm is probably not instantiating `Setting` with `new`. You can try replacing `class Setting { }` with `function Settings() { }`.

[2019-12-02 13:59] theminerymike commented on #684
Ha, no way, you're a lifesaver. Totally did the trick :)

[2019-12-02 13:59] #684 closed

[2019-12-03 07:38] zamotany commented on #652
@EugenePisotsky There's no update. I cannot reproduce the issue. It seams it's connected with specific `haul.config.js` and/or duplicated `webpack` dependency, but without any repro I cannot do much. If you want to have this issue resolved, please try to create a repro project and post the link to it here.

[2019-12-03 15:01] theminerymike opened #685 "Stuck building a release app for iOS"
## Ask your Question

I'm having issues getting a Release build to work on a device with Haul. It works in Release on my simulator, and it works in Debug on my simulator.

When I try to build it to my device in Release, I get the error:
[code]

When I try to build to my device in Debug, I get the error:
[code]

My packager is running though, and my device can connect to the metro bundler, just not

[2019-12-03 16:43] #685 closed

[2019-12-04 10:26] meznaric opened #686 "Invalid Extensions due to missing platform"
## Environment

Haul Version: 0.15.0
Node: v10.17.0
React Native: 0.61.4

## Description

Seems like wrong extension list gets generated in development mode and then resolutions fail. It's missing platform specific versions.

[code]

I believe this line is the cause of the issue:
https://github.com/callstack/haul/blob/54d583701b1fb339f332a9ebff5ed0259ebe61d7/packages/haul-cli/src/commands/start.ts

[2019-12-04 11:37] zamotany commented on #686
`platform: '', ` in `start` command is on purpose, since `start` command needs some info from config, but the actual config specific for the platform is generated elsewhere - in compiler worker. Each worker is specific to the platform and each worker generated their config with proper `platform` so for example for `ios` compiler worker, the config for webpack will look like this:
[code]

[2019-12-04 11:55] meznaric commented on #686
@zamotany I put a `debugger;` statement in transform, hoping to capture when it evaluates the second time.  It doesn't happen. Not if I use `--eager=ios` or if simulator requests a bundle.

`transform({ config, env }) => console.log(env.platform)` will also only print empty string.

How I used debugger:

1. Run: `node --inspect-brk ./node_modules/.bin/haul  start --dev`
2. Go to: `chrome://inspect

[2019-12-04 12:06] zamotany commented on #686
You put `debugger` in main process, workers are a separate processes, that's why you don't get breakpoint hit the 2nd time. You would need to spawn workers with `--inspect-brk` here:
https://github.com/callstack/haul/blob/master/packages/haul-core-legacy/src/compiler/createForkProcess.js#L34
and then add `debugger` somewhere here:
https://github.com/callstack/haul/tree/master/packages/haul-core-le

[2019-12-04 12:09] meznaric commented on #686
@zamotany thanks for insane response time. You are right. platform is passed in a worker.

[2019-12-04 12:09] #686 closed

[2019-12-13 07:16] szalansun opened #687 "Haul did not compile bundle after run-android and the app on emulator saying "Unable to load script...""
## Environment

CentOS7
"@haul-bundler/babel-preset-react-native": "^0.15.0",
"@haul-bundler/cli": "^0.15.0",
 "@haul-bundler/preset-0.60": "^0.15.0",
"react": "16.9.0",
"react-native": "0.61.4",

## Description

Have the some code and works well in Windows 10,  but in CentOS, the haul progress is pending forever and did not start compiling bundle (hung on IDLE status) after the "react-native run-

[2019-12-16 13:52] zamotany commented on #687
Hey @szalansun, thanks for opening the issue. I'll look into it in spare time. To me it looks like the app cannot download the bundle from Haul. Usually this is caused by networking problem. You can try using `0.0.0.0` as a `server.host` option in `haul.config.js` as noted in here: https://github.com/callstack/haul/blob/master/docs/Configuration.md#project-configuration-reference

[2020-01-23 21:26] conor909 commented on #471
Im getting this today on RN 60.5

[2020-01-23 21:27] conor909 commented on #471
Im getting this today on "react-native": "0.61.5"

[2020-01-24 08:29] zamotany commented on #471
@conor909 What version of `@haul-bundler/cli` are you using?

[2020-01-24 08:34] conor909 commented on #471
Sorry Im not sure what `callstack/haul` is, I posted in the wrong repo.  Must be a React-Native issue

[2020-02-03 04:17] tkow opened #696 "Can we use react-navigation v5 with haul?"
## Ask your Question

Can we use react-navigation v5 with haul?
I can use react-navigation v4, though I get errors when using v5.

<img width="438" alt="スクリーンショット 2020-02-03 12 49 29" src="https://user-images.githubusercontent.com/7004725/73624773-740fab00-4685-11ea-9503-749efdebc05e.png">

I found succeeding in the process before bundling js and it seems success to bundle js like this.

<img widt

[2020-02-03 07:22] tkow commented on #696
I resolved this with this code.
[code]
as documented in this section.

I don't know where this library has loose code, but it works.

[2020-02-03 07:22] #696 closed

[2020-02-19 05:11] hedgepigdaniel opened #700 "Impossible to add loaders before babelWorkerLoader: Module build failed ENOENT"
## Environment

Haul versions after https://github.com/callstack/haul/pull/689 including 0.17.0

## Description

It is not possible to insert a webpack loader before the new `babelWorkerLoader`. Doing so results in an error because the `babelWorkerLoader` `worker` attempts to open a file such as `node_modules/eslint-loader/index.js??ref--7!node_modules/source-map-loader/index.js!/home/daniel/code/

[2020-02-19 06:18] hedgepigdaniel commented on #155
I'm not sure that https://github.com/callstack/haul/issues/326 really addresses this issue - at least not with the example API as written.

I was about to create a new issue but I realised this is probably the same issue. So here is my restatement of the issue:

## Describe the feature

Instead of providing a fully optimised black box which hides the webpack/babel setup as the default, instead pro

[2020-02-19 08:38] hedgepigdaniel opened #701 "--sourcemap-output + async import() = Multiple assets emit different content to the same filename"
## Environment
Haul 0.17.0

## Description

`Conflict: Multiple assets emit different content to the same filename ../../../../sourcemaps/react/OpenLearningClient/release/index.android.bundle.map`

In webpack 4, this is a warning, but in webpack 5 it will be an error.

## Reproducible Demo

`yarn run haul bundle --platform android --sourcemap-output index.android.bundle`

[code]

Happens because t

[2020-02-19 09:31] zamotany commented on #701
With RAM bundles, all async chunks will be concatenated into a single bundle, so I don't think adding `LimitChunkCountPlugin` will cause any problems.

[2020-02-19 10:41] zamotany commented on #155
@hedgepigdaniel Thanks for this detailed comment and while I do agree and would like to see Haul being just a set of utilities for Webpack (loaders, plugins, polyfills, etc) and a plugin for @react-native-community/cli that would use you configs files (eg `webpack.config.js` and others) to run Haul instead of Metro, there are some problems with that approach that we've already experienced.

Most n

[2020-02-19 20:25] thymikee commented on #155
As a maintainer of `@react-native-community/cli` I fully support @zamotany's idea to utilize Haul (and Webpack) as a CLI plugin.

We were already thinking about refactoring the way we use bundlers, as it's pretty tightly scoped to Metro at the moment. By creating a unified interface for bundler interactions, any bundler, like Metro or Haul/Webpack, could create a suitable adapter. Some reference:

[2020-02-19 22:57] hedgepigdaniel commented on #701
But doesn't that defeat the purpose of RAM bundles? I thought the idea was to have separate bundles (chunks) that only need to be parsed/executed when a module in them is required?

[2020-02-20 00:32] hedgepigdaniel commented on #155
Thanks for your response and generally your efforts on Haul - its really appreciated.

That sounds really good. The idea of having a black box and of having webpack plugins etc are not mutually exclusive. If the current black box is refactored further such that it is nothing more than a preset configuration of other more general tools, then both kinds of users can be supported. Better still, a use

[2020-02-20 15:42] zamotany commented on #701
@hedgepigdaniel No. React Native in it current state doesn't allow to use multiple bundles. We are working on adding support for it here: https://github.com/react-native-community/react-native-multibundle and RFC: https://github.com/react-native-community/discussions-and-proposals/issues/152

RAM bundles keeps all of the modules including modules form async chunks in a single custom format, which

[2020-02-20 23:17] hedgepigdaniel commented on #701
Right, makes sense. I think I was overestimating the abilities of ram bundles. Hope your efforts for multiple bundles work out well :smile:

PR open to add LimitChunkCountPlugin

[2020-02-21 11:31] Natteke opened #705 "After app refresh it got not updated bundle (cache?)"
## Environment
MAC OS 10.14.6

[code]
[code]

[code]

## Description
After launching app, changing code and refreshing it in simulator (cmd + r), nothing happens.
Looks like bundler always sends an initial bundle, and do not updating it.
If i kill bundle process and re-launch it, i will see an updated code.

## Reproducible Demo

I have faced this issue with completely new project.
1) do react-nat

[2020-02-21 12:11] zamotany commented on #705
Yup, something is wrong. It looks like it's not watching for changes.

[2020-02-23 03:18] jgornick commented on #705
@zamotany Any chance you might be able to point me in the right direction so that I could try to figure out the issue?

[2020-02-23 07:43] Natteke commented on #705
@zamotany, hi again!
Is there some workaround to use haul right now with react 61.5?
Looks like haul v16 does not work with it, so....

Can you suggest something how to work, till it is not fixed? :D

[2020-02-24 17:53] zamotany commented on #705
@jgornick I suggest first to try downgrading to 0.15.0. There was huge dependency update, which might have broken it.

When I was testing it myself, it looked like the webpack wasn't picking up the changes to the file. Compiler status should changes from idle -> running -> idle but it never did. You can try adding some console logs here to see if the event was emitted from the compiler: https://gi

[2020-02-26 13:04] Natteke commented on #700
I faced the same issue and just:
`config.module.rules[1] = {
        test: /\.[jt]sx?$/,
        loader: 'babel-loader',
};`

it helped, but...
any suggestions of better solutions?