[2017-03-23 09:28] grabbou opened #1 "Fix require('*.png')"
Need custom plugin that will replace module requires and manually call AssetsRegistry. To be done today/tomorrow.

[2017-03-23 09:29] grabbou opened #2 "Get HMR running"
Get HMR up & running. If supported by default, we should make a flag `--hot` on a CLI. I believe that switch from Dev Tools is rather useless. All in all, you don't want to change it during development.

Eventually we might want to change dev tools in Simulator as well (given that it's been recently allowed), but we will see.

[2017-03-23 09:30] grabbou opened #3 "Make CLI stunning"
It has to be beautiful

[2017-03-23 10:05] zamotany opened #4 "Migrate to webpack 2"

[2017-03-23 10:48] #4 closed, assigned to nobody

[2017-03-23 10:48] grabbou opened #5 "Enable sourcemaps generation"
From my experience, there seems to be something wrong with the built-in source maps generated by Webpack `devtool` (regardless of the choice).

There are numerous reports on Github that source maps are broken, so it has to be checked.

[2017-03-23 11:47] grabbou opened #6 "Transpile on build"
React Native supports Node `>=` 4, according to its package.json:
[code]
We are running latest Node which makes it possible to use ES2015+ features w/o transpiling first. We need a build step that will compile code to Node 4.x (there's preset somewhere I believe).

In dev mode, let's call CLI via `cli/index.js` which contains `requireHook`. Production builds should use `cli/cli` which doesn't have

[2017-03-23 12:11] zamotany opened #7 "User-friendly error message if webpack.config.js was not found"

[2017-03-23 12:18] grabbou opened #8 "Don't transpile node_modules"
Transpile only react-native, react-native-* (compatibility). Make it easy for user to specify a list (via webpack.config?)

[2017-03-23 13:24] grabbou opened #9 "Nice debugger frontend"
We have our own debugger and its frontend. That gives us great opportunity to make it nice.

Ideas welcome.

I am myself in favor of Zeit-like branding with `monotype` font faces.

[2017-03-23 14:09] #8 closed, assigned to nobody

[2017-03-23 14:24] grabbou opened #10 "Figure out multiple configs passed to compiler"
Currently we create an array of configs, one for each platform. We used to pass that array to webpack compiler, but switched to passing a single one (current platform you are building) for performance reasons.

When Webpack compiler receives an array of configs, it enters multi-config mode and handles them all w/o restarting. That allows us to serve all platform bundles at the same time, just like

[2017-03-23 14:25] grabbou opened #11 "Make output of Webpack nicer"
Currently it doesn't print anything, what we need is kinda:

1) Request for `....` reached
2) Compiling
3) Served
4) Bundle done in: XXX `ms` kind of thing

[2017-03-23 14:30] grabbou opened #12 "Setup nice docs and deploy them to gh-pages"

[2017-03-23 14:52] grabbou opened #13 "Alpha 1.0"
This is an umbrella issue to figure out what we need to ship 1.0 out.

Ideally, it would be great if we could ship it next week. There's a couple of folks I wanted to invite for alpha testing.

Looking forward to what you think

[2017-03-24 08:41] #7 closed, assigned to nobody

[2017-03-24 11:21] grabbou opened #15 "Logo and branding"
I've already shared some ideas on Slack. Would be great to decide on the direction so that we have proper branding in place before setting up docs.

[2017-03-24 15:58] grabbou opened #17 "Update eslint config"
Current eslint config enforces patterns that are not complying with `prettier`. Can we somehow normalise them in a sense that running prettier doesn't trigger any warnings?

I believe we only need few eslint rules to enforce general design patterns as styling is covered already.

[2017-03-25 13:39] #11 closed, assigned to grabbou

[2017-03-25 13:40] grabbou opened #20 "Display proper stack traces in Webpack log"
Currently we only print either `Failed to compile` or `Compiled with warnings`. We should write a proper printer of Webpack error messages. I am thinking we might do just what `create-react-app` is doing here.

[2017-03-25 13:43] #12 closed, assigned to nobody

[2017-03-25 19:07] #17 closed, assigned to nobody

[2017-03-25 19:17] #13 closed, assigned to nobody

[2017-03-25 19:19] grabbou opened #21 "Mock unsupported commands"
React Native has more commands and eventually we want to write faster and better alternatives for each of them.

Until we have them all, users may `automatically` try to call `haul run-ios` when it's not implemented yet. We don't want to implicitly call into `react-native` as it's a different DX.

I think we can create an empty structure for every command that prints out `We are working on support

[2017-03-25 19:37] grabbou opened #22 "Add `jest` unit tests"
We need to test the code where it makes sense. Add `jest`, plug it in into our existing pipeline and add few tests (just to demonstrate how it should be done).

[2017-03-26 02:37] satya164 opened #23 "Run adb reverse when starting server"

[2017-03-26 10:44] satya164 opened #25 "`haul init` command"
Should generate `webpack.haul.js` by determining the entry file. If `index.ios.js` or `index.android.js` exist, it should generate config with `platform`, if only `index.js` exists, it should generate config without `platform`. Should prompt to select the entry file from a list of js files in the directory if neither found (maybe have a limit of 5 files and fallback to an input if more than 5 file

[2017-03-26 17:05] grabbou opened #27 "`haul bundle` command"
We should support `bundle` command just like packager, so it can be used with `gradle` and `xcode` to build assets.

[2017-03-27 07:07] #5 closed, assigned to satya164

[2017-03-27 07:58] #21 closed, assigned to dratwas

[2017-03-27 11:27] #1 closed, assigned to satya164

[2017-03-27 11:36] #20 closed, assigned to grabbou

[2017-03-27 11:36] #3 closed, assigned to zamotany

[2017-03-27 13:29] #6 closed, assigned to zamotany

[2017-03-27 13:29] #23 closed, assigned to grabbou

[2017-03-27 14:49] grabbou opened #33 "Image upload"
The purpose of this issue is to upload and keep track of all images used in various docs

[2017-03-27 14:49] #33 closed, assigned to nobody

[2017-03-27 18:15] grabbou opened #35 "Global vs local installation"
I was writing readme installation steps and started wondering which type of installation we should allow.

Currently `haul` can be installed either globally or locally (doesn't matter to it), which is quite convinient.

In the `readme`, I demonstrate global installation because it's annoying to write `./node_modules/.bin/haul` all over again.

Shall we stick to that or introduce something else, li

[2017-03-27 18:18] #35 closed, assigned to nobody

[2017-03-27 20:00] grabbou opened #37 "Contact npm support to acquire the name"
As discussed on Slack, the name might be acquireable via npm support.

@satya164 do you know what steps / procedures we should follow?

Note from self: I've contacted the owner via email, but he doesn't seem to answer.

Until we fix it, we can go with `haul-cli`

[2017-03-27 20:53] grabbou opened #38 "Setup meta"
There's a couple of features we have to implement before open sourcing this repository.

Here's the list:
- [x] Add `Contributing.md` guide
- [x] Specify issue template
- [x] List all contributors in package.json
- [x] Fix `git` urls in package.json
- [x] Go over closed issues and make sure they are readable

I am not feeling comfortable with early commits that happened to this repository (develop

[2017-03-29 07:02] #27 closed, assigned to grabbou

[2017-03-29 07:37] grabbou opened #42 "Implement `cli` options validation"
As suggested in one of recent pull requests, it would be great to have the ability to test the options we are passing with a `validate` function and be able to return an Error if such validation fails.

I'll work on that and also, extract `cli.js` to `utils/makeCli.js` as eventually I want it to leave in a separate module (I tend to reuse that infrastructure quite a bit)

[2017-03-29 10:38] #38 closed, assigned to nobody

[2017-03-29 14:36] #42 closed, assigned to grabbou

[2017-03-30 08:52] #22 closed, assigned to dratwas

[2017-03-30 11:09] #25 closed, assigned to satya164

[2017-03-30 11:16] #15 closed, assigned to satya164

[2017-03-30 11:22] grabbou opened #48 "Don't clear() terminal too often"
As discussed on Slack, we should only clear() terminal for long-running commands - like server. There are few places where we shouldn't do it, like printing there was problem with passed option.

We have to remove those calls.

[2017-03-30 12:04] grabbou opened #52 "Setup CircleCI"
Need to set up CircleCI to build all pull requests and master.

[2017-03-30 14:23] #52 closed, assigned to grabbou

[2017-03-30 14:25] #48 closed, assigned to satya164

[2017-03-30 15:44] #37 closed, assigned to nobody

[2017-03-30 19:27] zamotany commented on #10
I don't think there is a option to fix/make workaround for rebuilding iso and android bundle source files changed, since webpack treats it separatly, so ios compiler this that source code has changed for this bundle, and android compiler also. However if we rewrite dev middleware maybe we can implement solution that will lazily build bundle that is requested and watch it, but not build the other o

[2017-03-30 19:28] zamotany commented on #10
Also, is something blocking us from having 2 parallel builds in separate threads?

[2017-03-30 19:51] ev1stensberg commented on #10
If I understood this correctly, you want to build recursively and async, not all at once? @grabbou

[2017-03-30 19:52] grabbou commented on #10
Yup, @ev1stensberg + first build lazy (on request for entry point).

[2017-03-30 20:05] ev1stensberg commented on #10
I'll see if I can squeeze some time to look into the source code, got a ton of work ahead of me, sadly. Maybe @TheLarkInn has some immediate feedback, but I need to see the source code myself before coming up with a fix. One thing you mentioned was that it builds all configs at once. One thing I've seen is that you can use [webpack-merge](https://github.com/survivejs/webpack-merge) to generate a c

[2017-03-30 22:26] Kerumen commented on #2
Can you elaborate? I find it very useful and it works well. If you are in a deep nested screen of your app, you don't have to retraverse the whole app each time you edit a `fontSize`.

[2017-03-30 22:36] SEAPUNK commented on #2
Will implementing HMR via react-hot-loader 3 work?

I attempted to get it working locally once, but the only problem I had was making the webpack dev client work, since the code ran in a worker context, and that had some weird issues.

[2017-03-30 22:52] skevy opened #60 "Doesn't work on iOS < 10"
### Current Behavior
On a fresh react-native init/haul init, without changing any settings, and using the iOS 9.2 Simulator, I get the following:
![image](https://cloud.githubusercontent.com/assets/131916/24529465/abfa8106-1560-11e7-89b3-76a8a1f75e0b.png)

### Expected Behavior
I expect that it should work as it does on iOS >= 10.

### Haul Configuration (webpack.haul.js)
It's the default configur

[2017-03-31 00:14] wilomgfx opened #62 "How does it differ from create-react-native-app"
How does this project differs from : https://github.com/react-community/create-react-native-app

Other than using webpack ? (which is cool btw, not saying haul is useless!)
Using webpack and its ecosystem, opens up a whole world of possibilities.

Thanks :)!

[2017-03-31 04:37] grabbou commented on #60
I believe it's because of `vendor` code we don't transpile and that on iOS 9, there's a smaller subset of features supported. Testing a fix now.

[2017-03-31 05:09] henrikra commented on #62
I would also like to know benefits of using this. Since the read me did not tell the benefits and I don't want to break my current project :)

[2017-03-31 05:15] #60 closed

[2017-03-31 05:15] grabbou commented on #60
Released

[2017-03-31 08:20] colinramsay opened #63 "Doesn't work on Node 4.x"
I tried running `haul` with v4.6.1 of `node` and it failed (`ReferenceError: regeneratorRuntime is not defined`), but with v6 it works. The readme should indicate the minimum required version.

[2017-03-31 08:39] grabbou commented on #63
Can you try running #64 to see if it fixes your problem? We support Node 4, but our preset is not including regenerator-runtime. Should be fixed after this PR gets merged and released.

Until then, you can point `haul-cli` to `callstack-io/haul#1afd58644ad576376d481eb6dbf70ea291bf269a` and run install again.

[2017-03-31 08:41] colinramsay commented on #63
Oh I just used `nvm` to switch to v6, it wasn't a major issue for me. I just thought it would be useful for the readme to be explicit about it :)

[2017-03-31 08:42] grabbou commented on #63
@colinramsay we do support v4, so thanks to your report we were able to locate an issue with our babel preset!

[2017-03-31 08:43] colinramsay commented on #63
:man_dancing:

[2017-03-31 09:19] zimo888 opened #65 "The bundle file size is 6.6M And The sourceMap is 5M"
Hi

I'm running three kinds of command to build bundle file.

1.
[code]
The file size is 6M.

2.
[code]

The file size is 6.6M.

3.

[code]
The file size is 576K.

I opened the haul's bundle file ,When I deleted the sourceMap code ,the file size reduced to  1.5M

Could you add any option which can split the sourceMap to another file?

[2017-03-31 09:39] #65 closed

[2017-03-31 09:40] grabbou commented on #65
We just pushed a fix with @satya164 that no longer inlines source maps. With next release we are going to ship in a second (waiting for one more PR to land), problem will be gone.

[2017-03-31 10:37] zimo888 opened #70 "Code splitting & OTA"
How to separate js bundle into framework bundle and user code bundle?
and then ，When we publish a single file  to user's cell phone ,We Just need combine a single file to the base bundle.

[2017-03-31 10:40] grabbou commented on #70
That's a very neat idea to only send user application code to services like CodePush to make the payload smaller.

CC: @axemclion

[2017-03-31 11:15] f0rr0 commented on #62
From the readme it looks like `haul` supportts symlinking modules which the normal packager can't

[2017-03-31 11:16] henrikra commented on #62
What is the benefit or use case for that?

[2017-03-31 11:18] f0rr0 commented on #62
@henrikra you often want to develop a module independently along side your app and use it as a dependency from within your app. The usual way is to `npm link` so that `npm` picks up your local dev version. you can't do that in RN since the packager does't support it.

[2017-03-31 11:22] satya164 commented on #62
Haul is an alternative to the React Native CLI tools which you use to perform actions like bundling JavaScript files for packaging or running a development server.

Haul is based on Webpack, so you have access to the entire Webpack ecosystem and can use any webpack loaders or plugins you need. It also doesn't depend on watchman which is a pain to setup on Windows and have to compile from source on

[2017-03-31 11:23] #62 closed

[2017-03-31 12:58] grabbou commented on #2
@SEAPUNK technically it should, feel free to give it a go and share your haul config!

@Kerumen it works, but I was referring to this part specifically https://github.com/facebook/react-native/issues/10991#issuecomment-284453379

[2017-03-31 14:27] wilomgfx commented on #62
Amazing, Thanks ! Looking forward to use it.

[2017-03-31 16:41] #63 closed

[2017-03-31 16:42] grabbou commented on #63
0.1.4 should now work on Node 4

[2017-03-31 17:12] QuantumInformation opened #73 "Can't resolve 'react-native' in external react-native component"
I have this project where I am importing a react-native component:

https://github.com/QuantumInformation/react-native-cron/blob/master/demo/index.ios.js#L10

This component tries to import from react-native but it fails:

![image](https://cloud.githubusercontent.com/assets/216566/24560914/8859b55a-163c-11e7-99a6-d810b5cf6dc3.png)

[2017-03-31 17:14] satya164 commented on #73
Do you have `react-native` installed? Coz I cannot see the dependency in your `package.json`

[2017-03-31 17:22] QuantumInformation commented on #73
Yep, I need it in the root project, not just the Demo project thx!

[2017-03-31 17:22] #73 closed

[2017-03-31 17:42] QuantumInformation opened #75 "Can't debug at http://localhost:8081/debugger-ui"
I can't access my source files to debug on my project build with haul
![image](https://cloud.githubusercontent.com/assets/216566/24562034/34aad4a2-1641-11e7-985f-7cb8b95cec28.png)

### Haul Configuration (webpack.haul.js)
[code]
### Your Environment
MAC OSX
| software         | version
| ---------------- | -------
| Haul             |  0.1.3
| react-native     |  0.42.3
| node             | 6.9.1

[2017-03-31 17:48] satya164 commented on #75
It says "Status: Waiting", so doesn't look like your phone is connected to the debugger?

[2017-03-31 18:09] QuantumInformation commented on #75
I guess so, pressing cmd+R didn't do anything:

![image](https://cloud.githubusercontent.com/assets/216566/24563235/999bebb8-1645-11e7-8502-0a8ca16de338.png)

[2017-03-31 18:13] satya164 commented on #75
You have to select "Debug with chrome" from the developer menu. I believe it's `Cmd + D`

[2017-03-31 18:19] QuantumInformation commented on #75
![image](https://cloud.githubusercontent.com/assets/216566/24563608/ee098f92-1646-11e7-817d-d3957ef34178.png)
Great, that worked:
![image](https://cloud.githubusercontent.com/assets/216566/24563623/0523807a-1647-11e7-8465-fc0c69467c81.png)

[2017-03-31 18:19] #75 closed

[2017-03-31 18:29] grabbou commented on #75
Happy coding :)

[2017-03-31 19:19] lucqui opened #77 "Unhandled 'error' event when running `yarn run haul start -- --platform ios`"
### Current Behavior
I get the error when running `yarn run haul start -- --platform ios`

events.js:163
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE 127.0.0.1:8081
    at Object.exports._errnoException (util.js:1034:11)
    at exports._exceptionWithHostPort (util.js:1057:20)
    at Server._listen2 (net.js:1265:14)
    at listen (net.js:1301:10)
    at doListening (

[2017-03-31 19:35] satya164 commented on #77
Something else is running on the same port. Check for other instances of React Native packager or Haul running in another Terminal.

[2017-03-31 19:35] #77 closed

[2017-03-31 19:36] skellock commented on #77
`EADDRINUSE 127.0.0.1:8081` probably means your react-native packager is running.  Have a look through your open terminal windows.  If you can't find it and you're still angry, `sudo lsof -i :8081` and `kill -9 <pid>` will teach it a lesson.

[2017-03-31 21:23] QuantumInformation opened #78 "Build not being updated, old version showing"
In [this project](https://github.com/QuantumInformation/react-native-cron/tree/master/demo), I tried to stop and start with:

`yarn run haul start -- --platform ios`

But My build still contains the old UI:

![image](https://cloud.githubusercontent.com/assets/216566/24568855/8d9bfea0-165b-11e7-840f-9d8998c49955.png)

After rebuild looks the same:
![image](https://cloud.githubusercontent.com/assets

[2017-04-01 16:08] fdnhkj opened #80 "fetch is not a function. (In 'fetch', 'fetch' is undefined)"
### Current Behavior
After running an existing RN project with `haul`, I get the error visible in screenshot below
<img width="376" alt="capture d ecran 2017-04-01 a 17 52 02" src="https://cloud.githubusercontent.com/assets/5569608/24580234/e3e459b6-1704-11e7-96ed-3647bc3de4b2.png">

### Expected Behavior
I expected fetch to be accessible in global like when running with `packager`:
https://github

[2017-04-01 16:11] satya164 commented on #80
Can you try https://github.com/callstack-io/haul/pull/74 and see if it fixes the issue?

[2017-04-01 16:24] fdnhkj commented on #80
I just tried #74 via `npm i --save-dev callstack-io/haul#pull/74/head`
And... now it works 👍

Thanks for the quick reply!

[2017-04-01 16:57] #80 closed

[2017-04-02 02:03] chandu0101 opened #83 "how to exclude my scala.js files ?"
with react-native packager  i have a customer Transformer

https://github.com/scalajs-react-interface/mobile.g8/blob/master/src/main/g8/scalajsTransformer.js

and  `"scripts": { "start": "react-native start server --transformer scalajsTransformer" },`

how can i achieve something  similar using haul ?

[2017-04-02 02:07] satya164 commented on #83
Customize the loader you get in `defaults.module.rules` to exclude your file.

https://github.com/callstack-io/haul/blob/master/docs/Configuration.md
https://webpack.js.org/configuration/module/#rule-exclude

[2017-04-02 02:07] #83 closed

[2017-04-02 13:33] satya164 opened #84 "Prompt for platform when no platform passed to CLI"
Currently it shows an error, will be nice to have it ask the platform to avoid extra step

[2017-04-02 13:37] satya164 opened #85 "Add package.json scripts during init"
Should check if no `start` script exists or it is the default React Native one, then prompt to add/replace it during init.

Otherwise prompt and add a script called `haul`

[2017-04-02 13:37] satya164 opened #86 "Default to `start` command when running"
If no argument is given, default to `start` like how `yarn` does for `yarn install`. Combined with #84 and #85, `yarn start` is all that's needed to run the server

[2017-04-02 13:39] satya164 opened #87 "Add script to build process during init"
Should replace React Native's packager CLI in gradle and xcode scripts with haul during init.

- [x] iOS ~ @grabbou
- [ ] Android ~ @satya164

[2017-04-02 14:20] chandu0101 commented on #83
@satya164  thanks for reply

wepack.haul.js

[code]

index.ios.js

[code]

[2017-04-02 14:23] satya164 commented on #83
you'll want to filter it our from `defaults.module.rules` too

[2017-04-02 14:29] chandu0101 commented on #83
i didn't understand this fully,
but my  `scalajs-output-ios.js` is already ES5 , it's redundant to pass it through babel again :s

[2017-04-02 14:30] satya164 commented on #83
You already have this rule in `defaults.module.rules`, if you don't filter it, then you have two rules for `js`

[2017-04-02 14:32] chandu0101 commented on #83
oh ok  got you, so i have to filter `defaults.module.rules` before merging right ?

[2017-04-02 14:36] chandu0101 commented on #83
@satya164  its good to  provide some `option` to provide extra `excludes` and merge them in default `.js` rules  ?

[2017-04-02 14:39] grabbou commented on #83
I think in that case instead of merging your rules with default rules, you better providing your own set of rules and forgetting about ours at all. We export an array, so you can take whatever you want by index.

[2017-04-02 14:41] grabbou commented on #84
I think we could integrate that directly with cli interface so that it automatically asks for options that are required and were not given

[2017-04-02 14:43] satya164 commented on #83
I guess better not to rely on index since it'll break when if we add any loaders, but `defaults.module.rules.filter` should be fine

[2017-04-02 15:02] chandu0101 commented on #83
i think i don't know what i am doing here :( , with this following config , i see build going until 91%

***webpack.haul.js***

[code]

but in the end i am seeing bunch of following errors

[code]

[2017-04-02 16:19] grabbou commented on #83
On a side note - since this is Webpack - I believe a more efficient way would be to explicitly override `loader` for that particular require rather than adding it to `exclude` list.

Revert back you Haul config to what it used to be in the first commend and replace `require` with the following:
[code]
The double exclamation mark will disable all preloaders and loaders for that particular call.

[2017-04-02 20:24] aem opened #89 "Clearing console makes it impossible to debug webpack config"
### Current Behavior
Any `console.log`s in `webpack.haul.js` are cleared immediately

### Expected Behavior
Debugging the webpack config should be possible. At the moment there's no way to check if, say for example, you're extending the default config, the output object is actually what you want it to be.

Possibly a `--no-clear` option would be helpful, default to the clean console approach but a

[2017-04-02 20:27] satya164 commented on #89
It's not cleared. Just moved up. You can scroll up to see old logs

[2017-04-03 04:41] lyahdav commented on #62
It would be good to add some from @satya164 comment to the readme. From reading the current readme it wasn't clear to me why I'd want to use Haul.

[2017-04-03 04:50] wilomgfx commented on #62
I agree.

[2017-04-03 05:41] grabbou commented on #62
Anyone up for sending pull request?

[2017-04-03 08:59] aem commented on #89
upon further investigation, it appears that you're correct only if you're using `bash` as your shell. in `zsh` it actually clears the contents

[2017-04-03 09:26] grabbou commented on #89
What is the terminal app you are using? I can experience the same behaviour when running `zsh` and `Hyper`. Switching to `iTerm` or `Terminal` works as expected.

[2017-04-03 09:32] aem commented on #89
zsh in Terminal.app and zsh in the integrated IntelliJ terminal

[2017-04-03 09:33] aem commented on #89
actually, scratch that. i thought i had tested in Terminal, but i guess only in intellij. Looks more like a bug with IntelliJ then. sorry for the noise

[2017-04-03 09:47] grabbou commented on #89
It's probably related issue to what `Hyper` is having.

[2017-04-03 09:47] #89 closed

[2017-04-03 13:25] #86 closed

[2017-04-03 15:03] grabbou opened #93 "Setup haulcli.org website"
We have paid Zeit plan, so potentially we can use `now` to serve the docs.

[2017-04-03 15:19] grabbou opened #94 "Write `Configuring your project` docs"
https://github.com/callstack-io/haul/blob/master/docs/Configuring%20Your%20Project.md

Start with small introduction and explain `Xcode` part

[2017-04-03 18:54] satya164 opened #95 "Look into performance improvements"

[2017-04-04 10:19] guysegal commented on #70
so currently haul does not support code splitting? my app had large bundle size (4MB) and it effects app load time. I thought that because haul is based on webpack and webpack supports code splitting that it will be possible to load only what's necessary when app loads and the rest afterwards

[2017-04-04 14:06] satya164 commented on #70
Webpack needs the DOM to insert script tags when doing code splitting. Since we don't have DOM, it's not possible.

Also, as an app user I'm already used to download large apps, probably lazy loading code will not improve the experience at all.

[2017-04-04 15:25] axemclion commented on #70
@satya164 Why not use something similar to `react-native unbundle`. React Native already supports code splitting, we may jsut have to write a custom plugin to insert the hash file to indicate that this is an unbundle operation.

[2017-04-04 16:20] aem opened #96 "Any attempt to open the debugger throws a NetworkOnMainThread exception"
I apologize because I don't have a solid repro other than running my project, but I have narrowed it down to Haul because switching back to the react-native packager allows the app to function properly.

### Current Behavior

When connecting to the remote debugger, the app crashes with a `NetworkOnMainThreadException`:
[code]
To compound this problem, because the debugger tries to auto-reconnect,

[2017-04-04 16:36] satya164 commented on #96
Does your app have the `Draw over other apps` permission?

[2017-04-04 16:42] aem commented on #96
Yep

[2017-04-04 16:45] satya164 commented on #96
Can you double check? Because according to the error message, it does not.

[2017-04-04 16:49] aem commented on #96
Ah, sorry. I posted the wrong stack trace, still had that on my clipboard from earlier. I've left the office for the day but tomorrow I can get the correct one in here

[2017-04-04 18:04] grabbou commented on #96
We were experiencing similar issues earlier today, I'll debug them on device in the morning.

[2017-04-04 18:25] axemclion commented on #95
I did some performance comparisons - http://blog.nparashuram.com/2017/04/react-native-packager-vs-haul.html

[2017-04-04 18:27] satya164 commented on #70
Yeah, I think eventually we want to do that. I was just saying that we probably cannot use webpack's code splitting feature as is right now.

[2017-04-04 18:29] grabbou commented on #95
Thanks, I just had a quick read to see how it performs. Not that bad as far as first builds are concerned. We've already made few improvements that are not yet released and are likely to make the initial difference smaller.

Is the repository you linked on Twitter earlier the source code you used for tests? I would be interested in having a framework to continuously test how it performs.

[2017-04-04 18:31] satya164 commented on #95
Maybe we need some tests on CI which report back the change in performance.

[2017-04-04 19:25] axemclion commented on #95
@grabbou Yes it is - The repo is at https://github.com/nparashuram/Haul-vs-ReactNative.

[![asciicast](https://asciinema.org/a/3hxgz9629wufaxle14q9j8zi6.png)](https://asciinema.org/a/3hxgz9629wufaxle14q9j8zi6)

[2017-04-05 09:55] aem commented on #96
Here's the crash:
<details>
E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: com.hubspot.android.debug, PID: 3154
                  android.os.NetworkOnMainThreadException
                      at android.os.StrictMode$AndroidBlockGuardPolicy.onNetwork(StrictMode.java:1303)
                      at java.net.SocketOutputStream.socketWrite(SocketOutputStream.java:111)

[2017-04-05 10:11] grabbou commented on #96
I've done some tests and managed to reproduce this crash. So far it seems to be happening only when debugger is being opened for the first time. Having it opened from previous session and running the app seems to work fine.

Looking into it now.

[2017-04-05 10:53] grabbou opened #101 "Improve error messages when bundle not found"
Instead of:
<img width="383" alt="screen shot 2017-04-05 at 12 52 45" src="https://cloud.githubusercontent.com/assets/2464966/24702384/cf140660-19fe-11e7-9d6c-84d78d3bb687.png">

instruct users to check if they are having proper `--platform` flag.

[2017-04-05 11:04] aem commented on #96
Another think I'm noticing is that the debugger continually tries to load on 10.0.2.2 (which I indicated above), I have to manually change the URL to localhost

[2017-04-05 11:30] grabbou commented on #96
That has been already fixed (see open PR).

[2017-04-05 11:49] aem commented on #96
Oops, thanks @grabbou, didn't see the linked PR

[2017-04-05 13:01] grabbou commented on #78
Unfortunately, I couldn't reproduce it.

Try the following:
- Turn on `Live reload` and see if saving reloads your app
- Check if Haul contains any warnings / errors in regards to your application code

From the screenshots, I can see you are using `text`, instead of `Text` (note lowercase), which explains why you are seeing old UI (new one is not compiling)

[2017-04-05 13:01] #78 closed

[2017-04-05 13:52] #85 closed

[2017-04-05 14:13] #101 closed

[2017-04-05 14:53] aem commented on #96
Looks to be more networking issues at play. Upgraded to 0.3.0 and now I see a message `CANNOT TRANSLATE guest DNS ip` logged to the *device* console (not the application logs) every 4 seconds or so. With this, I can't actually run any react native code. The app starts up fine (`reactContext` is non null, any statements in my `index.android.js` file are executed) but trying to load a component fail

[2017-04-05 16:25] berwyn opened #104 "Feature Request: --platform windows"
### Current Behavior
I use [React Native for Windows](https://github.com/Microsoft/react-native-windows) and would love if `--platform windows` was a thing I could use :)

### Expected Behavior
`--platform windows` runs and compiles code in my `.windows.tsx` files

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  0.2.1
| react-native     |  0.43

[2017-04-06 16:01] aem commented on #96
^^ after a little more playing that all looks to be related more to react-native than haul, closing this in lieu of an issue over there: https://github.com/facebook/react-native/issues/13340

[2017-04-06 20:46] #96 closed

[2017-04-07 06:42] #84 closed

[2017-04-07 11:14] mattcubitt opened #110 "react-native run-ios fails on haul-integrate.sh: No such file or directory"
### Current Behavior

1. react-native init
2. yarn add --dev haul-cli
3. yarn run haul init
4. yarn run haul start -- --platform ios
5. react-native run-ios

Results in:
bash: ../node_modules/haul/src/utils/haul-integrate.sh: No such file or directory

** BUILD FAILED **
The following build commands failed:

        PhaseScriptExecution Integrate\ Haul\ with\ React\ Native build/Build/Intermediate

[2017-04-07 11:15] mattcubitt commented on #110
#111 Fixes this for me.

[2017-04-07 11:19] grabbou commented on #110
Fixed in 0.4.1.

[2017-04-07 11:19] #110 closed

[2017-04-07 15:44] aem opened #112 "Source maps appear to be broken on 0.3.0"
### Current Behavior

Opening the debugger only shows a bunch of `eval`d strings

### Expected Behavior

Opening the debugger should show sourcemapped files as 0.2.3 did

### Haul Configuration (webpack.haul.js)

[code]

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  0.3.0
| react-native     |  0.42.0
| node             | 7.8.0
| npm or yarn

[2017-04-08 06:01] quasor opened #113 "Work with Ignite 2 default app"
Using https://github.com/infinitered/ignite
[code]
Observe:
[code]

| software         | version
| ---------------- | -------
| Haul             |  0.4.1
| react-native     |  0.4.2
| node             | 7.8
| yarn      | 0.21.3

[2017-04-08 06:09] satya164 commented on #113
Can you link to a demo project please?

[2017-04-08 13:13] grabbou commented on #113
Alternatively, `ls` in `Images/Icons` folder.

[2017-04-08 19:14] grabbou commented on #113
After debugging this for a while, it looks like it's because of Ignite shipping only with `button-bg@2x.png` file whereas our plugin requires the base resolution to be on the filesystem as well (eg.`button-bg.png` or `button-bg@1x.png`). It's probably worth figuring out how's Packager handling those cases and tweak.

One of the solutions would be to take lowest resolution from available files (e.g

[2017-04-10 09:54] QuantumInformation commented on #78
Changing to Text has no effect I'm afraid:

![image](https://cloud.githubusercontent.com/assets/216566/24855319/219cbf8e-1dd9-11e7-9312-515863e64251.png)

No errors on the haul side. Are you able to see the text now if you compile my app?

[2017-04-10 10:02] grabbou commented on #78
Can you provide a full `gist` of your `index.ios.js` so that we can reproduce it? Have you tried running React Native packager to see if it works?

[2017-04-10 10:08] QuantumInformation commented on #78
https://github.com/QuantumInformation/react-native-cron/blob/master/demo/index.ios.js

I'm gonna do a fresh install of react native for the 4th time to see if it works, if not I'll have to wait.

[2017-04-10 10:23] satya164 commented on #112
Can you post a screenshot of what you see? I tried master just now and getting sourcemaps:

![image](https://cloud.githubusercontent.com/assets/1174278/24857412/d38f721e-1e05-11e7-92e3-7247b7b32b57.png)

[2017-04-10 10:52] QuantumInformation commented on #78
no luck

[2017-04-10 11:04] satya164 commented on #78
This might sound farfetched, but have you checked that you're running the packager in the same folder where you're editing the files? Very easy to make mistake when you've the same folder in 2 places.

[2017-04-10 11:33] satya164 opened #115 "Investigate how to reduce bundle size"
The bundle generated by Haul is bigger than the one generated by packager. We need to see why it's the case. Might be just because webpack generates more code than RN packager.

[2017-04-10 12:08] QuantumInformation commented on #78
I've done a reinstall of everything, somehow its working now.

[2017-04-10 12:14] QuantumInformation commented on #75
Note, the menu option has changed to "Debug JS remotely"

[2017-04-10 12:34] QuantumInformation commented on #78
Sorry guys on this new app, I made a change and then haul saw the change and updated:
![image](https://cloud.githubusercontent.com/assets/216566/24861503/ddf5210a-1df0-11e7-8ae5-0737ea588c18.png)

If I make a change in an external node modules file, then the change is not pulled in, only if I update the actual project code

However running cmd+r and refresh on the debugger UI and the old code is t

[2017-04-10 12:35] QuantumInformation commented on #78
Seems as haul can't recognise any change in node_modules, it only loads the initial version the first time haul is run and then doesn't reload it.

[2017-04-10 15:15] #112 closed

[2017-04-10 18:18] #113 closed

[2017-04-10 18:24] grabbou commented on #87
There's a problem on first Xcode run as `haul-integrate.sh` will be executed after React own build scripts are executed. That means the very first run will launch packager no matter what we do. Second works properly. Figure out how to fix it.

We might need to run `haul-integrate.sh` during `init` command to make the first change. The purpose of it to sit in `build script` is to avoid updates of R

[2017-04-11 14:01] aem opened #119 "Server breaks without dev tools open"
I know I've filed a bunch of bugs, just want to let you all know that Haul is awesome and we love it here. Without Haul we would not have been able to use react-native with our internal infra so we're eternally grateful.

### Current Behavior
While dev tools are open, all works as expected. With dev tools closed, I see the following:

![image](https://cloud.githubusercontent.com/assets/1909883/249

[2017-04-11 14:12] satya164 commented on #119
can you post the libraries you use? I suspect it's coming from a library. By default, we only transpile modules whose name start with `react`. for compatibility.

[2017-04-11 14:29] aem commented on #119
the only libraries we're using are internal ones which i unfortunately can't post the code to, all protected stuff. i can say this was all working fine on 0.3.0 but is broken on 0.5.0

[2017-04-11 14:31] satya164 commented on #119
hmm... any of those libs are ES2015+?

don't think we changed something around transpiling, but need to check.

[2017-04-11 16:41] aem commented on #119
Nah our internal stuff doesn't support anything past ES6 standard

[2017-04-11 16:43] satya164 commented on #119
@aem so it uses ES2015, JSC version on Android most likely doesn't support all of ES2015. We don't transpile everything under `node_modules` by default, but you can whitelist your own modules in `webpack.haul.js` to have your internal modules transpiled.

[2017-04-12 07:05] chandu0101 commented on #83
@grabbou  thanks for info , I don't know what added recently,  its working fine now without any hacks.

[2017-04-12 10:56] aem commented on #119
But why would this only be an issue without the dev tools open?

[2017-04-12 10:58] satya164 commented on #119
@aem when devtools is open, your code runs in a web worker inside Google Chrome, which supports a different set of features. Chrome supports full ES2015, so you won't see any errors.

[2017-04-12 14:54] satya164 opened #120 "Support non image assets"
We should be able to package assets which are non-image. For example an HTML file for displaying in webview, a video etc. Figure out how packager deals with these and update `assetLoader` to support non-images.

[2017-04-12 16:51] jaridmargolin opened #121 "Public Communication Channel"
In an older issue, I saw reference to some sort of communication for Haul occurring on Slack. Is this a public Slack channel for outreach, or is this solely for internal team communication?

It would great to have a place to reach out; Gitter, Slack, IRC, etc...

[2017-04-12 17:10] grabbou commented on #121
We have our Callstack.io own Slack (me and Satya work there).

Curious what medium would make most sense here.

[2017-04-12 17:41] jaridmargolin commented on #121
If you are already actively using slack, it may be most productive for you to utilize a slack channel. This is not uncommon. Babel for example utilizes slack: https://slack.babeljs.io/

I cannot comment on how easy the setup is, but it looks like behind the scenes they are utilizing https://github.com/rauchg/slackin.

May be helpful https://github.com/now-examples/slackin

[2017-04-12 17:51] ferrannp commented on #121
We could just create a callstackoss public slack with channels like #haul and other oss projects we support.

[2017-04-13 07:27] #119 closed

[2017-04-13 09:10] grabbou commented on #121
We now have `slack.callstack.io`, you can register and join `haul` channel. See you all there.

[2017-04-13 09:10] #121 closed

[2017-04-13 17:38] satya164 commented on #121
https://slack.callstack.io

[2017-04-14 10:30] satya164 commented on #70
There's also https://www.npmjs.com/package/xhr-eval-chunk-webpack-plugin

[2017-04-14 17:34] migueloller opened #122 "Stack traces fail to symbolicate"
### Current Behavior

Stack traces fail to symbolicate correctly.

Here's the output from the Webpack server:
[code]

Here's what the symbolication error looks like when debugging remotely:

![image](https://cloud.githubusercontent.com/assets/5677929/25050675/cd00e9dc-2116-11e7-9e9c-2e6976613322.png)

### Expected Behavior

Stack traces should symbolicate correctly.

### Haul Configuration (webpac

[2017-04-14 23:15] skellock opened #123 "Open File in Editor Support"
In the React Native simulator, you can tap a stack frame and your editor will open to that file.

[To do this](https://github.com/facebook/react-native/blob/master/Libraries/Core/Devtools/openFileInEditor.js#L17), they POST to '/open-stack-frame' passing along `{file, lineNumber}`.

What happens next is [kinda involved](https://github.com/facebook/react-native/blob/master/local-cli/server/util/lau

[2017-04-14 23:37] skellock commented on #122
This is failing because [these two middleware](https://github.com/callstack-io/haul/blob/master/src/server/index.js#L60-L61) aren't compatible.

`rawBodyMiddleware` brings `req.rawBody` to the table now.  That gives `symbolicateMiddleware` all the info it needs to run.  We should [switch over](https://github.com/callstack-io/haul/blob/master/src/server/middleware/symbolicateMiddleware.js#L81,L86)

[2017-04-15 01:39] migueloller commented on #122
@skellock, thanks for the info and quick reply! I'll send a PR. 😁

[2017-04-15 02:45] migueloller commented on #122
Ok, @skellock, I'm going to need some pointers here. I got rid of the two incompatible middleware but now there's a new error. Basically, [`consumer.originalPositionFor`](https://github.com/migueloller/haul.git) is returning a `lookup` that has [`source`](https://github.com/callstack-io/haul/blob/master/src/server/middleware/symbolicateMiddleware.js#L125) equal to `null`.

The following error is t

[2017-04-15 03:38] migueloller commented on #122
Ok, just found the issue. I'm using [React Native Debugger](https://github.com/jhen0409/react-native-debugger) and Haul can't handle the last stack frame which has the following filename: `file:///Applications/React%20Native%20Debugger.app/Contents/Resources/app.asar/js/RNDebuggerWorker.js`

Usually, it would be `http://localhost:8081/debuggerWorker.js`. I'll send the PR doing the fix for the midd

[2017-04-15 05:39] satya164 commented on #123
Yeah, a PR will be great! Thank you.

[2017-04-15 07:26] #122 closed

[2017-04-16 08:02] aem commented on #96
whoops. may have closed this prematurely. was this where the issue of opening the debugger causing a `NetworkOnMainThread` exception was being tracked? that's still an issue in 0.5.0

[2017-04-16 08:33] satya164 commented on #96
As per your previous reply, this is an issue in React Native and not haul. So there's not much point of keeping this issue open. It's not actionable for us.

[2017-04-18 11:59] ferrannp opened #125 "Haul + Reactotron without debugger"
### Current Behavior
[Reactotron](https://github.com/infinitered/reactotron) only connects / show messages when the debugger is active.

### Expected Behavior
I'd be nice to get Reactotron to work without having to activate the debugger (it works with the packager).

### Haul Configuration (webpack.haul.js)
[code]

### Your Environment

| software         | version
| ---------------- | -------
| H

[2017-04-18 12:00] skellock commented on #125
Dibs.  Will let you know what I find.

[2017-04-18 12:46] skellock commented on #125
I'm having a hard time reproducing this.  I tried `haul-cli@1.2.0`, `haul-cli@1.5.0`, and `haul@master`.  Also tried `react-native@0.42.3` and `react-native@0.43.3`.  I haven't tested `react-native@0.43.0` as there were some issues with that release.  I'm running `node@7.6.0` (though I can't see that as a problem).

I'm using the `demo-react-native` sample app in reactotron as my test environment

[2017-04-18 12:49] ferrannp commented on #125
Ok let's take it to Reactotron :D

[2017-04-18 12:49] #125 closed

[2017-04-18 14:52] eric-robinson opened #126 "Assets in linked dependencies not loading."
### Current Behavior
I'm working on a React Native iOS app with linked dependencies. Image assets in these projects aren't loading in `<Image>` components. If I copy the linked module's source directly into my app's `node_modules` folder, assets in these projects load fine.

### Expected Behavior
Assets in linked dependencies load as if they were installed via `yarn/npm install`.

### Haul Configu

[2017-04-19 12:02] shahen94 opened #128 "@providesModule and require images support"
### Current Behavior

I've tried to move from default packager to this library, but haul gives me an errors.

[code]

or this one
[code]

### Expected Behavior
Import or require files as it's doing react packager

### Haul Configuration (webpack.haul.js)

[code]

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  0.5.0
| react-native     |  0.41
|

[2017-04-19 12:22] satya164 commented on #128
Haul doesn't support `@providesModule` by default. It is used internally at FB and suits their large codebase, but not ideal for small OSS projects. Not supporting haste improves performance and avoids duplicate module errors.

It's just webpack, so you could try available plugins on NPM to support Haste, though I would suggest to refactor your code not to use haste. You can use https://github.com

[2017-04-19 12:29] shahen94 commented on #128
Thanks for so quick response !

![screen shot 2017-04-19 at 4 27 14 pm](https://cloud.githubusercontent.com/assets/13334788/25180002/49546824-251d-11e7-8caa-c5aba8bebf70.png)

This is my folder structure. i'm able to require image from img folder from everywhere in project.

[2017-04-19 13:34] satya164 commented on #128
This is part of the Haste module system and only supported by the React Native packager. You will need to use `https://github.com/tleunen/babel-plugin-module-resolver` to achieve this behaviour with Haul. You won't need to have a `package.json` anymore.

[2017-04-19 13:34] #128 closed

[2017-04-19 17:45] ds300 commented on #123
Would you be open to a PR which just copy+pastes FB's code, retaining their BSD license in the header? I think adding a customisable solution would be nice eventually though.

[2017-04-19 18:48] grabbou commented on #123
I'd prefer to have an in-house solution for that particular problem.

[2017-04-19 19:09] skellock commented on #123
Ya my plan was to start with `ENV` but with a format string of sorts... each editor has slightly different ways to open with arguments... with a colon, with a space, with arguments.... and then there's VSCode :/.

I won't have time this week unfortunately, but I have a quiet weekend coming up.  🎉

[2017-04-19 19:12] skellock commented on #123
"plan b was to ask if you'd guys would be interested in a plugin system to extend the express middleware".  - Captain ScopeCreep

[2017-04-19 19:15] satya164 commented on #123
@skellock yes, I was thinking about a similar thing, expose parts of haul as a set of express middlewares, which you can use in your own express server and add additional middlewares/wrap existing ones as you need.

[2017-04-19 19:18] satya164 commented on #123
Though we'd want to support most popular editors by default.

[2017-04-19 19:27] skellock commented on #123
Well,

* doesn't work at all `<--- we are here`
* use `opn` (already a dep) and rely on the system?
* read `$EDITOR`/`$VISUAL`/etc
* provide a customizable `ENV`
* provide a customizable `ENV` with a format string
* auto-detect the shit out of it `<--- we want to be here`

Do you want to just maybe start on 2 or 3 (+ express middleware) and maybe have something more awesome next week?

[2017-04-19 19:32] satya164 commented on #123
AFAIK React Native Packager reads `EDITOR` and `REACT_EDITOR`, so we should probably do that.

[2017-04-19 19:37] skellock commented on #123
`https://www.npmjs.com/package/open-in-editor`  gonna leave this here.  I know nothing about it... looks promising.  as does everything when you don't install it.

Will tackle it this weekend.  If someone beats me to it, that's 100% ok with me!  :)

[2017-04-19 19:53] satya164 commented on #126
Can you post a sample project which I can try?

[2017-04-19 19:59] satya164 opened #132 "Web as a target"
Since Haul uses Webpack, it'll finally be possible to use a single bundler for both web and native when you're building an universal application.

Probably not a short-term target. But I hope this will be true in the long term.

[2017-04-20 10:36] satya164 opened #133 "Improvements to documentation"
Here are some thoughts on things we need to cover in the docs

- [ ] Recipes for various setups, e.g. typescript
- [ ] Setting up `babel-plugin-module-resolver` as an alternative to https://blog.callstack.io/a-cure-for-relative-requires-in-react-native-2b263cecf0f6
- [ ] Transpiling modules under `node_modules`
- [ ] More detailed docs regarding how it differs from React Native packager
- [ ] Manu

[2017-04-20 11:54] shahen94 commented on #128
I've configured babel-plugin-module-resolver in my .babelrc file, but still getting the same error.
Should i add loader in webpack config ?

[2017-04-20 11:55] satya164 commented on #128
Can you post the whole `.babelrc`? You shouldn't need to configure anything for webpack.

Also just to be safe, try deleting the `.happypack` folder

[2017-04-20 12:05] shahen94 commented on #128
Now comes other error
![screen shot 2017-04-20 at 4 04 25 pm](https://cloud.githubusercontent.com/assets/13334788/25229892/2a5918a4-25e3-11e7-89c7-75c15c2803eb.png)

[2017-04-20 12:05] shahen94 commented on #128
[code]

[2017-04-20 12:13] satya164 commented on #128
Haul doesn't transpile modules under node_modules for performance and to avoid breaking third party libs. You can override the `exclude` property to transpile that module in the config you get as the argument

https://github.com/callstack-io/haul/blob/master/src/utils/makeReactNativeConfig.js#L81
https://github.com/callstack-io/haul#limitations

We'll have better docs on this soon

[2017-04-20 15:44] migueloller commented on #133
Hey @satya164, just wanted to chime in and say that it's also possible to avoid long relative requires by using Webpack. Here's a Haul config I've been using that allows `.jsx` in React Native and allows to `require` anything inside `src` (e.g., `require('components/MyButton')`).

[code]

I'm also planning on adding `react-hot-loader` to support HMR for functional stateless components in react nat

[2017-04-20 15:48] eric-robinson commented on #126
Yup, here's a slimmed down example:
[linkedAssetsIssue.zip](https://github.com/callstack-io/haul/files/944254/linkedAssetsIssue.zip)

* There is a sample react component (`SampleComponent`) with an image in a `sample-module`. Run `yarn link` from here.
* There is a sample react project in `company/apps/sample-app`. Run `yarn install` from there, then `yarn link "sample-module"`.
* Run `yarn run ha

[2017-04-20 16:16] satya164 commented on #126
Thanks. It likely has to do with the fact that it's a symlink. We probably need to do extra work to handle symlinks.

[2017-04-20 17:21] migueloller commented on #2
I tried setting up `react-hot-loader` v3. The only issue I ran into was the inability to do something like `ReactDOM.render` on React Native. Doesn't look like `AppRegistry` offers something similar.

Any ideas?

[2017-04-20 17:30] satya164 commented on #2
Probably just a `this.forceUpdate()` will work?

[2017-04-20 17:34] satya164 commented on #2
Or something like,

[code]

[2017-04-20 18:06] migueloller commented on #2
@satya164, yup! I realized this soon after the comment. 😅

The issue I'm running into now is that `webpack-dev-middleware` doesn't come with HMR support out of the box. Based on Webpack 2 docs, the `hot` options isn't compatible with `webpack-dev-middleware`. See [here](https://webpack.js.org/configuration/dev-server/#devserver-hot).

[2017-04-20 18:08] satya164 commented on #2
Yes, we'll need to use `webpack-hot-middleware`

[2017-04-21 00:05] migueloller commented on #2
I played around with `webpack-hot-middleware` for a bit. It doesn't work quite nicely out of the box.

I was able to get HMR set up but for some reason requests to the manifests were timing out. Check out this [PR](https://github.com/callstack-io/haul/pull/135).

Also, to get it working without having to use remote JS debugging, we'll have to add a polyfill for `window.EventSource` to satisfy [thi

[2017-04-22 06:52] markspolakovs opened #136 "Error: stream encoding should not be set"
### Current Behavior

When tapping a stack trace in the app (in a RedBox or YellowBox), the Haul console prints the following error:

[code]

### Haul Configuration (webpack.haul.js)

[code]

### Your Environment

Running on Windows 10 Creators Update (10.0.15063)

| software         | version |
| ---------------- | ------- |
| Haul             |  0.5.0 |
| react-native     |  0.43.4 |
| node

[2017-04-22 18:13] fdnhkj opened #137 "Support for existing react-native dependencies CLI command"
Few days ago, I released [react-native-shared-code](https://github.com/fdnhkj/react-native-shared-code), a tool that calculates the percentage of
* shared code across platforms
* platform specific code

It uses React Native packager and takes as input the result of `react-native dependencies` CLI command.
Now, I would like to investigate the integration of this tool with RN projects using `haul`.

[2017-04-23 09:13] shahen94 opened #138 "Bad Error messages"
### Current Behavior
it's giving non understandable error messages

`Helpful and easy to understand error messages` mentioned in readme, but it's no longer correct

<img width="372" alt="screen shot 2017-04-23 at 1 11 07 pm" src="https://cloud.githubusercontent.com/assets/13334788/25312267/5f2ec980-2826-11e7-833b-8d06afc2c786.png">

### Expected Behavior
Should show understandable error message, l

[2017-04-24 18:21] shahen94 opened #140 "Cannot find module 'core-js/modules/es7.string.pad-start'"
### Current Behavior
<img width="856" alt="screen shot 2017-04-24 at 10 18 28 pm" src="https://cloud.githubusercontent.com/assets/13334788/25352203/3e39f3fa-293c-11e7-8a35-44a67f13f33a.png">

### Expected Behavior
init haul correctly

### Haul Configuration (webpack.haul.js)
can't generate configuration file

### Your Environment

| software         | version
| ---------------- | -------
| Haul

[2017-04-26 20:13] ferrannp opened #142 "Flow error on new generated react-native project"
### Current Behavior
Flow error:

[code]

### Expected Behavior
No flow errors due haul.

### Haul Configuration (webpack.haul.js)
Default one with `0.5.0`.

### Your Environment
Just create new react-native project with `react-native init TestProject` which has `.flowconfig` inside with version `0.40.0` and then install and init haul.

| software         | version
| ---------------- | -------
| H

[2017-04-28 07:51] grabbou commented on #136
Is this something that could be possibly fix by #123 ?

[2017-04-28 08:32] markspolakovs commented on #136
@grabbou I doubt it. Even though file opening is NYI, it shouldn't throw an encoding error.

[2017-04-28 11:49] skellock commented on #136
This was fixed by #124.  It's in master and ready to go for next release.

[2017-04-28 11:57] satya164 commented on #136
Cool. Closing this then. Let's do a new release today @grabbou

[2017-04-28 11:57] #136 closed

[2017-04-28 13:27] #123 closed

[2017-05-01 15:59] neverlan opened #144 "Cannot build RN 0.44"
### Current Behavior
![image](https://cloud.githubusercontent.com/assets/5860671/25584864/079cf318-2e98-11e7-91e5-1c8fe39428dd.png)

### Expected Behavior
Should build.

### Haul Configuration (webpack.haul.js)
Tested with default config.

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  master
| react-native     |  0.44.0
| node             | 7

[2017-05-03 05:08] hiaw commented on #120
I pulled the `master` branch and tried out this feature with `m4v` files. It did not serve the file properly I think

[code]

I get the feeling it should be serving from just `/App/Images/consent_01.m4v` instead?

[2017-05-04 17:30] jspears opened #146 "Can't remote debug: global.self throws error"
### Current Behavior
When running in remote debugger using the IOS simulator the browser chokes on
haul-cli/src/utils/polyfillEnvironment.js
[code]
Commenting out this line fixes it, and seems to work in simulator

The error looks like this.
[code]
Also wrapping in a try/catch seems to work also.

### Expected Behavior
Expect remote debugging to work.

### Haul Configuration (webpack.haul.js)
defa

[2017-05-04 17:33] jspears commented on #146
Also checking if global.self exists before assigning seems to work, which is probably the safest thing to do.  Guessing this a change in chrome version issue.

[2017-05-04 18:00] skellock commented on #146
Ya this was a [totally hacky](https://github.com/callstack-io/haul/blob/master/src/utils/polyfillEnvironment.js#L31) way to get React Native to behave. Without this in place, it was causing `fetch` due to some really strange timing issue.

I haven't re-evaluated this in 0.44.x, but it was failing in 0.43.x and 0.42.x.

Does symbolication work for you if you handle that line safely?

[2017-05-04 18:02] jspears commented on #146
Ahh "symbolication" not sure what you mean,and once I do I am gonna use that word like 3 times today.

[2017-05-04 18:05] skellock commented on #146
It's a sweet word!

So you know with React Native's redbox screen of death that shows when an error happens?  Well, RN goes back to the packager to resolve the source map to the "real" line of code.  They call that symbolication (I guess).

So, if you force an error to happen:

`render () { boom() }`

You'll see a stack trace.  Then a moment later (hopefully), the filename will turn into something

[2017-05-09 06:44] GeeWee opened #149 "Cannot resolve typescript imports"
### Current Behavior
When attempting to use ts-loader to resolve typescript files, haul says it is unable to resolve the module.
When trying to import a ts component with the line
`import { SomeComponent } from './some-component';`

You get the following error from haul ERROR in
```./src/index.android.tsx Module not found: Error: Can't resolve './some-component' in 'C:\Users\gusta\Documents\rn-typ

[2017-05-09 06:47] cbrevik commented on #149
I had the exact same problem yesterday, and you need to set `extensions` under `resolve`. I've got a working example here: https://github.com/cbrevik/rn-typescript-example/blob/master/webpack.haul.js

E.g.
[code]

[2017-05-09 07:24] GeeWee commented on #149
Ah, that does seem to make it work.
Apparently you also need to import
import * as React from 'react';
instead of just
import React from 'react'
even though allowSyntheticDefaultImports is set to true.

Awesome PR!

I think this project would benefit a lot from some recipes in the documentation.

[2017-05-09 07:34] ds300 commented on #149
@GeeWee you can enable synthetic default imports by adding a secondary compile step with babel. See https://github.com/TypeStrong/ts-loader#babel

[2017-05-09 07:58] GeeWee commented on #133
I'd be willing to create a PR with a typescript recipe if there's interest.

[2017-05-09 07:58] GeeWee commented on #149
Wicked! I'm closing this, as it seems to be resolved.

[2017-05-09 07:58] #149 closed

[2017-05-09 09:02] llaine commented on #144
Experiencing the same issue.

[2017-05-09 10:44] skellock commented on #133
@GeeWee I'm *very* interested!

[2017-05-09 12:56] DomenicoColandrea86 opened #150 "Cannot run project on Android emulator"
### Current Behavior
- react-native run-android builds successfully.
- haul start --platform android builds successfully.
- Android emulator throws error.
<img width="541" alt="screen shot 2017-05-09 at 8 29 03 am" src="https://cloud.githubusercontent.com/assets/3156834/25851818/394f0330-3495-11e7-8f80-1ef4440c105f.png">

### Expected Behavior

should run on android emulator.

### Haul Configurati

[2017-05-10 12:10] llaine commented on #150
Did you ever tried to add `es2015` in your preset ?
[code]

I'm using Typescript but I have a similar issue.

[code]

[2017-05-10 12:15] llaine commented on #138
Experiencing similar issue.

[2017-05-10 15:25] DomenicoColandrea86 commented on #150
Unfortunately, that did not resolve my issue. I'm still getting the same error in android emulator. I should mention it runs fine on ios and seems to only happen when trying to run on android.

[2017-05-10 16:12] GeeWee commented on #150
Instead of using query perhaps you can try running the babel-loader without the query object
and with a .babelrc file like this:
[code]

It seems like a module that's not being compiled - can you locate what module it dies on?

[2017-05-10 16:17] GeeWee commented on #138
I feel like this would fix a lot of other issues that might be due to npm modules not being pre-transpiled, like #150  where the error message is not understandable.

I'm willing to give this a shot, if someone can point me in the right direction.

[2017-05-10 18:26] DomenicoColandrea86 commented on #150
Thank you for all the quick responses. @GeeWee, I tried that as well with no success. Here is a link to the repo if anyone feels like taking a peak. This issue has been driving me crazy for the last few days and any help would be greatly appreciated.

Project Repo: [](https://bitbucket.org/_domenicocolandrea/rca-mobile)

[2017-05-10 21:34] DomenicoColandrea86 commented on #150
**UPDATE:** I just created a new bare bones app using _react-native init_ and then followed the Haul instructions word for word as per README - Getting started.

Getting same error on Android.

[2017-05-11 05:35] GeeWee commented on #150
What device is this on?

On Wed, May 10, 2017, 23:34 Domenico Colandrea <notifications@github.com>
wrote:

--
mvh.

Gustav Wengel

[2017-05-11 16:04] DomenicoColandrea86 commented on #150
@GeeWee I get the same error when I try with ...

- Genymotion Samsung Galaxy S8 - 7.0.0 - API24
- Genymotion Samsung Galaxy S6 - 5.0.0 - API21
- Genymotion Samsung Galaxy S3 - 4.1.1 - API16

[2017-05-11 18:52] GeeWee commented on #150
And the same exact repo works on iOS and/or real android devices?
I'm pretty stumped here, I'm not an actual contributor, but I had a dig through the source code, and it seems android and iOS are treated pretty much the same, so I'm stumped.
Hoping someone smarter than me jumps in here.

[2017-05-11 21:38] DomenicoColandrea86 commented on #150
**UPDATE** I was able to run the build on Android using RN 0.43. Seems to be an issue with RN 0.44. #144

[2017-05-11 21:38] #150 closed

[2017-05-11 21:38] DomenicoColandrea86 commented on #150
BTW thanks for the quick responses and help @llaine @GeeWee

[2017-05-12 02:42] satya164 commented on #144
That actually looks like invalid syntax to me :(

[2017-05-12 07:01] GeeWee commented on #144
It seems this broke between 0.43 and 0.44 #150
I checked the RN change logs and it's not a new file, and this exact line was there in 0.43 as well.
For some reason the flow-types don't get stripped. Maybe @grabbou has a better idea of what's going on, he seems to know a thing or two about new RN releases.

[2017-05-12 09:00] kernelgonnapanic opened #151 "Supporting gradle assembleRelease task"
### Current Behavior
Currently when running assembleRelease task from react-native to bundle apk, gradle is using underneath gradle react.gradle config from `react-native`. In this config classic `react-packager` is used to bundle js files.

### Expected Behavior
I would like to use `haul` to bundle js files when running assembleRelase from react native.

Is there a recommended way to switch to us

[2017-05-19 21:40] yamafaktory commented on #144
I was facing a similar issue after switching to React Native **v0.44.**. Running `react-native-git-upgrade` fixed it automagically 🌟 (https://github.com/facebook/react-native/tree/master/react-native-git-upgrade).

[2017-05-20 06:04] vlasenko opened #155 "Feature request - expose Haul as a library"
Thank you guys for your amazing work! The need for Webpack-friendly React Native packager is really strong since it is very flexible, number one bundler at the moment and the fact that React Native has its own incompatible packager raises many problems with code sharing between mobile frontend and web frontend or even backend of the same application.

I would like to open discussion about exposing

[2017-05-22 14:47] grabbou commented on #151
CC: @satya164 I think you were working on supporting this during `init` phase.

[2017-05-22 14:48] grabbou commented on #146
This has been fixed in https://github.com/callstack-io/haul/commit/ae73662fce4c5e41ac78d0d5ee5d6a16fb8b1c2b and will be released shortly.

[2017-05-22 14:48] #146 closed

[2017-05-22 14:49] satya164 commented on #151
Init doesn't do this right now, but it's already in README

[2017-05-22 14:53] grabbou commented on #142
Supported version by `haul` is 0.42.0 as in `flowconfig`. I guess that's the reason error occurs.

[2017-05-22 14:53] #142 closed

[2017-05-22 14:54] grabbou commented on #151
Going to close this one then, the ultimate solution is to upgrade to latest `react-native` and follow `readme` setup.

[2017-05-22 14:54] #151 closed

[2017-05-22 14:55] grabbou commented on #140
Have you tried removing your `node_modules` and installing them again?

[2017-05-22 15:01] grabbou commented on #144
I just created a sample app with `react-native init` , run `init` and then, built successfully. My reasoning is that installing dependencies once again updated some intermediate packages that are now, able to properly recognise the flow format mentioned in first post.

Please let me know if you still occur any issues on `master` or `latest` after installing new version.

[2017-05-22 15:01] #144 closed

[2017-05-22 15:02] grabbou commented on #132
It is probably worth to investigate packages like `react-primitives` and `react-native-web` for potential use-cases and how Haul could fit in here.

We will be starting a new project internally to test it out, so might be a nice battlefield.

[2017-05-22 15:03] grabbou commented on #138
@GeeWee let me know if you need any help, either here or on our Slack. Would love to see a support for better error messages.

[2017-05-22 15:03] grabbou commented on #140
I just installed and inited project once again - had no issues at all. Let me know if the problem still persist - if yes, I'll be happy to reinvestigate this issue.

[2017-05-23 14:16] pyros2097 commented on #133
Me too. I'm using reactxp and it needs to compile the .tsx files to a dist folder and I want that removed. Plus reactxp already has a webpack config I can just reuse that for haul.

[2017-05-24 12:38] grabbou commented on #10
Just wondering if you had any time to look into this recently. Not a top priority but worth keeping in mind as far as planning goes.

[2017-05-24 16:14] ev1stensberg commented on #10
I've got some time in 2-3 weeks, got a hectic period of exams right now. If ok, can look into it then 👍

[2017-05-25 13:45] alexanderkjeldaas opened #156 "Document how to not exclude node_modules"
### Current Behavior
The readme mentiones a few limitations, among them that files under node_modules are not transpiled.

### Expected Behavior
README.md includes either pointer or description of how to get `haul` to work, including how to ensure either node_modules are transpiled or how to configure webpack to do so.

[2017-05-26 17:13] kcjonson opened #157 "Haul does not recognize react-native as a peerDependency"
### Your Environment
We work in a monorepo that hoists common dependencies up to the root folder with Lerna. This means that `react-native` itself is not installed in the project folder, but is two levels higher in the filesystem.

### Current Behavior
`haul init` throws an error that it can't find react-native
`haul start --platform ios` also cannot find react-native and exits

### Expected Behav

[2017-05-26 17:28] kcjonson commented on #157
A couple ways to fix this up:
1) Use `node-resolve` (or similar) to resolve to a react-native install (package [here](https://github.com/substack/node-resolve))
2) Add a `react-native-location` field to the config file
2.1) `haul init` prompts the user to enter the location of react-native then writes it to the config

I prefer option one. Any foreseen issues with going in that direction?

[2017-05-29 08:57] grabbou commented on #10
Sounds good, let me know and I'll be happy to pair on implementing/discussing that

[2017-05-29 09:19] ev1stensberg commented on #10
Just need an email / open DM on Twitter ✌️

[2017-05-29 13:49] Krizzu commented on #9
#158

[2017-05-30 11:55] grabbou commented on #157
Shouldn't require work anyway even if React Native is installed two levels up the directory? All in all, that's how require traverses up the file system.

Have you installed haul globally or locally? Have you tried installing it on the same level as React Native? Does it work then?

[2017-05-30 17:43] grabbou opened #159 "SyntaxError on iOS 9.x with React Native 44"
We have this issue before, I need to investigate why on certain iOS versions it happens. It has something to do with Safari version and the subset of spec supported.

No issues on iOS 10.x

[2017-05-30 17:45] skellock commented on #159
Is it Symbols by any chance?  I know on older version (< iOS 8.2 and Android 4.x), we need to polyfill them.

[2017-05-30 17:46] grabbou commented on #159
Hm, could be! But we got stuff here: https://github.com/callstack-io/haul/blob/master/src/utils/polyfillEnvironment.js#L11-L19, right?

[2017-05-30 18:17] skellock commented on #159
Do you have an example of the error?

If it's a missing `Symbol` thing, it should be easy to track down.  I've used [this polyfiller](https://github.com/medikoo/es6-symbol) (usage in entry point is `import 'es6-symbol/implement'`) which helps when 3rd party libs use `Symbol`s.  There's probably a dependency-free version of it somewhere too.

The other thing that has bitten me on older iOS devices

[2017-05-30 18:34] grabbou commented on #159
Not sure. Even deleting entire `index.ios.js` (emptying it) triggers the
error, so I guess it's coming from React / React Native source file.

Will check tomorrow when testing on older devices.

If you get a chance to spin iOS 9.x in the meantime, I'd appreciate any
help! Thanks for discussing that :D

On Tue, 30 May 2017 at 20:17 Steve Kellock <notifications@github.com> wrote:

[2017-05-30 21:25] kcjonson commented on #157
Two things that I found

**src/commands/init.js**: `if (pak.dependencies['react-native']) {` won't allow `peerDependencies` but thats a pretty easy fix to swap to `if (pak.dependencies['react-native'] || pak.peerDependencies['react-native']) {`

then the only other blocker is actually in building the haste map

**/src/utils/makeReactNativeConfig.js** has the location of `react-native` hard coded t

[2017-05-30 21:29] kcjonson commented on #157
to add a bit more detail, this is essentially how the directory structure ends up after a `lerna bootstrap`

[code]

[2017-05-30 23:06] skellock commented on #159
Ya, seems like it's happening a bit earlier in the chain then that.

The exact error firing on this sample project here is:

`Unexpected keyword 'const'. Const declarations are not supported in strict mode.`

Tested and failing on:
* haul 0.6
* rn 0.44.2
* simulator: iPhone 5s @ iOS 8.2, 8.4 & 9.2

Maybe some part of babel compiling process might not be working?  It looks like everything is in pla

[2017-05-31 02:29] satya164 commented on #157
This sounds good to me

[2017-05-31 15:43] ericwooley commented on #132
This seems like it would be pretty easy actually. React-native-web just uses an alias in webpack to resolve `react-native` to `react-native-web`

I think it would be pretty easy to add web as a platform to the cli, and add it to the default config.

`From https://github.com/callstack-io/haul/blob/master/docs/Configuration.md`
[code]

[2017-05-31 15:50] satya164 commented on #132
Not really. There are several things we need to take care of,
- Add a way of adding polyfills according to the platform. We don't want to include RN's polyfills on web
- We need to rework asset loader for web or switch it for different loaders
- ?

[2017-05-31 16:01] ericwooley commented on #132
Well, here is their demo webpack loader config for the react-native-webpack-starter
https://github.com/grabcode/react-native-web-starter/blob/master/web/webpack.config.dev.js
[code]

`Add a way of adding polyfills according to the platform. We don't want to include RN's polyfills on web`

Which ones are you talking about? I'm trying to find them in the src of haul.

I am currently reworking my boi

[2017-06-06 13:17] rauliyohmc commented on #159
Happening in Android simulator as well (tested with Genymotion device, Google Nexus 5)

![image](https://cloud.githubusercontent.com/assets/4982414/26830861/94152998-4aca-11e7-8318-4c27247c2d33.png)

Being the curlprit, `printString` module from react-native, which is apparently the only one that keeps `const` declarations after transpilation:

![image](https://cloud.githubusercontent.com/assets/4

[2017-06-06 14:44] rauliyohmc commented on #159
I dug a bit more and that module/repository [was moved into jest](https://github.com/thejameskyle/pretty-format) some time ago, so it doesn't even make sense to be bundled with either packager or haul. Packager, though, transpiles it properly. Guessing a temporary solution for Haul would be to explicitly transpile that library within `webpack.haul.js` config using `babel` loader and `include` opti

[2017-06-08 07:38] #159 closed

[2017-06-08 07:39] grabbou commented on #159
Today is a good day! Thanks @rauliyohmc and @skellock for fixing the most annoying issue of all time! The culprit was `pretty-format`. Whitelisted it.

[2017-06-08 08:18] satya164 opened #164 "Make it easier to setup with NPM"
Currently we document how to setup the project with Yarn. With NPM, it's bit more involved (`$(npm bin)/haul init`). We should make it simpler to setup.

[2017-06-08 08:45] grabbou commented on #157
Fixed in master in #165

[2017-06-08 08:45] #157 closed

[2017-06-08 08:49] Krizzu commented on #9
added in #160

[2017-06-08 08:49] #9 closed

[2017-06-08 09:01] grabbou commented on #164
Now that we have released `haul-cli`, we can potentially use it for scaffolding.

[2017-06-08 09:08] grabbou opened #166 "Larger assets are not correctly scaled"
In my project, I only have `logo@3x.png`. Packager scales it down nicely, I guess on iPhone it will device read dimensions by `3`.

However, Haul loads it raw resulting in the image taking too much space.

Screenshot:
<img width="476" alt="screen shot 2017-06-08 at 11 07 19" src="https://user-images.githubusercontent.com/2464966/26920912-c52052a8-4c3a-11e7-930d-c8a201acfd9f.png">

CC: @satya164

[2017-06-09 12:45] zamotany commented on #2
I checked `metro-bundler` code and found that `react-native` adds HMR handler which probably sends HRM bundle as a JSON string via WebSocket: https://github.com/facebook/react-native/blob/328d8ddb4781dc270d065aa45033b6be565b2c8f/local-cli/server/util/attachHMRServer.js#L202-L389

In this case we would definitely need a custom HMR middleware.

[2017-06-10 00:00] joshuarh commented on #133
Chiming in with a request for documentation that picks up where `haul bundle` leaves off.

I'm currently trying to figure out how to generate a `.app` file for Appium, but I'm not sure how to do that with the Haul bundle.

(I'm fairly new to React Native so not sure it's in the project scope, but if anyone can point me in the right direction I'd appreciate it!)

[2017-06-10 00:33] joshuarh opened #167 "Building with `xcodebuild` Release configuration results in development build"
### Current Behavior

When I was using the default packager, the following command resulted in a production `.app` build:

`xcodebuild -project ios/MyProject.xcodeproj -scheme MyProject -configuration Release -destination 'name=iPhone 6s,OS=10.3' -derivedDataPath build | xcpretty`

This same command with `haul` results in a development (unminified) build. I'm not sure how to create a `.app` or `.i

[2017-06-11 20:26] jonnywyatt opened #169 "Reference to a file within an installed module causes error"
### Current Behavior
A reference to a file within an installed NPM module generates a red box error on the device.

[code]
The contents of the file generating the error is:
[code]

This file is part of an installed NPM module and is pulled into the main app with:

[code]

The reason I'm asking if this is a Haul / Webpack error is, it doesn't occur if I use the standard RN packager.

### Expected B

[2017-06-11 22:21] skellock commented on #169
You certain that shouldn’t be `export default const` instead?

[2017-06-11 23:33] satya164 commented on #169
That's wrong syntax unless I'm missing something. You need to either `export default` without the variable assignment, or define it as `const ScreenLayoutWrapper` and then do `export default ScreenLayoutWrapper` at the bottom.

The fact that RN packager works seems like a bug, unless this is actually a valid syntax.

[2017-06-12 08:03] jonnywyatt commented on #169
That worked! Thanks to you both.

[2017-06-12 08:03] #169 closed

[2017-06-12 09:04] massoprod opened #170 "Aliases path errors"
### Current Behavior
When I ran Haul on windows, in 91% it crashed and wrote errors:

First three errors:

[code]

### Haul Configuration (webpack.haul.js)
[code]

### Your Environment
Windows 10
Visual Studio Code
Android emulator

| software         | version
| ---------------- | -------
| Haul      |  1.0.0-beta.0
| react-native   |   0.45.0
| node      |  6.10.0
| npm or yarn     | 0.21.3

[2017-06-14 14:23] grabbou commented on #166
Any update on this? Need to release a new version soon 💯

[2017-06-14 14:36] zamotany commented on #2
As you can see in https://github.com/facebook/react-native/blob/master/Libraries/Utilities/HMRClient.js#L32-L137, when HMR is enabled by clicking `Enable Hot Reloading` RN app will connect to WebSocket under path `/hot`, whenever change in source file is detected Haul's custom HMR middleware should send `JSON.stringify({ type: 'update-start' })` message via this websocket, then create `body` of HM

[2017-06-14 15:20] satya164 commented on #166
@grabbou oh sorry, I'll send the pr soon. just some testing needed

[2017-06-14 15:45] grabbou commented on #166
No worries, juts wanted to follow up on status.

On Wed, 14 Jun 2017, 17:20 Satyajit Sahoo, <notifications@github.com> wrote:

[2017-06-14 17:32] necolas commented on #132
I'm interested in helping those of you looking to get Haul and RNW play nice together, and it would be good if the webpack asset loader could eventually be published separately (for people integrating RNW into existing apps or not using Haul).

[Reaching into RN internals](https://github.com/callstack-io/haul/blob/5026eb06344e61d5b6024191de5717834b0eba38/src/loaders/assetLoader.js#L148) is a bit o

[2017-06-15 07:37] xiaoDC opened #173 "Would you add bundle split feature?"
Hi, would you implement the bundle split feature?
something like [https://github.com/facebook/react-native/pull/10804](url)

[2017-06-16 10:21] zamotany opened #174 "Prebuild React and React-Native dependencies"
In order to improve build times we could extract `react` and `react-native` depdencies into [DLL](https://webpack.js.org/plugins/dll-plugin/) and provide a way for user to add their own depednecies to this bundle. However, this solution will split code into 2 files, so unless there's an option to load multiple filesin RN app, we can't benefit from it.

[2017-06-17 18:57] punkusha opened #175 "[Bug] Module not found"
### error message:
[code]

<details><summary>details</summary>
<p>

[code]

</p>
</details>

### step-by-step:

[code]

### Current Behavior
incorrect configuration

### Expected Behavior
correct configuration

### Haul Configuration (webpack.haul.js)

default

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  1.0.0-beta.1
| react-native     |  0

[2017-06-19 04:11] satya164 commented on #174
I had a little chat about it with some folks earlier:
- There's a feature called unbundle (it's completely undocumented, so not sure how it works), which can split the code into multiple bundles for faster startup
- JSC allows to synchronously load additional bundles which unbundle uses (that's why FB has a fork of JSC, to add this feature), but doesn't support loading bundles asynchronously

[2017-06-20 17:40] markbiddlecom opened #176 "symbolicateMiddleware fails when platform is set to all"
### Current Behavior
When running `haul start --platform all`, `symbolicateMiddleware` throws whenever a log message is inspected.

[code]

### Expected Behavior
No errors in the console. Either fail gracefully or (ideally) understand which compiler the source map should be loaded from.

The issue appears to be that when platform is `all`, the `compiler` passed to the middleware function is a `Mul

[2017-06-20 18:13] skellock commented on #176
Fantastic write up.

We'll have to [pass along](https://github.com/callstack-io/haul/blob/master/src/server/middleware/symbolicateMiddleware.js#L97) the `platform` that comes in with the request (`ios` or `android`) to match the proper `MultiCompiler` entry in that array.

I can do this, but I'm out of town until Friday evening.

Should the gods of hotel wifi favour my cause, I tend to this injust

[2017-06-21 14:36] Vlad-Zhukov commented on #140
The problem occurs when install deps with npm. Removing `node_modules` and reinstalling doesn't help. `yarn` works fine however.

What happens in my case is npm installs `react@16.0.0-alpha.12` -> `fbjs@0.8.12` -> `core-js@1.2.7` to the root of `node_modules`. There is no `module/es7.string.pad-start.js` in `core-js@1.2.7` yet.

Adding `core-js` to dev deps in my project fixed the problem.

[2017-06-23 13:09] #170 closed

[2017-06-23 13:19] Krizzu commented on #175
Fixed in #177

[2017-06-23 13:19] #175 closed

[2017-06-27 18:00] Krizzu commented on #176
Hey @skellock
Are You still on it? I could send PR, if hotel's wifi is not enough :P

[2017-06-27 18:08] JulioC opened #179 "Release build fails with react-native@0.44.0"
### Current Behavior

I have a project using resole.alias property from Webpack.  When building it for release on android with `cd android && ./gradlew assembleRelease`, it throws an error:

:app:bundleReleaseJsAndAssets

### Expected Behavior

It should work, as it does with `haul start`.

Since it works with react-native@0.45.0, I'd suggest updating the note on the README, recommending at least

[2017-06-27 19:26] skellock commented on #176
Hey, i haven't had time just yet.  But it's been weighing-in on my guilt-o-meter tho.

You're welcome to steal it from me,  but I can find time this week for sure.

[2017-06-27 19:29] Krizzu commented on #176
No worries, I'll put myself on hold then :D

[2017-06-27 21:47] JulioC opened #180 "Asset images don't work on Windows"
When using Windows to compile a project that loads image assets, they don't get loaded properly on the app.

After some investigation, I found out that `assetLoader` makes the assumption that `path.sep` is `/` to generate the filenames and their references for `AssetRegistry`. Changing the loader to uses the platform separator was enough to fix this issue.

### Your Environment

**OS:** Windows

|

[2017-06-28 11:04] grabbou commented on #179
I think the issue is that you are not using Haul to bundle in release, but Packager (we added version to overwrite it in 0.45). Since you are using `alias`, `packager` is not recognising it.

@satya164 what would be the most efficient way to use Haul prior to 0.45?

[2017-06-28 11:07] satya164 commented on #179
@grabbou we added that is `0.43` -> https://github.com/callstack-io/haul#getting-started. On older versions we need to edit the `node_modules/react-native/react.gradle` file

@JulioC can you share the `android/app/build.gradle` file?

[2017-06-28 14:36] JulioC commented on #179
Here it is. I've removed some content I believe it's not related to this issue.

[code]

[2017-06-30 11:46] zamotany commented on #70
@satya164 Not sure if it might help, but this #182 changes `target` to `webworker` and polyfills `importScripts` so you can download anything you want and it will be `eval`'ed.

[2017-06-30 15:59] ericwooley opened #184 "Add donations!"
Haul has saved my bacon several times over.

You should consider adding a donate button to the readme.

[2017-07-10 21:38] grabbou commented on #166
Is this fixed now?

[2017-07-11 08:33] #166 closed

[2017-07-13 21:46] brendanscarano opened #186 "Android build APK breaking on config"
I'm attempting to run `./gradlew assembleRelease` in the android directory of my react-native app to build the APK. I expect the following code to replace my config files across the app however it's not resolving properly.

webpack.haul.js
[code]

App.js
[code]
When I run I get the following error:
[code]

It seems to be working fine for the iOS build however for Android this issue is being thrown

[2017-07-13 21:55] satya164 commented on #186
Did you follow the instructions here to setup the build? https://github.com/callstack-io/haul#getting-started

[2017-07-13 22:01] brendanscarano commented on #186
@satya164 yes, I followed the documentation and added
[code]
to my android/app/build.gradle file

When I run `yarn run haul start -- --platform android` from my project directory it seems to build fine, it's only when I run `./gradlew assembleRelease` that I get the breaking error.

[2017-07-13 22:04] satya164 commented on #186
What's your React Native version? Do you have source code which I can look at?

[2017-07-13 22:08] brendanscarano commented on #186
RN version ^0.44.0
And source code for which files?

[2017-07-17 14:43] JulioC commented on #180
@satya164 any news on this issue?

[2017-07-18 02:43] anmonteiro opened #188 "Console polyfill not active"
### Current Behavior
No console messages are printed to the console

### Expected Behavior
Expected console output to be visible in the console.

---

It looks like Haul only sets up the console polyfill if `module` is undefined, which doesn't seem to ever be the case when bundling with Webpack?

[Here's](https://github.com/callstack-io/haul/blob/870753d1df5f2d6f878584adb95a370bc2b5b169/vendor/pol

[2017-07-18 15:42] ericwooley opened #189 "Cannot find module happypack"
### Current Behavior
After install, with npm, sometimes 'happypack' cannot be found.

I am also using lerna, to add confusion

### Expected Behavior
happypack should be found.

### Haul Configuration (webpack.haul.js)
standard happy pack config

### Your Environment
lerna
osx
npm 5.0.3

| software         | version
| ---------------- | -------
| Haul             |  beta-2
| react-native     |  0.4

[2017-07-18 15:43] ericwooley opened #190 "happypack module not found (sometimes)"
### Current Behavior
After install, with npm, sometimes 'happypack' cannot be found.

I am also using lerna, to add confusion

### Expected Behavior
happypack should be found.

### Haul Configuration (webpack.haul.js)
standard haul config

### Your Environment
lerna
osx
npm 5.0.3

| software         | version
| ---------------- | -------
| Haul             |  beta-2
| react-native     |  0.45
| no

[2017-07-18 15:48] ericwooley commented on #189
Accedentally submitted twice.

[2017-07-18 15:48] #189 closed

[2017-07-18 15:50] zamotany commented on #189
I had few problems with `lerna` and `npm@5` together, so maybe try to install the latest `npm@5.3.0` and see if that helps. It's also possible that `npm@5` can handle github paths - `github:amireh/happypack#3256a3380dde2e06e3ad2ca3b41e9a81fd4f9673`.

[2017-07-18 15:51] zamotany commented on #190
I had few problems with `lerna` and` npm@`5 together, so maybe try to install the latest `npm@5.3.0` and see if that helps. It's also possible that `npm@5` or `lerna` can handle github paths - `github:amireh/happypack#3256a3380dde2e06e3ad2ca3b41e9a81fd4f9673`.

[2017-07-18 16:06] ericwooley commented on #190
I tried with both npm and yarn, npm 5.0.3 and yarn 0.27. I'll try with npm 5.3.0 as well.

Would there be a reason I shouldn't specify a version of happypack that is published?

[2017-07-18 16:41] zamotany commented on #190
I don't really know. It's possible that `3.1.0` would work, but I believe @grabbou has the answer to that question.

[2017-07-18 17:51] ericwooley commented on #190
adding happypack@3.1.0 to my package.json dependency specification seems to have fixed the issue.

[2017-07-18 17:51] #190 closed

[2017-07-18 22:45] #180 closed

[2017-07-19 18:27] grabbou commented on #190
Interesting why `happypack` would have to be present in your project dependencies. Be sure to reinstall node_modules. Sometimes bad things can happen over time.

[2017-07-19 18:30] ericwooley commented on #190
We went through the ringer of trying to get it working. Node versions, npm versions, installing manually, switching to yarn, deleting the node_modules between every step.

I think it happened when the npm install failed initially through lerna, and something is cached from the git module somewhere. After a while it just started working on one machine (cache expired?) and switching to the published

[2017-07-24 16:11] brendanscarano commented on #186
It seems that if follow the documentation and add
` project.ext.react = [
    cliPath: "node_modules/haul/bin/cli.js"
 ]
`
to my `android/app/build.gradle` but comment out `apply from: "../../node_modules/react-native/react.gradle"` below it, I'm able to run the app locally as well as build the apk file with the `./gradlew assemblyRelease` command

[2017-07-25 16:10] junibrosas commented on #156
you can include the node_modules when you use a loader.

[code]

[code]

[2017-07-26 10:27] #188 closed

[2017-07-26 10:31] grabbou opened #194 "Stop transpiling `import` to `require`"
Unlike packager, `webpack` has now native support for `import` and leaving it that way will not only simplify HMR setup but also enable possible code optimisations.

[2017-07-26 10:35] grabbou commented on #194
We need to figure out how to make `babel-preset-react-native` updatable and configurable w/o forking for it to make sense long term.

[2017-07-26 10:42] grabbou opened #195 "Figure out way to configure Haul for advanced use-cases"
Like adding a platform. Potentially, we can add named exports for `webpack.haul.js` config or a different file.

Also, consider adding another file (e.g. `config.haul.js`) so that is no longer confusing.

[2017-07-26 11:14] satya164 commented on #194
https://github.com/babel/babel/blob/master/packages/babel-preset-es2015/src/index.js#L42

[2017-07-27 08:59] zamotany opened #196 "Failure when reporting bundle evaluation error"
### Current Behavior
<img width="1037" alt="screen shot 2017-07-27 at 10 57 17" src="https://user-images.githubusercontent.com/17573635/28662463-95ff82c2-72ba-11e7-85f1-17e7d4467661.png">

### Expected Behavior
No error

### Haul Configuration (webpack.haul.js)
Default

I believe this is due to https://github.com/callstack-io/haul/commit/edff2ce7c8bef4185cdaec8b9668c8a2bb4a8007
CC: @Krizzu

[2017-07-27 13:40] zamotany opened #199 "Assets urls are not resolved correctly"
The assets URLs are invalid. Probably it's the asset loader fault.

### Current Behavior
When using images the app makes request with an invalid url:
[code]

### Expected Behavior
The assets should be requested with a valid url, eg `http://localhost:8081/assets/ios/media/calendar.png`

### Haul Configuration (webpack.haul.js)
Default

### Your Environment
| software         | version
| -----------

[2017-07-27 13:41] satya164 commented on #199
Can repro this. Probably broke with https://github.com/callstack-io/haul/commit/77e82e2d69cacc837cea1431752cc0ffa7678c62 ?

[2017-07-28 11:23] zamotany commented on #199
It's related to HMR.

[2017-07-28 14:01] #199 closed

[2017-07-28 14:58] zamotany commented on #196
Will be fixed with https://github.com/callstack-io/haul/pull/182/commits/608303af84dc1468ee9feda667415cf6f82d71d7

[2017-07-30 15:38] satya164 opened #201 "Upgrade to Webpack 3"

[2017-07-31 12:10] #196 closed

[2017-07-31 13:07] thymikee opened #203 "Compile CLI instead of shipping with babel runtime"
It's a feature

### Current Behavior
Haul CLI is shipping with `babel-register` compiling its code, therefore its boot time increases _a lot_

### Expected Behavior
We can compile CLI code to specified target (e.g. Node 4) with babel and get rid of the slow runtime.

cc @zamotany

[2017-07-31 13:08] grabbou commented on #203
Unfortunately, that decision was a tradeoff we have made in order to transpile only required amount of code. That's why we use `babel-env` to detect what is supported and use it instead.

In reality, there's minimum amount of things we transpile on Node 6 and above - no need to include regenerator runtime etc.

[2017-07-31 13:09] satya164 commented on #203
Have you benchmarked it? I don't notice the startup to be slow.

[2017-07-31 13:15] zamotany commented on #203
I do, especially if I have other programs in the background.

@grabbou
If you're so worried about supporting ancient node versions, what about this:
- transpile for node 6 LTS
- if we detect earlier version -> babel-register with `preset-env`
??

[2017-07-31 13:17] thymikee commented on #203
Displaying `--help`:

* with `babel-register`: `1.46s`.
* without it: `0.85s`

[2017-07-31 13:17] satya164 commented on #203
If we transpile anyway, it'll be better to transpile for everything instead of 2 different ways.

[2017-07-31 13:17] grabbou commented on #203
I would like to see numbers in order to be able to decide whether it's worth tradeoff at all.

Again, what is the point of transpiling for Node 7/8 users? In reality, this should be less of an issue as we are upgrading our environments. Ideally, everyone should be on latest, here, we provide support just as a legacy.

[2017-07-31 13:18] grabbou commented on #203
If its `0.6s`, maybe it makes more sense to see what transforms are taking long and remove them during build step - maybe it's for instance `flow` that takes 80% of it.

[2017-07-31 13:28] zamotany commented on #203
W/o transpilation: 1616ms
W/ transpilation: 425ms

[2017-07-31 13:29] grabbou commented on #203
Let's remove `flow` from `src` and see if using that code with `babel-register` is as slow.

[2017-07-31 13:31] satya164 commented on #203
@thymikee you transpiled using the `current` option for `babel-preset-env`, but if we transpile, we would probably use `node 4`. Can you try with `node 4` and post the results so we can make a more informed decision on what to do?

[2017-08-01 00:25] joearasin opened #204 "Silent failure on build errors"
This is a bit of a weird one -- but on some packaging errors (i.e. if I am exporting a generator, for example, which chokes React Native's build), the error gets silently swallowed, with haul outputting "Built successfully!", but opening the IOS simulator reveals "Module AppRegistry is not a registered callable module (calling runApplication)".

To reproduce, drop something along the lines of:
[co

[2017-08-01 08:22] Krizzu commented on #204
Hey @joearasin, thanks for filling this issue.

I've created a PR #205 to fix this problem.

All best.

[2017-08-01 12:47] ericyip opened #206 "yarn package not updated"
### Current Behavior

[code]
### Expected Behavior

Using the lastest verison of haul. I need to copy& paste the `haul-integrate.sh` from github everytime to solve it

### Haul Configuration (webpack.haul.js)

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  1.0.0-beta.2
| react-native     |  0.46.4
| node             | v6.9.1
| yarn      | v0.2

[2017-08-01 13:29] zamotany commented on #206
@grabbou I think we need a new release with this fix https://github.com/callstack-io/haul/commit/870753d1df5f2d6f878584adb95a370bc2b5b169

[2017-08-01 13:34] grabbou commented on #206
Going to do it now.

[2017-08-01 13:34] #206 closed

[2017-08-01 13:38] grabbou commented on #203
I think it's been discussed on Slack that there are no differences at the end of the day? Going to close this one until we can reproduce constant slowness that is worth fixing.

[2017-08-01 13:38] #203 closed

[2017-08-01 13:38] grabbou commented on #194
Going to work on this one

[2017-08-01 13:40] thymikee commented on #203
There is a difference, which gets marginal after `babel-register` cache gets warm. Nevertheless worth exploring in near future

[2017-08-01 13:48] grabbou commented on #184
I am soo happy that Haul has saved you some time and made it easier to do things! We work on Haul internally, at Callstack, as a part of our open source program. However, I recommend you to donate to Webpack, which is an underlaying bundler and most important building block of Haul. It is being crafted and maintained by open source collaborators and is seeking donations.
https://opencollective.com

[2017-08-01 13:48] #184 closed

[2017-08-01 18:36] joearasin commented on #204
Awesome. thanks for the quick fix. I think the changes in today's release (maybe #183) actually fixed my issue, but anything helps!

[2017-08-01 21:22] Krizzu commented on #204
@joearasin

Glad you have your problem solved.

Cheers :)

[2017-08-01 21:22] #204 closed

[2017-08-03 08:10] grabbou opened #207 "Better error when something is already listening on port"
When there's e.g. another `packager` listening at another port, instead of printing an error:

[code]

either:
a) print a better / nicer error message
b) ask user what to do (exit / kill process and restart)

I am in favour of `b` which aligns well with our general idea of fixing mistakes.

[2017-08-03 08:11] thymikee commented on #207
Why not try to automatically connect to another free port, like Browsersync does?

[2017-08-03 08:11] satya164 commented on #207
@thymikee the client would need to know to connect to the new port

[2017-08-03 08:12] grabbou opened #208 "In mode `all`, progress indicator is broken"
Progress indicator is receiving two, mutually exclusive, progress events, one from iOS compiler and second, from Android compiler.

We should build a nice proxy / abstraction that will collect all events from compilers and report a summary.

[2017-08-03 08:12] grabbou commented on #207
Yeah, if we change the port transparently, one will have to re run it's native client which I assume is not wanted behaviour

[2017-08-03 08:13] thymikee commented on #207
Fair enough, thanks!

[2017-08-03 08:17] satya164 commented on #186
Can you post a full example so we can debug it?

[2017-08-03 08:24] grabbou commented on #195
cc: @skellock do you guys have any use-cases like that or would have some ideas?
cc: @rozele interested to hear how you utilise CLI config in rn-windows so we can make sure it's also compatible here

[2017-08-03 08:30] Krizzu commented on #207
I'd like to work on this one, if no one took it already :)

[2017-08-03 08:50] zamotany commented on #208
Might be helpful:
https://github.com/TrueCar/gluestick/blob/next/packages/gluestick/src/config/webpack/progressHandler.js

[2017-08-03 16:41] rtomchinsky commented on #164
With `npm@5`, running `npx haul init` seems to work.

[2017-08-03 17:28] skellock commented on #195
Some of the crew here at Infinite Red are doing some work on the win 7 port. Their needs would be similar to Eric's.

Might be worth reaching out to @ptmt and @dlowder-salesforce too.  I'm sure they have packager battle scars.

[2017-08-03 19:38] rtomchinsky opened #210 "Can't debug with Chrome"
### Current Behavior
When debugging with Chrome, the debugger does not show the scripts from webpack in the sources tab.

![current](https://user-images.githubusercontent.com/2497755/28940124-0221078c-786a-11e7-853f-fb83adb7f434.PNG)

### Expected Behavior
Source files are shown in the sources tab and it is possible to place breakpoints and debug the code, i.e.:

![expected](https://user-images.gi

[2017-08-03 19:42] satya164 commented on #210
cc @Krizzu

[2017-08-04 06:27] zamotany commented on #210
We can't use `importScripts` because the stack trace for errors is useless. Replacement of `'this["webpackHotUpdate"]'` with `'self["webpackHotUpdate"]'` is just for the webpack boostraping logic so that it doesn't throw the error.

[2017-08-04 08:13] zamotany commented on #210
Try adding `devtool: 'eval-source-map',` to `webpack.haul.js`.

[2017-08-04 08:18] zamotany commented on #176
Is the issue solved?? Can we close that?

[2017-08-04 10:54] skellock commented on #176
Not OP, but, there is a “close and comment” button down there. I’m gonna click it and see what happens...

[2017-08-04 10:54] #176 closed

[2017-08-04 10:56] skellock commented on #176
Holy shit it worked!

[2017-08-04 13:00] rtomchinsky commented on #210
That works, thanks!

[2017-08-04 13:00] #210 closed

[2017-08-04 13:03] Fconstant commented on #210
Shouldn't this be at the docs?

[2017-08-04 14:22] zamotany commented on #210
Probably this needs a PR to Haul.

[2017-08-04 20:16] markbiddlecom commented on #176
Thanks for the fix!

[2017-08-07 09:27] zamotany opened #212 "Circle CI node 4 container is always failing when installing dependencies"
On my branch `feature/hmr` node 4 container is always failing when installing dependencies:
[code]

You can see the full output here: https://circleci.com/gh/callstack-io/haul/407

What's really interesting is that I **don't have version 1.9.2 of `babel-preset-react-native` as a peer dependency** but `^2.0.0`.
Here yout can see my `package.json`: https://github.com/callstack-io/haul/blob/9f7e65300

[2017-08-07 09:31] thymikee commented on #212
Also, Haul is pretty buggy on Node 4, e.g. running `bundle` or `start --platform android` throws compilation errors.

[2017-08-07 09:42] satya164 commented on #212
We should switch to npm@3 on Node 4 and try. We don't support npm@2 anyway.

[2017-08-09 02:28] EamonnLaffey opened #215 "Debug JS remotely with typecript"
### Current Behavior
Remote JS debugging does not work with typescript and haul version 1.0.0-beta.4. When you try and debug js remotely the following error is thrown: `Cannot read property 'BlobBuilder' of undefined`

### Expected Behavior
Currently downgrading to version 1.0.0-beta.2 of haul allows the JS to be remotely debugged version 1.0.0-beta.4 of haul should behave the same.

### Haul Conf

[2017-08-09 10:12] zamotany opened #216 "Update devtool in default config"
It's connected with https://github.com/callstack-io/haul/issues/210 - we should change the default `devtool` to the one that actually works like `eval-source-maps`.

https://webpack.js.org/configuration/devtool/

[2017-08-09 10:27] grabbou opened #217 "Figure out Haul Dashboard"
We were chatting today that it would be great to do Ken Wheeler like webpack-dashboard but for React Native, showing you logs, network stuff, performance (frames per second, CPU, etc).

We will be investigating that and will try to come up with mockups. Ideas appreciated.

CC: @Kureev for your idea on network logging

[2017-08-09 11:26] skellock commented on #217
Any interest collaborating on Reactotron? We’re ramping up on v2 shortly. Could even resurrect our original CLI if there was interest.

[2017-08-09 13:28] Kureev commented on #217
Hah, interesting. My idea of network logging was born after taking under the hood of reactotron. I think if we can merge some features of Reactotron into Haul Dashboard, that would be awesome.

**Regarding the idea itself (Haul Dashboard):**
- Great, I was thinking about to build a UI for Haul/Metro as well 🙌
- I'd rather focus on RN-specific things: managing packages (so we can pause packager, in

[2017-08-09 15:44] grabbou commented on #217
Yeah, I believe this is fantastic idea @Kureev. There's that `#haul` channel on our open source Slack. I believe we can sit down and discuss it at some point.

We are having weekly meetings on Wednesdays - 12pm -> how about you join next one on Slack and we discuss it there?

[2017-08-09 15:45] grabbou commented on #217
@skellock haven't played with it much yet so hard to tell. Happy to check it out!

[2017-08-09 17:31] skellock commented on #217
### Reactotron TL;DR

* There's two parts.  `client` and `server` and they talk via web sockets passing json objects of a "known" protocol. `[1]`

* The `client` comes as a library `[2]` that plugs into the RN or web app you're making.

* The `server` also comes as a library that plugins into an Electron app `[3]`. This used to be a CLI (r.i.p.) but i "upgraded" it when i launched 1.0.

* It has m

[2017-08-10 07:05] Kureev commented on #217
Great proposal, @skellock!

I only have one concern regarding coupling Haul with Reactotron. I think it would be great if we can conform to Reactotron protocol so we can use its plugins etc, but depending on the package itself would be an overkill for me (I'd like to hear your opinion, @grabbou).

[2017-08-10 11:34] grabbou commented on #217
Yeah, I totally agree with you @Kureev. I still haven't had enough time to dive into Reactotron much yet, but I quite like it. However, I think that using its API and ecosystem but with a different frontend (Haul Dashboard via CLI) would make a lot of sense and resolve quite a few problems when it comes to writing such integration.

[2017-08-11 12:28] satya164 opened #218 "Double R in Chrome Debugger should reload the app"

[2017-08-11 13:19] jhen0409 commented on #218
I may could help this, I've do similar thing in [`react-native-debugger`](https://github.com/jhen0409/react-native-debugger/blob/master/app/worker/devMenu.js#L8), it take `DevSettings.reload` to make it possible, but currently it doesn't support Android.

[2017-08-11 13:20] satya164 commented on #218
I was thinking that maybe we could hijack the way live reload is implemented.

[2017-08-14 11:48] cuduy197 opened #219 "Hot loading isn't working because it cannot connect to the development server ?"
I have issue : Hot loading isn't working because it cannot connect to the development server ?
When i disable hot loading, it work normal? , How do i enable hot loading ❓

[2017-08-14 11:56] cuduy197 commented on #219
And sometime app didn't reload when i enable live reload ?

[2017-08-15 05:20] iamawebgeek commented on #173
+1 @xiaoDC  have you found any solution for this?

[2017-08-15 07:49] xiaoDC commented on #173
@iamawebgeek i give up `haul`, and i use the package `rn-packager`

[2017-08-15 18:53] stief510 opened #220 "Error from node_module"
I am installing Haul for the time but one of my node modules is giving me repeated errors

### Current Behavior
For example, I get:

[code]

or

[code]

### Expected Behavior
No error

### Haul Configuration (webpack.haul.js)
Standard (fresh install):

[code]

### Your Environment
Haul: 1.0.0-beta.4
RN: 0.44.2
Node: v6.9.2
Yarn: 0.23.4

I am new to webpack so any direction would be helpful. Thanks

[2017-08-15 19:02] stief510 commented on #220
After changing webpack config to

[code]
it began working

[2017-08-15 19:02] #220 closed

[2017-08-17 19:09] Genitana commented on #140
i    npm install core-js , and fixed it

[2017-08-19 05:46] drakmail commented on #219
See README.md:

[2017-08-19 12:28] zamotany commented on #219
#182

[2017-08-21 11:25] #219 closed

[2017-08-21 11:25] grabbou commented on #219
Closing as this feature is in progress.

[2017-08-22 20:11] stief510 opened #223 "Global variables"
I have defined a number of global variables in a `.globals` file that I import into my index.ios.js file. I am trying to switch over to typescript and that import is now in index.ios.tsx and it does not work. The global variables are undefined.

My tsconfig is

[code]

My webpack is

[code]

[2017-08-22 20:14] satya164 commented on #223
I'm not sure what you mean by that. Can you post code sample?

[2017-08-22 20:25] stief510 commented on #223
Sorry, I meant `globals.js`

So it has

[code]

for example

And then I have

[code]

[2017-08-24 06:38] springHyc commented on #210
@zamotany

添加这个之后，文件是不换行的，如何设置为换行的呢？

[2017-09-04 14:33] joearasin opened #228 "React-native 0.48.1 content-type issue"
I just upgraded what is effectively a Hello World react-native app + Haul to react-native 0.48.1, and now upon launching I am getting an error in my simulator:

My assumption is that https://github.com/facebook/react-native/blob/v0.48.1/React/Base/RCTJavaScriptLoader.mm#L247 is tripping on something in haul, as running `curl -v -D - http://localhost:8081/index.ios.bundle -o /dev/null` indicates th

[2017-09-04 15:02] joearasin commented on #228
To clarify what is going on internally:
webpack-dev-middleware is using mime.lookup to determine the content-type to return for "index.ios.bundle". ".bundle" being an unknown type, it defaults to applications/octet-stream. The default bundle file needs to be "index.ios.bundle.js" or something to that effect.

[2017-09-04 16:49] joearasin commented on #228
Anyway -- it seems like there are two possible solutions:
1) Convince the webpack-dev-middleware folks to expose the mimetype detector as a parameter, allowing for custom mimetype detection.
2) Set up haul such that, when running in server mode, it bundles to "index.ios.bundle.js" and rewrites the request from "index.ios.bundle" to "index.ios.bundle.js"

[2017-09-04 17:17] joearasin commented on #228
Just attempted solution (2) above. It does not work, b/c webpack-dev-middleware automatically appends "charset=UTF-8" to the mime-type header, which causes react-native to choke. This could be overridden by using the "headers" option to webpack-dev-middleware, but I imagine images and such would then break.

[2017-09-05 10:55] joearasin commented on #228
I just opened a PR on webpack-dev-middleware that is necessary for solution (1) -- I think that's ideal, as this implementation is more than a bit of a hack.

[2017-09-06 14:49] qrush commented on #228
Hit this myself! Big +1 to fixing this. In the meantime I commented out the following lines to skip that check...

https://github.com/facebook/react-native/blob/master/React/Base/RCTJavaScriptLoader.mm#L287-L288

🙈

[2017-09-07 16:45] Titozzz commented on #228
Hello, happens to me too, so I can't upgrade to 0.48 until then ..

[2017-09-07 22:13] blackxored opened #231 "Can't use modified .babelrc"
This is part of lerna setup so I'm assuming some of the issues might have to do with that. It seems if we add a .`babelrc` (even the default with the react-native preset) EmitterSubmission fails to resolve. Any clues?

[2017-09-07 22:18] casesandberg opened #232 "Use in `create-react-native-app`"
Is it possible to use this with a `creat-react-native-app` project without ejecting?

[2017-09-08 11:30] grabbou commented on #228
Fixed in master, release pending. Thanks!

[2017-09-08 11:30] #228 closed

[2017-09-08 11:31] grabbou commented on #223
I don't think this has anything to do with Haul. I am not a Typescript expert, so I think it's best to check for general solution on how to define / override global variables with it.

In the meantime, I am going to close this issue.

[2017-09-08 11:31] #223 closed

[2017-09-08 11:33] grabbou commented on #231
Haven't had issues using custom `babelrc` so far -> https://github.com/callstack-io/haul/blob/master/src/utils/getBabelConfig.js#L18

Can you post a more detailed explanation of a problem including error message and stack trace you are receiving?

[2017-09-08 11:38] grabbou opened #233 "Write CodePush guide"
It took us a while to figure it out - it's not supported by default, so let's be proactive and describe how we made it.

[2017-09-08 11:38] #216 closed

[2017-09-08 11:39] grabbou commented on #167
This looks like a really severe bug. I am looking into it now. Will update this issue soon.

[2017-09-08 11:40] blackxored commented on #231
Yes I’ve been through this file. The problem is it doesn’t seem to apply
the later stages (fixRequires, etc) if I put a babelrc in the nested
folder. It says EmissionSubscription is not a function.

--
Best Regards,

Adrian Perez
https://adrianperez.codes

On September 8, 2017 at 1:33:42 PM, Mike Grabowski (notifications@github.com)
wrote:

[2017-09-08 11:42] grabbou commented on #231
I guess the problem is that we only take `babelrc` from within the "cwd" you run `haul start` - not take nested babel configs into account.

[2017-09-08 11:50] grabbou opened #234 "Deprecate `haul-integrate.sh`"
There's CLI_PATH available: https://github.com/facebook/react-native/commit/dcecfa3189d7a71f57f908cc008e26c20a7cb2f5 for quite a few versions.

[2017-09-08 11:52] #179 closed

[2017-09-08 12:36] blackxored commented on #231
Yes. Haul lives under a nested dir, if I add a babelrc to that nested dir
is even errors staring popping out.

--
Best Regards,

Adrian Perez
https://adrianperez.codes

On September 8, 2017 at 1:42:15 PM, Mike Grabowski (notifications@github.com)
wrote:

[2017-09-08 12:45] Krizzu commented on #233
I'm on it

[2017-09-11 09:00] satya164 opened #235 "Add rnpm like plugin support to Haul"
It'd be great to be able to add additional commands to haul like in rnpm. We could have a separate plugin which provides a single command to automate publishing to codepush etc.

[2017-09-11 09:52] grabbou commented on #235
Yeah, it doesn't take a lot of lines, can backport from react-native.

[2017-09-11 11:39] jukben commented on #228
Master is also broken in this case, see
<img width="373" alt="screen shot 2017-09-11 at 13 38 50" src="https://user-images.githubusercontent.com/8135252/30272827-99584002-96f6-11e7-81d0-28f14e9c150a.png">

[2017-09-11 11:43] joearasin commented on #228
Things are broken in master pending https://github.com/facebook/react-native/issues/15791 being fixed.

[2017-09-11 19:29] casesandberg commented on #126
I have some time to dig into this. Can you point me in the right direction of where I should be working to try and get this fixed?

[2017-09-12 09:09] Krizzu commented on #186
Hey @brendanscarano
Did You manage to solve the issue?

[2017-09-13 08:00] Krizzu commented on #232
Hey @casesandberg
Unfortunately, this is not possible without ejecting.

[2017-09-14 14:08] #233 closed

[2017-09-26 13:47] zamotany commented on #231
Would recursive search for `.babelrc` in parent directories solve your problem?

[2017-09-26 14:06] blackxored commented on #231
I think it should work like (to my understanding), babel does. With recursive and traverse up search of compile settings.

[2017-09-26 15:01] zamotany commented on #231
Could describe your project structure? I'm particularly interested in where haul is installed and where `.babelrc` files resides. Also from where are you running haul - from monorepo directory or some somewhere else?

[2017-09-26 21:45] blackxored commented on #231
[code]

`.babelrc` is at the project's root.

[2017-10-06 10:54] ryanlanciaux commented on #126
I really could benefit from having this too -- would this be something that would need to be handled in assetLoader.js to work around symlinks? If so, I could potentially dig into it a bit further as well.

[2017-10-06 11:08] jurajkrivda opened #245 "Cannot GET /index.bundle"
Hello. I tried to use haul with fresh install of RN 0.49.1 but I got this error

[2017-10-06 12:18] Krizzu commented on #245
Hey @jurajkrivda, thanks for creating this issue.

RN 0.49 has introduced a breaking change in file naming - [5d4c6e5](https://github.com/facebook/react-native/commit/5d4c6e5f23e3f7f64576cccff76822d4b7635ab1)

Will looking into it soon

[2017-10-06 21:49] #232 closed

[2017-10-08 10:34] zamotany commented on #2
Done in #182

[2017-10-08 10:34] #2 closed

[2017-10-08 18:09] grabbou commented on #2
@alloy Do you have any feedback regarding initial HMR setup that you made? I heard (not sure it was you) that it's non trivial. Is there anything we can do in order to improve it?

[2017-10-09 11:09] orta commented on #2
I struggled to get it working [with Storybooks](https://github.com/artsy/emission/blob/531d00e64e80fb313a8a9e1f6f4eec99a8443f8b/Example/Emission/index.storybooks.js ), which is our main development environment and eventually ran out of my timebox'd time. Our RN app exposes many `AppRegistry.registerComponent` so I needed to handle it manually and I couldn't figure out how to make the root exposed

[2017-10-09 15:35] vlad-zhukov commented on #245
A simple workaround for 0.49:

[code]

[2017-10-09 15:48] vlad-zhukov commented on #245
There is also another error:
`Expected Content-type to be 'application/javascript' or 'text/javascript', but got 'application/octec-stream; charset=UTF-8'.`

This can be fixed by adding `headers: {'Content-Type': 'application/javascript'}` to `webpackDevMiddleware` config in `src/server/index.js`.

[2017-10-09 20:12] Krizzu opened #248 "PR merged into wrong branch"
This: #168

Basicly, we need to rebase `debugger-enhancement` branch and create another PR.

I'd be happy to provide help.

[2017-10-10 06:16] Krizzu commented on #245
Thanks, fixed in #246

[2017-10-10 06:16] #245 closed

[2017-10-10 08:57] #208 closed

[2017-10-10 18:46] Krizzu opened #249 "Update docs with `reload` feature explained"
https://github.com/callstack/haul/pull/224
Explain that `Live Reload` need to be active to make this feature work

[2017-10-11 10:26] grabbou commented on #235
Let's wait for someone to raise this use-case, for now, it's icebox.

[2017-10-11 10:27] grabbou commented on #218
Already implemented, but with a button.

[2017-10-11 10:27] #218 closed

[2017-10-11 10:27] grabbou commented on #217
@Kureev, are you still interested in doing it? I saw you writing this idea at Metro Bundler discord. I just wanted to express that I am extremely interested in helping you with this (maybe by providing some UX, however I know you are awesome at this as well)

[2017-10-11 10:34] grabbou commented on #2
CC: @zamotany who authored this module. Guys, let's sync on Slack and figure it out.

[2017-10-11 10:56] jukben commented on #249
Merged.

[2017-10-11 11:30] Kureev commented on #217
Yeah, I am. Just need to see someone really aims for building it. I don't have enough resources to handle it on my own. Will be nice to plan something serious there.

In my mind, UI should be pluggable. That said, I think we need to:
- Create a spec/contract that packagers should comply with in order to be able to use it (UI)
- Create a PoC UI and bridge create adapter for Haul so it complies to t

[2017-10-11 12:16] Krizzu commented on #249
We need to update [CLI commands docs](https://github.com/callstack/haul/blob/master/docs/CLI%20Commands.md)

[2017-10-11 14:34] #231 closed

[2017-10-11 15:31] #201 closed

[2017-10-11 18:02] #207 closed

[2017-10-12 09:57] jurajkrivda opened #251 "RN 0.49.3 crashed on Android"
Hi.

I upgraded haul to 1.0.0-beta.6 due to breaking changes on iOS. Now, iOS is working fine, but Android will stop right after launching the app. When I change the version back to beta.5 everything works well on Android. On beta.6 I got messsage: `GET /index.android.bundle 500 undefined - 4.247 ms`

[2017-10-12 10:06] Krizzu commented on #251
With RN 0.49 +, android should serve `index.bundle`.

Can provide your file structure?
Do You get any warnings on startup?

[2017-10-12 10:08] satya164 commented on #251
Maybe you need to recompile the app?

[2017-10-12 10:09] jurajkrivda commented on #251
No. Any warnings. My file structure is the same as before.
I have `index.android.js` and `webpack.haul.js` in the root of the application. Here is my webpack config:

[code]

[2017-10-12 10:12] jurajkrivda commented on #251
@satya164 I tried to recompile my app many times. Also I tried deleting node_modules and installed dependencies again.

[2017-10-12 10:20] Krizzu commented on #251
Looks like your app tries to get bundle from `index.android.bundle`, while this path is valid for > RN 0.49.x.

Can you double check RN version You have (by checking RN's version in it's `package.json`).
And By `recompile` you mean `re-installing` app on your phone/emulator, right?

[2017-10-12 10:23] jurajkrivda commented on #251
Yes, I removed the app from my device by `adb uninstall...` and then I run haul and run app again.

Here is my package.json.

[code]

[2017-10-12 10:25] jurajkrivda commented on #251
Looked at package.json in RN package:

[code]

[2017-10-12 10:29] Krizzu commented on #251
As temp. solution, You can add this to your `webpack.haul.config`
[code]

[2017-10-12 10:34] jurajkrivda commented on #251
Thanks. I can confirm it works!

[2017-10-16 09:19] Kureev commented on #217
Any updates/thoughts so far?

[2017-10-18 19:55] Traviskn commented on #140
I get this error when using npm instead of yarn. (npm version 4.2.0, node version 7.9.0)  Installing core-js as a dev dependency fixes the issue.

While yarn is great for many projects, I don't know that using yarn should be a requirement for using haul.  Would it make sense for core-js to be added as a peer dependency of this project to support npm users?

[2017-10-19 17:19] Traviskn opened #255 "Configuring Jest to work with Haul"
I wanted to share how I was able to get jest tests running in a compatible way with Haul. I ran into some issues at first, if we think it's worth while I'd be glad to contribute to documentation.

The first issue I ran into was this:

[code]
Jest does not use Haul or Webpack to actually transpile your code, so it runs into haste module issues.  You can resolve this by configuring Jest to ignore Ha

[2017-10-19 18:21] #248 closed

[2017-10-19 18:55] thymikee commented on #255
You should be good with just:
[code]
Can you confirm? We're going to move these test fixtures anyway, so we can use them as an example to test end to end.

[2017-10-19 19:09] grabbou commented on #217
Thanks for the write-up. In general, I would love to see this sort of functionality in the wild, compatible with Haul.

Unfortunately, we (Haul team at Callstack) are busy as well in the upcoming quarter and it's unlikely we will pick this up ourselves. However, if there's any interest from outside collaborators to help to land this, I would be more than happy.

[2017-10-19 23:01] Kureev commented on #217
@grabbou I can pick it up concept-wise, but for the UI solution I would love to pair up with someone who has UI design skills. Do you know someone who may be interested?

[2017-10-21 09:15] grabbou commented on #217
Unfortunately, I don't. Let's tag this issue as `help wanted` to see if there's any interest in the future.

[2017-10-23 07:15] timwangdev commented on #255
@thymikee This config works for me.

[2017-10-23 07:18] thymikee commented on #255
Actually, we shouldn't publish tests and fixtures, so I'd treat it as a bug currently.

[2017-10-23 08:53] #255 closed

[2017-10-23 10:19] MasahiroMorita commented on #251
With RN0.49+, haul should serve the same `index.bundle` but `index.bundle?platform=android` for Android, and `index.bundle?platform=ios` for iOS. However, the current implementation of haul seems to ignore `platform=` parameter.

do you have any plans to support this feature?

In my case, I modified `ios/appname/AppDelegate.m`:
[code]
`@"index"` to `@"index.ios"`,  and added this to `webpack.haul.

[2017-10-24 23:29] jaredru opened #261 "Babel is compiling all node_modules"
### Current Behavior
With #242, the babel/happypack-loader `exclude` attribute was removed. Previously, the attribute was set as `exclude: /node_modules\/(?!react|@expo|pretty-format|haul)/`.

I imagine this might cause a few issues, but the one we're hitting is that [art](https://github.com/sebmarkbage/art) (a dependency of `react-native`) is getting compiled by Babel and breaking, because it is

[2017-10-25 00:52] satya164 commented on #261
cc @zamotany

[2017-10-25 06:25] Krizzu commented on #261
Maybe adding `exclude` [in `babel-loader` rule would fix this issue?](https://github.com/callstack/haul/blob/master/src/utils/makeReactNativeConfig.js#L92)

[2017-10-25 06:27] Krizzu commented on #251
Hey @MasahiroMorita, I'll try to land PR this week. Thanks for bringing this up.

[2017-10-25 07:14] MasahiroMorita commented on #251
Actually, I gave up migrating RN0.49, used RN 0.48 instead at this moment...
In addition to my last comment, I faced many incompatibility problems. I couldn't resolve them. You should test RN0.49 problems very carefully.

[2017-10-25 07:35] xareelee opened #262 "Failed to compile without any reason"
### Current Behavior

I just install haul and initialize the project:

[code]

After running `haul bundle` command, the process was terminated without any error message.

[code]

I have no clue to fix this issue.

### Expected Behavior

Succeed or show the reason for the error.

### Haul Configuration (webpack.haul.js)

[code]

### Your Environment

`

| software         | version
| --------------

[2017-10-25 08:13] Krizzu commented on #251
Could You elaborate bit more about those incompatibility problems? That would help us out tracking it down.
Thanks

[2017-10-25 08:38] Krizzu commented on #262
@xareelee Hey, thanks for filling this issue. For the first look, it seems like you forgot to extend your config with Haul's default config.

[Please checkout these docs about configuring Haul.](https://github.com/callstack/haul/blob/master/docs/Configuration.md)

[2017-10-25 08:43] MasahiroMorita commented on #251
Yes, the largest one is caused on a real device.
On emulators, iOS and Android app work fine, but do not on real devices.
It looks that the app can't find bundled JS files from their assets.

And the other one is the integration of code push.
I couldn't find how to integrate haul on RN0.49 with code-push.

I hope haul should be merged a part of official react-native.
Your work is great. more peopl

[2017-10-25 08:43] thymikee commented on #262
We should pass the actual error stack alongside the `Failed to compile` message.

[2017-10-25 09:06] Krizzu commented on #251
Great, thanks for hints! We'll look into this issue.

About CP - [have You checked docs about integrating haul with codepush](https://github.com/callstack/haul/blob/master/docs/Code%20Push.md) ?

[2017-10-25 10:18] grabbou commented on #261
Thanks for reporting, that is indeed our mistake - unintended DEV change has slipped through review process. I am reverting that line back, releasing new version and we will work on a better way later.

[2017-10-25 10:18] #261 closed

[2017-10-25 10:26] zamotany opened #264 "Make README great again"

[2017-10-25 10:27] thymikee commented on #264
You fascist! XD

[2017-10-25 10:27] zamotany opened #265 "Investigate webpack-config for public API"
https://github.com/Fitbit/webpack-config

[2017-10-25 10:44] grabbou commented on #265
I'll give it a go on my branch

[2017-10-26 17:56] smoll opened #266 "Cannot override Uglify config"
### Current Behavior

Following [the example](https://github.com/callstack/haul/blob/master/docs/Configuration.md), when I add `new webpack.optimize.UglifyJsPlugin()` to the plugins list, I get the following error:

[code]

Looking at https://stackoverflow.com/questions/43884201/uglify-cannot-read-property-reset-of-undefined#44639583 I thought the issue might be related to an unsupported version o

[2017-10-27 10:49] satya164 commented on #266
That won't override the plugin, it'll add another instance if the plugin. You have to remove the old instance first if you want to add a different instance.

[2017-10-27 12:57] smoll commented on #266
@satya164 if I don't add defaults to the `plugins` array (`defaults.resolve.plugins` are just empty objects, weirdly enough), I still get the same error.

Hmm, perhaps I'm misunderstanding how the `webpack.haul.js` file is getting processed; I'll try to look at the code more...

[2017-10-27 18:34] Traviskn commented on #255
@thymikee Oh yes that is a much simpler ignore pattern that works great!  Glad to hear the text fixtures will be un-published

[2017-10-30 02:28] sdyxch commented on #174
when will you support the feature for webpack-dll😝

[2017-10-31 10:23] jukben commented on #262
It sounds pretty straightforward I could make a PR for it if no one is interested in it. 👍

[2017-10-31 11:44] #264 closed

[2017-10-31 23:28] dstollie opened #268 "Couldn't load bundle with default configuration running on react 0.49.3"
Just ran the default steps to replace the default react native packager with haul. Everything went smoothly but after running the app in the simulator I get this error.

Running haul as: `yarn run haul start -- --platform ios`

####  Error in the simulator
![screen shot 2017-11-01 at 00 26 05](https://user-images.githubusercontent.com/7110155/32253440-47143284-be9b-11e7-8b97-90a156c672c3.jpg)

###

[2017-11-01 17:00] Traviskn commented on #156
This is actually a bit more complex than it seems because the default haul config uses happypack (or the thread-loader in the most recent version) to transform js files in parallel with babel.  We'd need to remove and replace the existing js loader entirely.  If we don't want to lose out on the speed gain of happypack/thread-loader we'd also need to recreate that config.  It would be really helpfu

[2017-11-01 17:12] Traviskn commented on #156
Actually now that I'm looking at beta 7, it looks like there is no more exclude config?  Is this no longer ignoring node_modules?

[2017-11-02 11:31] Krizzu commented on #268
Hey @dstollie, thanks for your input.
Can you tell me, what's the name of your entry file?

[2017-11-02 12:08] #262 closed

[2017-11-02 17:38] junkycoder opened #271 "Setting ref in function (pure) component"
Hi guys,

I found Haul as good alternative to RN packager, but I run into:

![simulator screen shot - iphone 6 - 2017-11-02 at 18 32 28](https://user-images.githubusercontent.com/1243903/32340909-3881c742-bffc-11e7-850a-ee83356cc658.png)

and here is the component:

<img width="744" alt="snimek obrazovky 2017-11-02 v 18 28 16" src="https://user-images.githubusercontent.com/1243903/32340704-a9e0cbb

[2017-11-02 17:58] Krizzu commented on #271
Hey @junkycoder
This is not `Haul` related, rather `React` related.

[See docs about ref here](https://reactjs.org/docs/refs-and-the-dom#refs-and-functional-components)

[2017-11-02 18:13] junkycoder commented on #271
@Krizzu Ohh, thanks. I was just curious why this works before i switched to Haul. Now I got it. Thx :)

[2017-11-02 18:13] #271 closed

[2017-11-02 19:54] dstollie commented on #268
If you mean with my the `index.ios.js` it is located in the root folder, the same place as where `webpack.haul.js` file and the `ios` folder are located

[2017-11-02 20:46] yenbekbay commented on #215
In my case this was caused by the [socket.io-client](https://github.com/socketio/socket.io-client) dependency bundled with [Reactotron](https://github.com/infinitered/reactotron/). Removing Reactotron fixed the issue.

[2017-11-03 09:15] Krizzu commented on #268
Can you change the name of that file to `index.js` and tell me if it finds the bundle?

[2017-11-03 12:10] alper opened #272 "Recipe breaks on unexpected token"
I'm doing the recipe as it is here to get my react-native ts project to work.
https://github.com/callstack/haul/blob/master/docs/Recipes.md

It then gives me:

[code]

Is it dying on the spread operator?

| software         | version
| ---------------- | -------
| Haul             |  haul@1.0.0-beta.7
| react-native     |  react-native@0.49.5
| node             | v8.9.0
| npm or yarn      | yarn 1

[2017-11-06 12:07] thymikee opened #273 "Create manual testing fixtures"
There are 2 fixtures already set up as a part of integration tests.
We could move these up to `/fixtures`, add a couple of more complex ones, and use them as a manual testing examples.

This would ease the testing both new versions of Haul _and_ React Native.

[2017-11-07 13:50] Titozzz commented on #261
Hello, can you release the beta 8 to npm ?
Thanks

[2017-11-07 17:07] Titozzz commented on #262
We need this on warnings too 😢

[2017-11-07 18:53] jukben commented on #262
@Titozzz Could you please share some example? Configuration? Whatever helps to reproduce it?

From what I know, warnings should be already implemented:
https://github.com/callstack/haul/blob/master/src/messages/bundleBuilt.js#L24

[2017-11-07 18:55] jukben opened #274 "If project was build with warnings we should list them"

[2017-11-07 18:57] jukben commented on #262
@Titozzz Good catch, we should list *what* warnings exactly happened. I've created issue for it https://github.com/callstack/haul/issues/274

[2017-11-07 19:09] keplersj commented on #272
I experienced the same thing and just rewrote the section using `Object.assign()`:

[code]

[2017-11-07 19:25] Traviskn commented on #215
I'm getting this error (`Cannot read property 'BlobBuilder' of undefined`) when trying to launch the remote debugger while using haul and reactotron in conjunction.  Granted, reactotron still works fine so in most cases I don't _need_ the remote debugger, but it's still quite strange

[2017-11-07 20:10] skellock commented on #215
I think it has something to do with [the way i load `socket.io`](https://github.com/infinitered/reactotron/blob/cf39170200880550e9038ec79b29fb960cb8294c/packages/reactotron-react-native/src/index.js#L9).

Loading it with `var io = require('socket.io-client')` might be a fix.

I guess the execution environment of javascript is different while chrome debugging, so I think `BlobBuilder` needs to be h

[2017-11-07 23:46] GitHubTracey commented on #268
Hi @Krizzu,

I experienced the same error:
software | version
Haul | v1.0.0-beta.7
react-native | 0.50.0
node | 8.2.1
npm or yarn | same for both npm and yarn

scripts pertinent to what we are doing... :
    "dev:ios": "concurrently \"npm run haul -- --platform ios\" \"react-native run-ios\"",
    "bundle:ios": "node node_modules/.bin/haul bundle --entry-file='index.ios.js' --bundle-output='./ios/

[2017-11-08 00:34] keplersj commented on #268
Just encountered this. Same issue as #251

[2017-11-08 06:59] keplersj commented on #234
I was able successfully remove the Haul Integrate build phase and make use of this environment variable by changing the `Bundle React Native code and images` Build Phase script to:

[code]

[2017-11-08 08:57] Titozzz commented on #274
following on #262 , to create warnings, i'm just using eslint with "emitWarning: true", so I can see any of my eslint warnings !

[2017-11-08 09:32] Titozzz opened #275 "Built successfully in NaNs! When building All (iOS & Android)"
### Current Behavior
Built successfully in NaNs!

### Expected Behavior
Built successfully in 5.023s!

### Haul Configuration (webpack.haul.js)
Build for iOS AND Android at the same time

When building for all, build time = NaN

[2017-11-08 12:17] Krizzu commented on #275
Fixed in #277

[2017-11-08 12:17] #275 closed

[2017-11-08 12:18] Krizzu commented on #268
@keplersj @GitHubTracey @dstollie
I hope this issue is fixed with #276

[2017-11-08 12:18] #268 closed

[2017-11-08 12:19] Krizzu commented on #251
Hopefully fixed in #276

[2017-11-08 12:48] Krizzu commented on #272
@GeeWee Any thoughts about it?

[2017-11-08 14:02] jukben opened #278 "Lottie + Haul dosn't work while remote debug is on"
The problem is related to [Lottie](https://github.com/airbnb/lottie-ios)

### Current Behavior
When you start to debug remotely it fails with an error `Cannot create property 'runCommand' on string 'LottieAnimationView'`

### Expected Behavior
Debug remotely should be possible

### Haul Configuration (webpack.haul.js)
[code]
| software         | version
| ---------------- | -------
| Haul

[2017-11-09 08:25] #274 closed

[2017-11-09 10:43] gsteyn commented on #251
@Krizzu, I vote for reopening this issue, as #276 didn't seem to fix it.
I tried using `1.0.0-beta.9`, which has the commit to fix this issue, with RN `0.49.5` and my app still crashes on Android. The packager still tries to serve `index.android.bundle` instead of `index.bundle`.

[2017-11-09 10:56] Krizzu commented on #251
hey @gsteyn
#276 has added an middleware that will change request for `index.bundle` to `index.android.bundle`. This should not affect anything with devices.

I'll try to repro it on fresh app

[2017-11-09 11:43] GeeWee commented on #272
That's strange - looking at the [node compat table](http://node.green/#ESNEXT-candidate--stage-3--object-rest-spread-properties) the node versions should easily be able to spread the module object. I'm a little puzzled - haul just uses the global node version right?

[2017-11-09 16:10] Traviskn commented on #156
Newer releases are ignoring node modules now - This is a fairly hacky way to override the `exclude` config by reaching into the default rules and modifying them:

[code]

[2017-11-10 10:01] andrelind opened #281 "HMR not working on Android"
### Current Behavior
When running a basic app (from react-native init) with import 'haul/hot' on the root component, I only get an error on Android.

Start haul with:
yarn run haul start --platform android

In app:
"[Haul HMR] Client could not connect to the server http://localhost:8081/haul-hmr" [Object object]

### Expected Behavior
Well, hot module reloading should work without errors

### Haul

[2017-11-10 10:05] andrelind opened #282 "HMR not working when running both Android & iOS at the same time"
### Current Behavior
Enabling HMR on iOS works as intended when running
yarn run haul start --platform ios

But when running
yarn run haul start --platform all
both Android and iOS builds as intended but when updating a file, the hot-update.json is not found and the app is fully refrehed every time

### Haul Configuration (webpack.haul.js)
module.exports = ({ platform }) => ({
  entry: `./index.js

[2017-11-13 09:27] bakso commented on #220
Why?
I think is reasonable to parse the ES6 code in node_modules, why `babel-presets-react-native`didn't works.

[2017-11-13 09:52] Krizzu commented on #282
cc: @zamotany

[2017-11-14 02:21] bakso commented on #174
+1

[2017-11-15 11:55] #281 closed

[2017-11-15 11:56] grabbou commented on #251
Unfortunately, we couldn't reproduce it. Is it possible you provide us with a `zip` file to reproduce the issue? Does anyone else is still having this problem?

[2017-11-15 11:57] grabbou commented on #235
CC: @zamotany since you mentioned some plugins proposal.

[2017-11-15 12:02] #115 closed

[2017-11-15 12:04] #87 closed

[2017-11-15 12:04] grabbou commented on #87
Now that we have ENV variables, we will be removing this legacy workaround. See #234 for details.

[2017-11-15 12:32] thymikee commented on #266
I understand the pain of filtering out the original plugin and replacing with your own config, but it's definitely possible with Haul and I think we should close this as per @satya164 comment.

[2017-11-15 12:32] #266 closed

[2017-11-15 14:58] bakso opened #284 "polyfill is not complete"
As the screenshot below:
![image](https://user-images.githubusercontent.com/659130/32842076-c33208a4-c9e1-11e7-88d1-b28249c45c51.png)

There is not Symbol and many other polyfills,  which exist in the core-js .
I wander what will the strategy of haul be? Because we are still use 0.41.2, the Android side's jscore engine is really old and need many polyfills.
And now what is the best means to handle

[2017-11-15 15:01] satya164 commented on #284
`core-js` is not included as it is heavy, can affect performance and decrease startup time. You can include your own polyfills as you need them.

[2017-11-15 15:01] #284 closed

[2017-11-16 08:51] Zephir77167 opened #286 "Build failure with new @babel/ dependencies"
### Current Behavior
Build failure when using new babel packages (`@babel/*`)

[code]

I have babel-core.0.0-bridge.0 installed (which fixed [this problem with babel-jest](https://github.com/facebook/jest/pull/4557)).

Maybe `babel-register` needs a bridge version as well. Not sure if this is the issue.

### Expected Behavior

### Haul Configuration (webpack.haul.js)
[code]

webpack.resolve.js:

[

[2017-11-16 08:59] Zephir77167 commented on #286
Update: https://github.com/babel/babel/blob/master/packages/babel-register/package.json version `7.0.0-beta.32` of `babel-register` seems to rely on `@babel/core`. Bumping the version would solve my problem, but I don't know what other implications it would have.

[2017-11-16 09:07] satya164 commented on #286
React Native's Babel preset still uses Babel 6, so I don't think we can update babel plugins.

[2017-11-16 09:27] jukben commented on #286
I agree with @satya164. We could discuss it again when it will be out of beta. Could you please fallback to `babel-xxx` (6.x) version?

[2017-11-16 11:16] Krizzu opened #287 "Use workers to generate bundle"
Haul - Use worker to generate webpack bundle.

## How Haul works now
Once you start Haul, you're asked to specify if you're going to handle one or both platforms. In latter case, we're using Webpack's multi compiler mode.  To serve a bundle, we have to wait for both (or maybe more) compilations to finish. This equals to increased waiting time for bundle and possible block for future platform expan

[2017-11-16 11:21] thymikee commented on #287
I'll just leave this package here, maybe useful, maybe not: [jest-worker](https://github.com/facebook/jest/tree/master/packages/jest-worker)

[2017-11-16 11:54] zamotany commented on #287
Will this allow to toggling compilations? Like let's say when we will have some interactive CLI, will this allow us to toggle compilation when haul is already running?

[2017-11-16 21:01] Zephir77167 commented on #286
I will do this for the moment and wait for everyone to upgrade to Babel 7. Thanks for the quick replies!

[2017-11-16 21:01] #286 closed

[2017-11-17 06:24] Krizzu commented on #287
There will be no compilations toggling, but compilation on demand - say, android bundle is requested. Middleware checks if it has forked webpack for android before. If no, spawn it and send bundle. Otherwise send a bundle.

[2017-11-24 12:52] thymikee opened #300 "HMR doesn't work with newest RN"
Automatic way doesn't work (errors).
Manual way – I couldn't get it to work :(.

You can use the fixture I'm preparing in this PR: https://github.com/callstack/haul/pull/298

[2017-11-26 20:24] jurajkrivda opened #301 "How ESLint resolve webpack aliases"
Hi,
my webpack config

[code]

When I import styles eg `import { AppColors } from 'styles';` it works but ESLint shows me this: `[eslint] 'styles' should be listed in the project's dependencies. Run 'npm i -S styles' to add it (import/no-extraneous-dependencies)`. How could I resolve aliases?

My eslintrc

[code]

[2017-11-26 20:44] Krizzu commented on #301
Hey @jurajkrivda
This problem comes not from Haul/webpack, but rather your eslint config. Please check "import/no-unresolved" rule, either disable it or add `ignore` property to include your aliases

[2017-11-26 20:44] #301 closed

[2017-11-27 12:03] jukben opened #302 "Create Haul Webpack Resolver for eslint-plugin-import"
Currently, it's impossible to use `eslint-plugin-import` together with Haul. We should fix this by introducing our very [own resolver](https://github.com/benmosher/eslint-plugin-import#resolvers).

If no one is super interested in I will do it.

[2017-11-27 12:06] Krizzu commented on #301
Related: #302

[2017-11-27 12:06] jukben commented on #301
Hi @jurajkrivda

Currently, it's not possible to use `eslint-plugin-import` together with Haul. Anyway, I've created issue for it so I hope that we fix this behavior in near future.
https://github.com/callstack/haul/issues/302

[2017-11-27 12:11] thymikee commented on #302
@jukben Grab one I've done some time ago for Jest: https://github.com/facebook/jest/blob/master/eslint_import_resolver.js

[2017-11-27 12:11] thymikee commented on #302
Would be even nicer to make it npm module and use it in both projects 👍

[2017-11-27 12:17] Krizzu commented on #302
Shall we keep it in Haul's repo or create separate one?

[2017-11-27 12:20] thymikee commented on #302
I'm fine with copying this resolver and use here, but if we want to make it a package, then a separate repo

[2017-11-27 14:48] jurajkrivda opened #303 "HMR does not work with React Native 0.49"
I use React Native Navigation. When I do `import 'haul/hot/patch';` in my index.js I am getting
`undefined is not an object (evaluating slot[i].key)` etc.

[2017-11-27 15:28] thymikee commented on #300
Turned out I didn't disable LiveReload while enabling Hot Reload (this is different from default workflow with Metro), that's why I always got full reload.

[2017-11-27 15:28] #300 closed

[2017-11-27 15:32] thymikee commented on #303
Have you seen the [Manual Setup](https://github.com/callstack/haul/blob/master/docs/hmr/Setup.md#manual-setup) guide? Also, make sure you turn off Live Reload, when using HMR

[2017-11-27 15:33] #273 closed

[2017-11-27 15:53] Krizzu commented on #303
This is hopefuly fixed in #292

[2017-11-27 18:01] jurajkrivda commented on #303
@Krizzu still error with #master.
@thymikee yes of course I followed this tutorial https://github.com/callstack/haul/blob/master/docs/hmr/guides/react-native-navigation.md

[2017-11-28 06:46] Krizzu commented on #303
Hey @jurajkrivda
Could You please post full error (maybe a screenshot)? Thanks!

[2017-11-28 09:22] itaym2 commented on #138
Hi, I was looking for issues which I can work on and came by this issue, though I couldn't reproduce it on latest.
I then looked on the commits history and saw this PR: https://github.com/callstack/haul/pull/183
Did the above PR solved this issue?

[2017-11-28 09:24] thymikee commented on #138
@itaym2 thanks for triaging this, closing then :)

[2017-11-28 09:24] #138 closed

[2017-11-28 09:27] thymikee commented on #173
Closing in favor of https://github.com/callstack/haul/issues/70

[2017-11-28 09:27] #173 closed

[2017-11-28 09:38] zamotany commented on #303
@Krizzu
If the error is `undefined is not an object (evaluating slot[i].key)` and haul is from master/latest, it means that there's a module @jurajkrivda project that is breaking proxied components map. We can provide some guidance no how to find the breaking module, but it would be better if we had access to source.

@jurajkrivda
Can you post what dependencies are you using (from `package.json`)?

[2017-11-28 09:49] Krizzu commented on #303
@zamotany That's why I want to see a ss from `red-box`, so we can track it down. But yeah, source code would be better to debug, although I'm not convinced that @jurajkrivda's project is OS

[2017-11-28 10:11] jurajkrivda commented on #303
@zamotany

[code]

[2017-11-28 10:17] jurajkrivda commented on #303
@Krizzu I use navigation from WIX. I started with this in my index.js:

[code]

![screenshot_20171128-111521](https://user-images.githubusercontent.com/1255836/33314346-a5920cc6-d42d-11e7-8051-cfb65ab059d6.png)

[2017-11-28 10:45] Krizzu commented on #303
@jurajkrivda Thanks for your input!
I think we've localized the issue. We'll try to push fix today!

[2017-11-28 14:01] bakso opened #304 "Can HMR auto open like origin react-native packager"
React-native 's origin packager doesn't need config to enabled HMR like the doc below:
https://github.com/callstack/haul/blob/master/docs/hmr/Setup.md#automatic-setup

And also origin packager has not requirement of special attention(like root component must export default ...).

What comes the diffrences?

[2017-11-28 14:52] zamotany commented on #304
Different solutions (custom metro bundler implementation vs webpack HMR API + react-hot-loader).
https://webpack.js.org/concepts/hot-module-replacement/
https://github.com/gaearon/react-hot-loader
https://blog.callstack.io/react-native-webpack-hmr-%EF%B8%8F-a4c2bf76fba

[2017-11-28 14:52] #304 closed

[2017-11-28 14:53] Ble3k opened #305 "RN 0.50.4 Android crashes simply after reloading the app"
Hi! First of all want to say thank you for this good project, it makes react-native developer's life much easier. If it will be necessary to provide more info, tell exactly what do you need, and I will try to provide it.

### Current Behavior
1) Starting emulator NEXUS_5X_API_26_x86
2) Starting haul for android (haul-start --platform android)
3) Starting react-native (react-native run-android)

Cu

[2017-11-28 16:08] Krizzu commented on #305
Hey @Ble3k!
Do you get any error when app crashes? If not, have you checked android logs? (using either `react-native log-android` or `adb logcat`)

[2017-11-28 16:11] Ble3k commented on #305
Thank you for your replay, I will provide some logs soon.

[2017-11-28 19:18] Krizzu commented on #305
@Ble3k Hey!
I see what's happening - something is not right when requesting a bundle (see 304 on the bottom console).
To confirm this, can you send a GET request to `index.android.bundle?platform=android`, using tool like postman? Can You tell me what you get as response?
Also, can you tell me a bit about how you start your `Android emulator`?

Thanks!

[2017-11-29 07:47] Ble3k commented on #305
@Krizzu, I have made some logs, so here it is:

1) From react-native log-android
[code]

So there is 200 OK when app is starting, then I reload, get 304 undefined and app is crashing.

2) GET request to ```index.android.bundle?platform=android``` returns me:
  - STATUS 200 OK
  - Thousands strings of bundled code

Do you need all this code ?
http://joxi.ru/brRKMBOfQRGaDm

3) To run my emulator i u

[2017-11-29 07:55] Ble3k commented on #186
I had the same problem and solved it just by adding
```project.ext.react = [ cliPath: "node_modules/haul/bin/cli.js" ]```
as it said in docs.

[2017-11-29 08:15] Krizzu commented on #305
@Ble3k Thanks for exhaustive report!

For me, it has something to do with Android emu. You can clearly get bundle using postman (You get code 200), but on Android, you never reach Haul. (I guess)

Is this a fresh project? Any steps to reproduce it? I just tried with the latest RN and Haul, everything went smoothly.
Have you changed any settings in Haul/Emulator?

[2017-11-29 08:36] Ble3k commented on #305
1) Yes, this is fresh project, but this command for emulator was written three/four months ago, in last project. Then I have just created new project, but didn't reinstall any dependencies for android to run with react-native, so emulator's settings are the same as in last project. The last project emulator settings was set up by reading this http://facebook.github.io/react-native/releases/0.42/do

[2017-11-29 08:50] Krizzu commented on #305
Normally I do it the same way as you (have shell script for easy picking different emu versions) or by launching it from Android studio.

Can you run `adb reverse tcp:8081 tcp:8081` successfully? Have you got the possibility to check it on a real device? Or different emu? (Create another one from Android Studio AVD, with maybe different API?)
What about iOS? Does the issue still persist?

[2017-11-29 08:58] Ble3k commented on #305
Unfortunately I can't run it on a real device. But I will try on different emu.

On iOS all works perfectly.
Thank you for your help. I will write something about running on different device soon.

[2017-11-29 10:45] Ble3k commented on #305
@Krizzu, I have made some more useful logs from android studio.
Also I should say that I run ```adb reverse tcp:8081 tcp:8081``` successfully.
1) I opened Nexus emu as usual, press cmd + d to open dev menu
2) Clear all log data
3) Press reload
4) Got logs (maybe 'FATAL' section will tell us something)
[code]
------------------------------------------------------------------------------------------

[2017-11-29 14:23] Krizzu commented on #305
@Ble3k
I had the same issue with other emulator (dunno which model), with networking. Could not get it online or connect to my local machine. Haven't fixed it, just switched to different one.

And I assume that different emulator solved it for you?

[2017-11-29 15:22] Ble3k commented on #305
Yes, new emulator solved my issue.

[2017-11-29 15:22] #305 closed

[2017-11-30 16:07] bbodi opened #307 "building hangs on while processing too large files"
### Current Behavior
haul "Building" process hangs on if I want to bundle too large (37k lines) javascript files. I wanted to try Kotlin with react-native and include its runtime library as a dependency, but haul has problem bundling it.

### Expected Behavior
The processing should end successfully in reasonable time.

### Haul Configuration (webpack.haul.js)
[code]

### Your Environment
Environme

[2017-12-01 00:00] iRoachie opened #308 "Error on new project"
### Current Behavior

On creating a new project with haul the app shows error screen on launch

#### Steps to reproduce
* Create new react-native project (react-native init)
* Add haul `yarn add --dev haul`
* Start haul server `yarn run haul`
* Run the app in the iOS simulator `react-native run-ios`

### Expected Behavior

The app should run

### Haul Configuration (webpack.haul.js)

[code]

### Y

[2017-12-01 05:11] Traviskn commented on #215
@skellock I'll be looking forward to v2 then!  We actually just today updated to v1.13.2 and remote debugging seems to be working again 🎉

[2017-12-01 06:27] Krizzu commented on #308
Hey @iRoachie
Could You please tell me what error you get?
Have you run `Haul init` before `Haul start`?

[2017-12-01 10:22] iRoachie commented on #308
Sure. Yea I did.

![simulator screen shot - iphone 6 - 2017-12-01 at 06 21 55](https://user-images.githubusercontent.com/5962998/33478525-f431ca18-d65f-11e7-8a2d-d0a09ee92970.png)

[2017-12-02 11:40] jurajkrivda commented on #308
I can confirm this error in RN 0.49

[2017-12-02 13:09] jukben commented on #308
This is a bug related to Webpack. I'm still searching for a satisfactory solution. As a walk around you have to downgrade to Webpack 3.8.x.

This is related PR into Webpack itself: https://github.com/webpack/webpack/pull/5862

[2017-12-02 13:12] jukben commented on #308
Another walk around for this is just open dev tools to enforce "webworker" environment. 💪

[2017-12-04 14:30] #308 closed

[2017-12-04 14:31] thymikee commented on #308
I'll close it, but we need a proper fix, and release soon.

[2017-12-04 14:32] thymikee commented on #302
@jukben can you pick this up?

[2017-12-04 14:34] jukben commented on #302
@thymikee I've been a little bit busy this week but I'll look into this ASAP.

[2017-12-04 14:37] thymikee commented on #272
@satya164 had the idea to not use external babelrc files, so things like that should not happen. @zamotany will work on adjusting our `babel-register` flow

[2017-12-04 14:38] #251 closed

[2017-12-04 14:38] thymikee commented on #251
Closing due to inactivity. Happy to reopen if you have more info on that :)

[2017-12-04 14:41] thymikee commented on #217
cc @zamotany who's been working on something similar (CLI) recently.

[2017-12-04 14:44] #186 closed

[2017-12-04 14:44] #212 closed

[2017-12-04 14:49] thymikee commented on #174
We'd appreciate some help on that, so if someone is interesting in investigating whether this solution is actually faster (we'd need to concat the dll bundle with regular one somehow), come on in!

[2017-12-04 14:50] thymikee commented on #167
@jukben can you have a look at triage this issue?

[2017-12-04 14:51] #164 closed

[2017-12-04 14:52] thymikee commented on #155
This is something we want to tackle right after the #287 PR

[2017-12-04 14:53] #120 closed

[2017-12-04 14:55] #94 closed

[2017-12-04 15:39] jukben commented on #167
Last time I've inspected this everything working fine. [This is the part of RN responsible for it]( https://github.com/facebook/react-native/blob/master/scripts/react-native-xcode.sh#L116). It should run `haul bundle` which produce production bundle.

You can also check the what's happening under the hood in logs.
![image 1](https://user-images.githubusercontent.com/8135252/33560971-8dcce92e-d911-

[2017-12-04 15:39] #167 closed

[2017-12-04 15:50] thymikee commented on #302
Cool, no rush!

[2017-12-04 16:03] satya164 commented on #302
we don't even need a separate package. could do `haul/eslint-import-resolver` or similar

[2017-12-04 22:24] stief510 opened #311 "Hot reload refreshes entire app"
### Current Behavior
I implemented HMR but when I make any change to a component the entire app refreshes. My app is setup by `index.tsx` importing the app from `app.tsx`. Therefore, I had to do the manual set up.

[code]

Am I missing something? Thanks

### Expected Behavior
It should just replace that one file and not the entire app refresh

### Haul Configuration (webpack.haul.js)
[code]

### Y

[2017-12-04 22:27] thymikee commented on #311
Make sure you disable live reloading while using hot reload with Haul.

[2017-12-04 22:29] stief510 commented on #311
Yeah, it is disabled in the simulator

[2017-12-05 04:43] satya164 commented on #311
HMR works via `react-hot-loader` which is a Babel plugin. Not sure if it will work with Typescript.

[2017-12-05 15:42] stief510 commented on #311
According to their documentation it does work with typescript

[2017-12-05 16:50] zamotany commented on #311
But you still need to have `react-hot-loader/babel` specified in `plugins` in `babel-loader`'s options or in `.babelrc`.

[2017-12-05 16:52] stief510 commented on #311
I think I got it working actually by adding `loader: 'react-hot-loader/webpack'` to my webpack file

[2017-12-11 11:21] zamotany commented on #303
@jurajkrivda Can you install Haul from this commit `https://github.com/callstack/haul#f8d087e49401874ab8ceed2bf559b649f9fbc0ed`? We cannot reproduce your error, so we need you to check if the fix is working fine.

[2017-12-12 02:24] timwangdev commented on #70
Is there a way to lazy load modules by using webpack dynamic `import()` but not result splitted bundles?

[2017-12-12 09:29] sdyxch commented on #174
For iOS, use the method loadSourceForBridge in RCTBridgeDelegate, I tried load dll-bundle from local first, then load regular-bundle from network, and concat the dll-one with the regular-one, it works

[2017-12-12 12:50] poojajangid25 opened #312 "Issue with SASS Loader."
**Current Behaviour**
Failed to compile the app, Showing error -

**Expected Behaviour**
I need to load the style.scss file so as to apply the styling in myIndex.js file.

For detail, I started by adding Haul as a dependency to my initial React Native project and configured project to use haul.
Initially it build the app.
Then created a separate style.scss file for the respective Index.js and conf

[2017-12-12 13:54] satya164 commented on #312
There are 3 issues:

1. React Native is not web. You cannot use CSS/Sass with React Native. You need to use the [`StyleSheet` API](https://facebook.github.io/react-native/docs/stylesheet.html) for styling.
2. You're not merging the default values. You need to merge the default values when modifying the config, see https://github.com/callstack/haul/blob/master/docs/Configuration.md
3. Your webpack

[2017-12-12 13:54] #312 closed

[2017-12-13 14:07] itaym2 commented on #126
Hi, I have a project using haul and symlinks for some packages, and I also encountered some weird issues when working with images.
After investigating the bundle created by haul I discovered that it used 2 different instances of `AssetRegistry` to register the images (one required from the app's node_module dir, and one required from the linked package node_modules dir).

I configured webpack to a

[2017-12-14 06:09] SEAPUNK commented on #308
you can just pin to an older version of webpack for now

[2017-12-15 02:11] FengHaiSheng opened #313 "In the '.tsx' file, alias is invalid"
### Current Behavior
I parse ‘@’ to src directory;
In the '.tsx' file，cannot find module '@/redux/configStore';
But in '.js' file, It is OK!

### Expected Behavior
In the '.tsx' file , normal use alias

### Haul Configuration (webpack.haul.js)
[code]

### Your Environment
MAC OS

| software         | version
| ---------------- | -------
| Haul             |  1.0.0-beta.11
| react-native     |  0.5

[2017-12-15 02:29] #313 closed

[2017-12-15 09:33] sky-franciscogoncalves opened #314 "Haul not working with Shoutem UI"
### Current Behavior

I have been using Haul in a RN application without any problems. However, since I added [Shoutem UI](https://github.com/shoutem/ui) to my app, I'm getting several errors like the ones below:

[code]

### Expected Behavior
I expected to be able to use Haul with Shoutem as I'm with every other module I've added to the app. I understand this might be related with a loader that I

[2017-12-15 09:40] Krizzu commented on #314
Hey @sky-franciscogoncalves

Looks like shoutem is not transpiled. In your configuration, can you try to spread `module.rules` first? Your rule might be overwritten

[2017-12-15 11:14] sky-franciscogoncalves commented on #314
Hey @Krizzu,

Thanks for replying so quickly.

I have updated my configuration as you said.

[code]

Also, my .babelrc file looks this:
[code]
When I run the app I get the following error:
[code]

[2017-12-15 11:58] Krizzu commented on #314
cc @zamotany

[2017-12-15 12:05] zamotany commented on #314
The `exclude` property in the following rule configuration:
[code]
is excluding everything in `node_modules` like `node_modules/@shoutem/ui`.

So you either need to convert it to regex with negative lookahead for `@shoutem` like so:
[code]
or use `include` property to apply this rule only to Shoutem:
[code]

I recommend to use 2nd approach with `inlude` as the first one will apply `babel-loader` t

[2017-12-15 14:49] sky-franciscogoncalves commented on #314
Thanks @Krizzum, @zamotany. I was able to set it up on iOS, I had to do one more change though.

[code]

On the other hand, on Android I'm getting:

[code]

[2017-12-15 15:04] Krizzu commented on #314
@sky-franciscogoncalves Can you post red screen please? To me, seems like something else is not transpiled.

[2017-12-15 16:13] sky-franciscogoncalves commented on #314
@Krizzu Never mind, I have reset the cache and everything's working now.

Really appreciated your help!

[2017-12-15 16:13] #314 closed

[2017-12-17 10:21] Unforgiven-wanda commented on #159
@grabbou Can you please elaborate? Excluding  `pretty-format` didn't solve this for me

[2018-01-02 19:33] mixedCase commented on #272
I believe I have found the cause. Removing babel-loader in modules.rules.use triggers it, adding it back fixes it; even if I wasn't using synthetic imports. Use of spread operator/Object.assign in the webpack config has no impact, @keplersj reflects this, since the spread operator is still being used for module.rules and resolve.extensions in the snippet he posted.

@alper Do you remember wether y

[2018-01-03 11:44] grabbou commented on #159
This has been fixed few versions ago - are you running latest haul?

[2018-01-03 13:06] Unforgiven-wanda commented on #159
I kinda gave up on it since. But will try it again on my next project :)

[2018-01-03 13:10] grabbou commented on #159
Okies, happy to help in that case. Feel free to sign up on
slack.callstack.com for better "real-time" support ;)

On Wed, 3 Jan 2018 at 14:06 Unforgiven-wanda <notifications@github.com>
wrote:

[2018-01-03 14:39] zamotany commented on #311
Haul uses `react-hot-loader` which allows to use either a loader (`react-hot-loader/webpack`) or a babel plugin (`react-hot-loader/babel`), which we add in default webpack config. As for TS, using a loader might be a better option.

Closing since it looks like the issue is resolved and due to inactivity.

[2018-01-03 14:39] #311 closed

[2018-01-03 14:46] zamotany commented on #272
@thymikee `babel-register` _flow_ looks fine to me. That being said I also had this issue couple of times, but usually it was gone after few Haul restarts, so I'm not aware what was the cause.

[2018-01-04 20:07] tazsingh opened #317 "HMR does not work on device"
### Current Behavior
When using HMR, the host is hardcoded to `localhost` which does not load across network as the server is running on whatever IP from my machine.

Therefore the device does not pick up the server and I get an error.
Even with HMR disabled from the device, the JS bundle still fails to load due to the HMR configuration being provided as build time by Webpack.

### Expected Behavi

[2018-01-05 07:15] SanyasiraoM opened #318 "Unhandled JS Exception: Can't find variable self"
When I run "npm run haul start -- --platform ios", It's loading 100% and says you are ready to run. But after installing app through xcode, It's showing error as in image. I don't know what am I missing, But it's working fine in other systems with same versions I mentioned below

![img_0043](https://user-images.githubusercontent.com/8909624/34599011-50f15e5e-f216-11e7-834a-dd66638e69e5.PNG)

### H

[2018-01-05 07:57] Krizzu commented on #318
Hey @SanyasiraoM

This IP address (192.168.2.25.xio.io) looks very odd to me.
Can you show me the content of your `/etc/hosts` files? Might be that your `localhost` is mapped to something different than 127.0.0.1

[2018-01-05 09:03] SanyasiraoM commented on #318
@Krizzu Thanks for reply,

Below is my /etc/hosts file

##
# Host Database
#
# localhost is used to configure the loopback interface
# when the system is booting.  Do not change this entry.
##
127.0.0.1	localhost
255.255.255.255	broadcasthost
::1             localhost

[2018-01-05 10:10] SanyasiraoM commented on #318
As suggested in https://github.com/facebook/react-native/issues/12786, DISABLE_XIP also did not work for me

[2018-01-05 10:49] zamotany commented on #317
This issue is tied specifically to iOS only, Android devices still use `localhost` adress for HMR client/server communication.

[2018-01-05 12:02] Krizzu commented on #318
Once you disable XIP, do you still get an address ip `192.168.2.25.xip.io` in error message ?

[2018-01-05 13:00] zamotany commented on #318
Does is happen in iOS simulator or only on real device?

[2018-01-05 13:27] SanyasiraoM commented on #318
@zamotany Real device

[2018-01-08 11:12] zamotany commented on #318
It's hard to tell what might be causing this problem. I don't believe the issue is connected to installing app with xcode - I've done it multiple times without a red screen.
@SanyasiraoM Can you create a fresh project to see if the error is still being thrown?

[2018-01-09 14:48] SanyasiraoM commented on #318
@zamotany Will try it

[2018-01-09 23:29] Burnsy opened #322 "Typescript + Haul + Storybook"
Hey Devs,

I have been working on adding typescript to my workflow, before I was running Haul + storybook. As seen on the storybook repo ([link](https://github.com/storybooks/storybook/tree/master/app/react-native)) it suggests how to use haul with it. That worked as expected using a second configuration file. But adding in typescript Recipe makes it not quite work In src. By the looks of it all t

[2018-01-10 06:39] Krizzu commented on #322
Hey @Burnsy

Can you show me your config file? (according to storybook, it should be named like `webpack.haul.storybook.js`)

[2018-01-10 11:13] zamotany opened #323 "Implement new config"
Historically, the configuration has been done through the file `webpack.haul.js`. This proposal aims to achieve 2 things,

1. Simplify configuring commonly needed features, such as including folders for transpilation
2. Separate webpack configuration so that other tools can use it, e.g. - eslint-resolver-webpack
3. Have flexibility to configure Haul's options independent from Webpack

With the pro

[2018-01-10 11:13] zamotany commented on #265
Closed in favour of #323

[2018-01-10 11:13] #265 closed

[2018-01-10 11:19] zamotany opened #324 "Get rid of `exclude` property and transpile `node_modules`"

[2018-01-10 11:23] zamotany opened #325 "Prototype website with docosaurus"

[2018-01-10 11:23] zamotany commented on #93
See #325

[2018-01-10 11:23] #93 closed

[2018-01-10 11:29] zamotany opened #326 "Node API"
To use the Node API, you need to create a compiler:

[code]

This issue assumes that #287 is done.

[2018-01-10 11:30] zamotany commented on #195
See #323

[2018-01-10 11:30] #195 closed

[2018-01-12 12:50] #272 closed

[2018-01-13 12:50] xuyunan opened #329 "Xcode error"
I got an error when run app in xcode:

sed: /Users/tommy/React: in-place editing only works for regular files
../node_modules/haul/src/utils/haul-integrate.sh: line 19: ${SRC}/packager.sh: ambiguous redirect
Command /bin/sh failed with exit code 1

### Current Behavior

### Expected Behavior

### Haul Configuration (webpack.haul.js)

### Your Environment

| software         | version
| -----------

[2018-01-14 10:13] jrwpatterson opened #330 "HMR not refreshing"
I think I have followed all the parts on the implementing react-native with HMR.

I'm getting the following logs:
[Haul HMR] Client connected, however until you `Enable Hot Reloading`, you will not get any updates
hotClient.js?485c:24 [Haul HMR] Bundle rebuilding
hotClient.js?485c:24 [Haul HMR] Bundle rebuilt in 1158ms
process-update.js?e13e:41 [HMR] Checking for updates on the server...
process-u

[2018-01-14 15:15] jrwpatterson commented on #330
I have enabled it...

[2018-01-14 15:53] thymikee commented on #330
Worth to note that you also need to have Live Reload disabled for HMR to work (ideally Haul should handle this for you though).

[2018-01-14 22:31] jrwpatterson commented on #330
Its really weird here is a screen grab of my emulator

[2018-01-14 23:00] zamotany commented on #330
@jrwpatterson

There's a high chance that the HMR is not working for you, because your component might have not been _registered_ by `react-hot-loader`.

Usually this is done in Babel config by using `react-hot-loader/babel` plugin. However since, you are using TS, this means that `.ts`/`.tsx` files will (probably) be processed **only** by `awesome-typescript-loader`.

So, here's what you can do:

[2018-01-14 23:24] jrwpatterson commented on #330
@zamotany I actually had that before, but still no dice exactly the same behavor,

still saying that the HMR isn't enabled, which it is, tried rebooting computer, this is happening on a collegues computer running the same code not entirely sure what todo, the logs show the right files getting picked up.

... anything else you can think of... we are currently building a pretotype, but I want this r

[2018-01-15 03:01] simonbuchan commented on #194
Looks like RN doesn't do this any more? https://github.com/facebook/react-native/commit/7f3090e4530cc87c73ae7b3cdbdd6b28c8172ed7

That said, `babel-preset-env` with `targets: { ios: ? }` (not sure what version used in Android) would probably be closer in terms of not transpiling JavaScriptCore supported syntax, supports latest standard (not proposals) for ECMAScript and has support for polyfilling

[2018-01-15 08:04] hedgepigdaniel opened #331 "adb reverse command assumes adb is in /opt"
### Current Behavior

When running haul, I see the message ` WARN  Error running adb reverse tcp:8081 tcp:8081: /bin/sh: /opt/android-sdk/platform-tools/adb: No such file or directory`

### Expected Behavior

It should correctly run adb, which is available in my `$PATH` at `/usr/bin/adb`

### Your Environment

I'm running Arch Linux, and the problem occurs with this package installed: https://www.

[2018-01-15 11:01] zamotany commented on #330
@jrwpatterson

This message doesn't mean there's something wrong, it actually mean the opposite thing - _Client connected_, the rest is just info for you to remember to enable it in developer tools.

Let's cross out the first possible reason why HMR is not working:
components are not _registered_ by `react-hot-loader`.

In order to do it, you need to get the bundle source using some REST/HTTP clie

[2018-01-15 11:42] satya164 commented on #194
That just removes hardcoded dynamic import transform. It's not related to this.

[2018-01-15 15:15] jukben commented on #331
Hi @hedgepigdaniel I agree that we should run `adb` from path at first. I've created the PR for it, so let's wait what others think.

[2018-01-17 08:01] timwangdev commented on #120
Hi @satya164 ,
`<WebView source={require('./local/html')} />` loading raw text instead of html from package. Is this related to haul?
Thanks

[2018-01-17 08:23] Krizzu commented on #120
@timwangdev

I'd suggest to have a look at docs https://nodejs.org/api/modules.html#modules_file_modules.

Basically, node tries to resolve `html.js` file. You must explicitly add `.html` extension

[2018-01-17 08:37] timwangdev commented on #120
Sorry, my typo, Fixed

[2018-01-17 08:54] Krizzu commented on #120
In that case, have a look at `html-loader` - https://github.com/webpack-contrib/html-loader

[2018-01-17 10:03] #331 closed

[2018-01-17 13:08] zamotany commented on #307
With those steps, I cannot reproduce the issue. It's building fine for me.

[2018-01-17 18:42] Traviskn opened #334 "React Native 0.52 Android Delta Bundles"
In the latest version of react native, android by default tries to load a new 'delta' bundle.
(See: https://github.com/facebook/react-native/blob/79e24ede40b2508aaa77b8ff3876d3dbf4cfe6d8/ReactAndroid/src/main/res/devsupport/xml/preferences.xml)
This results in an error when using Haul because the app requests an `index.delta` file that is not being served.

The fix is simple though, open the dev m

[2018-01-17 20:54] bbodi commented on #307
Thanks for your feedback.

I tried it again, and now it works also for me.

So this issue is solved.
Thanks.

[2018-01-17 20:54] #307 closed

[2018-01-17 21:37] hedgepigdaniel commented on #323
This looks useful - e.g. one useful option outside the webpack config might be to customize the webpack stats output.

[2018-01-17 21:48] hedgepigdaniel commented on #194
This would be awesome - another advantage of this would be that webpack can warn when you import symbols from a file that are not exported. This saves lots of unecessary headache.

Related issue: https://github.com/react-community/react-native-maps/issues/1970 (there is an example repo there with a possible way of setting it up now, but it relies on manually setting up `.babelrc` with various plug

[2018-01-17 22:05] simonbuchan commented on #323
So to be clear, one could do:

[code]

to have a single webpack config file? And this would not munge the final output, such as injecting polyfills (e.g. if I'm already injecting `core-js`), babel 6 with `react-native` preset etc?

[2018-01-18 06:56] timwangdev opened #335 "DevServer return incorrect Content-Type for assets files"
### Current Behavior

`GET /assets/ios/index.html 200`
[code]

### Expected Behavior

Should return correct Content-Type based on file extension names.

### Haul Configuration (webpack.haul.js)

### Your Environment

| software         | version
| ---------------- | -------
| Haul             |  1.0.0-beta.12
| react-native     |  0.52.0
| node             | 8.9.1
| npm or yarn      | yarn 1.3.2

[2018-01-18 06:57] timwangdev commented on #335
@joearasin

And related comment https://github.com/callstack/haul/issues/120#issuecomment-358226553

[2018-01-18 07:09] Krizzu commented on #335
Can you tell more about your use case?

[2018-01-18 07:56] timwangdev commented on #335
@Krizzu I was trying to use local html file for `WebView`
using `<WebView source={require('./some.html')} />`.

On dev mode it displays raw html string on the view but works fine in production bundle.

After inspection I found all the assets files returned from haul dev server have incorrect content-type header as `application/javascript`.

I'm not familiar with webpack dev server but I think ther

[2018-01-18 08:05] satya164 commented on #335
Webpack dev middleware has an option to set mimetypes: https://github.com/webpack/webpack-dev-middleware#mimetypes

We can add the mimetypes for all the extensions we support by default. PR welcome :)

[2018-01-18 08:43] Krizzu commented on #335
@timwangdev What's expected from `require('./some.html')` ? If you receive `raw html`, you can pass it to the WebView via its source prop

[code]

[2018-01-18 09:18] timwangdev commented on #335
@Krizzu Webpack assetLoader https://github.com/callstack/haul/blob/master/src/loaders/assetLoader.js will transform `.html` module to something like this.
[code]
This one is valid and react-native will try to fetch this resource from local when rendering the screen.

`<WebView source={{html: rawHtml}} />` is also working by using [webpack-contrib/raw-loader](https://github.com/webpack-contrib/raw-

[2018-01-18 10:47] dave-irvine commented on #334
This is covered by a PR already :) https://github.com/callstack/haul/pull/327

[2018-01-18 11:42] zamotany commented on #323
@simonbuchan

Not really, [our Webpack config](https://github.com/callstack/haul/blob/master/src/utils/makeReactNativeConfig.js#L61-L206) is specifically tailored for React Native, with custom loader, resolvers and other tweaks, so unless you want to recreate it in your config and maintain it yourself, you would need to use `createWebpackConfig` from `haul`.

As far as polyfills are concerned, we

[2018-01-18 21:55] simonbuchan commented on #323
I am aware. Having just spent a bunch of time trying to get haul to work with my existing code and webpack config 😿

Consider optimizing for being able to share with "standard" webpack configs, since that's a very useful use-case. In particular, having a "node_modules/react-native only" config that won't try to transpile user code would be nice, since it seems like you could simply use `webpack-me

[2018-01-19 10:29] dave-irvine opened #337 "Babel-loader failing on transpiling `react-native-css`"
So https://github.com/callstack/haul/pull/328 is brand new but doesn't appear to be working for me.

I've pulled the latest haul from GitHub and checked that the copy I have in node_modules has the latest code added by the referenced PR.

Copy @zamotany as he wrote the PR.

### Current Behavior

* Create a fresh RN app, add Haul and init as per usual.
* Run Haul to check everything is OK.
* Add `r

[2018-01-19 11:02] zamotany commented on #337
#328 was not made to fix this specific problem you're having. It only affected Haul codebase + `webpack.haul.js`, not the project itself.

The reason why you're having this issue (this is my guess) is because, `react-native-css` has `.babelrc` or `babelConfig` in `package.json`, so `babel-loader` will read it and try to transpile it, since it doesn't match the `exclude` regex: `/node_modules\/(?!r

[2018-01-19 11:33] dave-irvine commented on #337
Ok perfect, its just me misunderstanding the intention of your PR then. In this case my issue is not with Haul its with my individual config so I just need to make the changes you suggest.

[2018-01-19 11:33] #337 closed

[2018-01-19 11:41] satya164 commented on #337
We should probably not respect `.babelrc` under `node_modules` by default. It has caused a lot of issues in the React Native repo with metro.

[2018-01-19 11:50] zamotany commented on #337
@satya164 WDYM by _we_? Haul is not respecting any Babel config in `node_modules`. This is `babel-loader` issue, and we cannot do anything with it.

[2018-01-19 11:55] thymikee commented on #334
Closed #334 via #327. Expect it in the next beta release.

[2018-01-19 11:55] #334 closed

[2018-01-19 11:59] thymikee commented on #329
@xuyunan does this help? https://github.com/callstack/haul/issues/234#issuecomment-342728131

[2018-01-21 04:28] ScottPierce opened #338 "Source-maps missing in dev builds"
### Current Behavior

I'm testing out building an app with [Kotlin](https://kotlinlang.org/docs/tutorials/javascript/kotlin-to-javascript/kotlin-to-javascript.html), and compiling sources to JS. Everything seems to be working really well with haul, except for stack-traces. I can debug kotlin sources, and everything. I just see this "can't symbolocate error" every time I see a crash:

[code]

If I

[2018-01-21 15:18] Krizzu commented on #338
Hey, thanks for bringing this up. I've noticed the same warning in my current project, we'll try to investigate it.

[2018-01-21 16:09] ScottPierce commented on #338
Just saw the following error while debugging an exception I created to repro this issue:

[code]

The sourcemaps are definitely there. I'm able to see all the kotlin sources in chrome, and also set breakpoints, even on the line that throws an exception. I'll work on putting a reproducible example project.

[2018-01-21 22:51] simonbuchan commented on #338
Not worth a separate issue, but RN will sometimes ask to symbolicate an empty stack (I think for `console.error()`, e.g. caught by an error boundary), it's a little confusing that returns a 404 too, even if it has the same behavior.

[2018-01-21 23:30] hedgepigdaniel commented on #303
#316 fixes this issue for me

[2018-01-22 08:58] jasesuperhero opened #340 "Can Haul load modules dynamically like a React Native packager?"
React Native Packager can load modules dynamically. For example, we can load jsbundle to the app and use this code to load it to out app:
[code]
But with Haul (Webpack) we should describe all out paths in config file in entry section. Could Haul load bundles in runtime? Or Webpack?
Sorry, if this question is some strange :(

[2018-01-22 10:06] #303 closed

[2018-01-22 10:10] #317 closed

[2018-01-22 10:26] hedgepigdaniel commented on #194
I made a PR to react-native [here](https://github.com/facebook/react-native/pull/17693) to allow that. Not sure when/if they will merge it or reimplement it, but in the meantime, Perhaps haul could use this: https://github.com/hedgepigdaniel/babel-preset-react-native?

Its just a fork of babel-preset-react-native which adds a `"modules"` option much `like babel-preset-env` etc. That way you can ju

[2018-01-22 10:28] hedgepigdaniel commented on #194
Adding `module.strictExportPresence: true` to the default webpack config would also generate errors when importing non existent exports. Saves a huge amount of time.

[2018-01-22 10:53] hedgepigdaniel commented on #340
Webpack [can definitely do that](https://webpack.js.org/guides/code-splitting/), not sure how it fits in to haul and react-native

[2018-01-22 13:52] savelichalex opened #341 "NSURLErrorNetworkConnectionLost error with dev build"
### Current Behavior
Frequently get error while debugging app on device. Error is: `Failed to load bundle(http://(my_ip).xip.io:8081/index.bundle?platform=ios&dev=true&minify=false) with error:(Could not connect to development server.)`
My device in the same wi-fi network.
Packager is started (and I see logs in terminal with GET requests for bundle)

### Expected Behavior

Correct bundle loading

[2018-01-23 09:55] jurby commented on #186
I had the same problem and solved it just by adding:
`// Haul
project.ext.react = [
    root: "../../",
    cliPath: "node_modules/haul/bin/cli.js"
]`

[2018-01-23 11:24] dave-irvine opened #342 "Module not found: Error: Can't resolve 'react-native' in ... (xyz module) when using symlinks"
### Current Behaviour

Not sure if this is so much a bug with haul, or a request for haul config support, but, for example with react-native-vector-icons:

Add react-native-vector-icons from a local copy using `npm link` rather than `npm install`.
Use react-native-vector-icons in code somewhere.
Run haul.
Get errors about various modules that cannot be resolved, like 'react' and 'react-native'.

#

[2018-01-23 14:11] zamotany commented on #342
This is not a Haul bug, it's more of a webpack thing.
Quick and easy workaround is to alias `react` and `react-native` to one place:

[code]

[2018-01-23 15:13] dave-irvine commented on #342
Ah, great.

It might be good to put this info on a Recipes page or something, as doing an alias to resolve this is not a logical leap I would have made, I assumed the problem was that webpack was trying to transpile the modules even though I was trying to tell it to exclude them.

By making this work this enables developing a library of code that can be shared between multiple react native project

[2018-01-23 15:20] satya164 commented on #342
Not sure if we should document it since it's not specific to Haul. If you're using Haul, you should be able to refer to Webpack documentation for tips and gotchas. It'll be nice if it is documented in Webpack docs and we can link to that in our README.

[2018-01-23 15:20] #342 closed

[2018-01-23 18:39] ScottPierce commented on #338
I added log to `simbolicateMiddleware.js` to log the body of the response and this is what I see:

[code]

Is a url for the file acceptable in this case? This seems like it could be why the file can't be found:
`"file":"http://10.0.3.2:8081/index.bundle?platform=android&dev=true&minify=false"`

[2018-01-23 21:16] simonbuchan commented on #338
Given that it doesn't look like `.file` is used at all except for sniffing the running platform for the `--platform all` case, that shouldn't be the problem.

The error comes from `symbolicateMiddleware.js:56`, in `createSourceMapConsumer()` before it even starts mapping frames. Essentially looks like the middleware couldn't find the webpack output file in the webpack file system, which seems odd.

[2018-01-23 22:40] kcjonson opened #343 "Allow running haul as a non interactive child process"
This issue/enhancement is best explained with a bit of background, so bear with me.

At Redfin we work in a “monorepo” and use Lerna and Yarn to manage a large number of private npm packages. These packages range from things like our UI Toolkit and general utilities, to feature code. Each of these packages has its own build and corresponding watch commands. When a developer begins work, we want to

[2018-01-24 00:45] kcjonson commented on #326
What were you thinking the watch api would look like?

[2018-01-24 07:03] Krizzu commented on #343
Hey @kcjonson, thanks for your work in putting this together.
We've been through few internal talks about where Haul is heading and few major conclusions came out of it.
Separating Haul from it's GUI is on our list. We work on dividing Haul into two parts, one being Haul as a tool and other as nice interactive CLI. Also, we'll introduce an event system, where all events across Haul's lifecycle wil

[2018-01-24 08:16] Xing-He commented on #126
@eric-robinson   Hi ,Have you solved this problem?

[2018-01-24 16:57] Burnsy commented on #322
We scrape using storybook for now as it was hard to implement as it is not wrote with typescript in mind.

[2018-01-24 16:57] #322 closed

[2018-01-24 21:48] ScottPierce commented on #338
@simonbuchan Thanks, that was helpful, although I didn't get the `--inspect-brk` to work. Not sure why.

The problem seems to be that it's looking at the following path: `<project directory>/dist`, and `./dist` doesn't exist in my project directory. Where is the webpack output set to, and why would it be looking in the wrong place?

[2018-01-25 00:35] simonbuchan commented on #338
`--inspect-brk` is a shorthand for `--inspect --debug-brk` added in Node 8, so most likely you're using an earlier node if that errors. If the link doesn't work, it must be a chrome-like browser, firefox, IE etc don't implement the `chrome-devtools:///` protocol.

It's in an in-memory FS, just like usual `webpack-dev-server`, see: https://webpack.js.org/api/node/#custom-file-systems so you will ne

[2018-01-25 00:42] ScottPierce commented on #338
So the problem is with `symbolicateMiddleware.js` line 48:
`const base = delve(compiler.outputFileSystem.data, hops);`

`base` has 2 keys. An empty string, and `index.android.bundle`. It then looks for `index.android.bundle.map` and it's not there.

When I run `yarn haul bundle`, the `index.android.bundle.map` file is generated. How would you recommend debugging this further?

[2018-01-25 00:49] ScottPierce commented on #338
You are right. That only generates the `index.android.bundle` file. Would this have anything to do with me using the `source-map-loader`?

[code]

[2018-01-25 00:57] simonbuchan commented on #338
Yeah, looking at it, the dev mode source maps are created by: https://github.com/callstack/haul/blob/master/src/utils/makeReactNativeConfig.js#L134-L136 which is equivalent to `devtool: 'module-eval'`, which will not generate `.map` files.

Blame points at #289 which claims source maps still work with those changes, but that is devtools, while symbolicate is needed for redboxes? @jukben any ideas

[2018-01-25 01:03] ScottPierce commented on #338
Is there any way that I could override this for now and get this working?

[2018-01-25 04:19] ScottPierce commented on #338
I undid the change from that PR locally, and it started working!

I had to make one minor modification though. Here's the old setting for devtool: `devtool: bundle ? 'source-map' : 'eval-source-map',`, and I wasn't seeing filenames or correct line numbers with that. When I changed it to `devtool: 'source-map',`, everything seems great.

Two questions:
1. Why do I only see stacktraces when remote d

[2018-01-25 05:08] simonbuchan commented on #338
Hmm, `devtool: 'eval-*'` is equivalent to the current `plugins: [new EvalSourceMapDevToolPlugin()]`. It looks like the root of the issue is that before #289 non-bundle builds generated both eval and external source maps - eval required for remote debugging, external for symbolicate. This isn't an ideal state either, but see below. (On the other hand, it probably shouldn't be adding `SourceMapDevTo

[2018-01-26 13:33] xuyunan commented on #329
@thymikee yes, error is gone.

[2018-01-26 13:36] #329 closed

[2018-01-27 14:09] wangbourne opened #345 "do we really need "babel-loader" for react native project under Typescript?"
Currently, i have to use both `babel-loader` and `ts-loader` in `webpack.haul.js`, otherwise, if without `babel-loader`, following error happens when running storybook.  My question is: why do i have to use `babel-loader` and what's the reason for that?

[code]

[2018-01-30 02:47] denny64 opened #346 "HELP: Doesn't work with rn-placeholder"
Getting this error on compile.
<img width="373" alt="screen shot 2018-01-30 at 1 44 43 pm" src="https://user-images.githubusercontent.com/9099997/35545589-e76b3cae-05c3-11e8-9e44-b145627fe233.png">

Current setup
[code]

[2018-01-30 21:50] ericketts commented on #133
@satya164 I would also say that some documentation on migrating from Haul back to the vanilla RN packager would be useful (since the process of integrating Haul is automated but there is no option or documented process for accomplishing the inverse).

[2018-01-30 23:08] satya164 commented on #133
@ericketts if you use got for version control, git revert commit-hash will do the job!

[2018-01-31 03:17] mattpetrie opened #349 "scriptURL is null when building for Release with Xcode"
### Current Behavior

When building with the release build configuration in Xcode, I'm getting the following build error:
[code]
The error is referring to the minified version of [this line](https://github.com/callstack/haul/blob/172c93acf759e43ee93f1825e683a420a9f8784c/src/utils/polyfillEnvironment.js#L45), so it seems that `NativeModules.SourceCode.scriptURL` being imported from react-native is

[2018-01-31 04:49] ericketts commented on #133
@satya164 for sure and that's the current plan if I want to undo the integration, just nice to have it documented is all :) (also any manual integration docs serve the purpose just as well)

[2018-01-31 12:57] canercandan opened #350 "does it work with expo?"
I was wondering if `haul` was providing a way to test the mobile app on [expo](https://github.com/expo/expo) thanks.

[2018-01-31 13:16] thymikee commented on #350
We're exploring the possibility to do so, but it requires some internal changes in Haul. Currently it's not possible.
cc @satya164

[2018-01-31 13:31] canercandan commented on #350
@thymikee thanks for your quick feedback, I will keep an eye on the future improvements of Haul. Best

[2018-01-31 19:01] MichelDiz opened #351 "Guide to Expo with Haul. (Question)"
Hi, greetins

I wanna create aliases using Haul with Exp I got some deadlock with:
[code]
I'm able to do it in React-Native cus RN has .xcodeproj

So, Haul has no Expo suport?

Best Regards.

[2018-01-31 19:07] Krizzu commented on #351
Hey Michel,

Expo gives no access to `iOS` or `android` projects, so if you want to use Haul with Expo, you need to `eject` it.

[2018-01-31 19:21] MichelDiz commented on #351
Hey, let me question one more thing. Why this kit https://github.com/sysgears/apollo-universal-starter-kit/tree/fbf315c8fb1d616c9fb4303982d76d1b93d5f2a2/packages/mobile

Use Haul with Expo?

I tried to understand how they use it, but seems not as I want (I just wanna the aliases thing).

Thanks a lot xD

[2018-02-02 15:45] Traviskn opened #352 "Android: Configure location of webpack.haul.js file"
I have my webpack.haul.js file located in a `config` folder in my root directory.  During development I've customized my npm start script to pass the config option: `haul start --config config/webpack.haul.js`

When I try to build a release APK for android using `./gradlew assembleRelease` however, the cli cannot find the new location of my haul webpack config, as it expects it to be in the root d

[2018-02-02 21:30] thymikee opened #353 "Improve babel transforming perf"
This is just to keep track of these 2 issues:
- [ ] https://github.com/babel/babel-loader/issues/571
- [ ] https://github.com/babel/babel-loader/issues/572

The plan is to first fix these problems upstream, then just bump dependency.
If that doesn't work however, we'll fall back to custom `@callstack/babel-loader` or a patch using `patch-package` instead, with possibility to add parallelization be

[2018-02-07 13:47] jukben commented on #323
As a team member of our Callstack Open Source division – I'm on it. 💪

[2018-02-07 16:04] Traviskn commented on #140
I still run into this issue on new projects when installing the latest version of haul, is there a reason this issue has been closed?

[2018-02-07 16:35] satya164 commented on #140
@Traviskn a pr adding `core-js` to haul's dependencies is welcome

[2018-02-07 16:50] Traviskn commented on #140
sounds good, I'd be glad to help contribute

[2018-02-07 21:08] thymikee opened #356 "OSE Umbrella"
This is an umbrella of OSE team to keep track on things want to do:

- [x] Workers (https://github.com/callstack/haul/pull/339) – @zamotany & @Krizzu
- Webpack 4 migration:
  - [x] create `webpack-next` branch – @thymikee
  - [x] bump the Webpack version & adjust config – @kpsroka
  - [x] ~update loaders & resolvers~ (probably not necessary to change) - @satya164
- [x] Implement new config (#323)

[2018-02-07 21:41] zamotany commented on #356
What about workers?

[2018-02-07 21:43] thymikee commented on #356
It's technically not a strict part of OSE group, but hope we can help somehow. Added now!

[2018-02-08 12:05] MaheshNandam commented on #251
I have deleted this line from build.gradle file, its working fine now,

compile 'com.airbnb.android:lottie:2.5.0-rc1'

[2018-02-09 15:44] Bolik commented on #349
We have the same bug

[2018-02-10 21:36] #140 closed

[2018-02-12 09:47] czystyl commented on #349
@Bolik Can you give your configuration?
@mattpetrie Can you create a repository in which it appears?

[2018-02-12 14:46] Bolik commented on #349
const path = require('path'),
      webpack = require('webpack')

module.exports = ({ platform }, {module, resolve, plugins}) => ({
    entry: './src/index.tsx',
    devtool: false,
    module: {
        ...module,
        rules: [
            {
                test: /\.ts(x?)$/,
                use: [
                    {loader: 'babel-loader'},
                    {
                        load

[2018-02-12 14:48] Bolik commented on #349
It's produces only in production mode

[2018-02-12 14:52] satya164 commented on #349
Makes sense that `scriptURL` is not available in production. Changing `global.DEV_SERVER_ORIGIN = scriptURL.match(/(^.+)\/index/)[1];` to `global.DEV_SERVER_ORIGIN = scriptURL ? scriptURL.match(/(^.+)\/index/)[1] : null;` should fix the issue. What do you think @zamotany ?

[2018-02-12 15:33] ajcrites opened #362 "Merge webpack plugin configuration / DefinePlugin"
### Current Behavior
If you add a `DefinePlugin` section to your `webpack.haul.js` / config plugins, it will override the default DefinePlugin stuff set up for you by `makeReactNativeConfig`. For example, you could have a `webpack.haul.js` like:

[code]

If you try to run your app, you'll get mysterious errors such as `undefined variable __DEV__`, but after looking into it the problem is that the

[2018-02-13 07:08] Krizzu commented on #351
Hey @MichelDiz, sorry for coming back so late.

To answer that question - They don't use Haul to bundle JS, they just use Haul's babel plugin (https://github.com/sysgears/apollo-universal-starter-kit/blob/3fcd6c5e767a9f448c641b041f7be77d998cf99c/.babelrc.native#L4). It's stated in their README.

[2018-02-13 07:08] #351 closed

[2018-02-13 07:13] Krizzu commented on #345
This looks like a problem of transpiling JSX. Babel-loader uses `react-native` preset, that has JSX transpiling included.

[2018-02-13 08:57] czystyl commented on #349
Not exactly because scriptUrl is always a string but regex not matched then we try to get [1] element form null and BOOM!  I created PR to fix this.

[2018-02-13 09:13] #349 closed

[2018-02-13 11:37] thymikee commented on #345
@wangbourne yes we need `babel-loader` to work by default with React Native projects. If you use TypeScript, feel free to override the loader with yours, as stated in [our docs on TypeScript](https://github.com/callstack/haul/blob/f8c7a1034b49ddc4af0d2395b40a2a73d269f6ce/docs/Recipes.md#typescript).

[2018-02-13 11:37] #345 closed

[2018-02-13 17:33] ajcrites commented on #362
The base config gets passed as an argument to the exported function to generate the app configuration. This allows you to spread the plugins as well:

    module.exports = (_, { plugins }) => ({
      entry: `./index.js`,
      plugins: [
        new webpack.DefinePlugin({
          ...
        }),
        ...plugins,
      ],
    });

[2018-02-13 23:39] grahamlyus opened #367 "assetLoader android path issue when bundling"
### Current Behavior
Importing images from the root folder or from a relative path outside of the root folder does not work when bundling for android. This works in a project created with `react-native init`

I've created a repo (https://github.com/grahamlyus/ImageHaul) that reproduces the issue (make sure the haul server is not running, otherwise assets load from localhost:8081).

Running `yarn h

[2018-02-14 07:20] simonbuchan commented on #338
I've needed to re-implement this for a work project, since I'm dynamically loading sources at runtime, so I have multiple bundles. Here's the relevant code that pulls out source maps and looks them up:

[code]

[code]

If nobody else picks this up, I'll see if I can cook up a PR for this.